<template>
  <div ref="header" id="header" class="header headroom">
    <div class="container-fluid px-md-4">
      <div class="row align-items-center">
        <div class="col me-auto header--logo d-flex align-items-center">
          <router-link :to="'/'"><img src="~/assets/images/ds-logo-white.svg" alt="" class="img-fluid"></router-link>
        </div>
        <div v-if="!isLoggedIn && (Object.keys(this.$route.matched[0].props).length === 0 || this.$route.matched[0].props.default.type !== 'staticPage')" class="col-auto d-none d-lg-block" data-bs-toggle="modal" data-bs-target="#loginModal">
          <ds-button theme="white btn-white-text" rounded size="lg" button-label="Belépés" :img="require('~/assets/images/User_profile_pic_32x32px.png')" />
        </div>
        <div v-if="isLoggedIn" class="col-auto d-none d-lg-block">
          <profile-button />
        </div>
      </div>
    </div>
    <ds-navigation :menu-tree="isLoggedIn ? headerMenuLoggedIn : headerMenu" :logged-in="!!isLoggedIn" />
  </div>
</template>

<script>
  import DsButton from '~/components/DsButton';
  import DsNavigation from '~/components/Header/Navigation';
  import Headroom from 'headroom.js';
  import ProfileButton from '~/components/Header/ProfileButton';

  const headerMenu = [
    {
      label: 'A DermaSoulról',
      hash: 'dermasoulrol'
    },
    {
      label: 'Hogyan Működik?',
      hash: 'hogyan_mukodik'
    },
    {
      label: 'Mennyibe kerül?',
      hash: 'mennyibe_kerul'
    },
    {
      label: 'Gyakori kérdések',
      hash: 'gyakori_kerdesek'
    }
  ];

  const headerMenuLoggedIn = [
    {
      label: 'Témaköreim',
      to: '/topics'
    },
    {
      label: 'Kedvenc gyakorlataim',
      to: '/favourites'
    },
    {
      label: 'Előfizetésem',
      to: '/subscribe'
    }
  ];

  export default {
    name: 'DsHeader',
    components: {
      ProfileButton,
      DsNavigation,
      DsButton
    },
    data() {
      return {
        headerMenu: headerMenu,
        headerMenuLoggedIn: headerMenuLoggedIn,
        loggedIn: false
      }
    },
    computed: {
      isLoggedIn () {
        console.log(this.$route.name);
        return this.$route.name === 'topics' ||
          this.$route.name === 'favourites' ||
          this.$route.name === 'topics-one' ||
          this.$route.name === 'topics-two' ||
          this.$route.name === 'topics-three' ||
          this.$route.name === 'topics-four' ||
          this.$route.name === 'topics-five' ||
          this.$route.name === 'topics-six' ||
          this.$route.name === 'topics-seven' ||
          this.$route.name === 'topics-eight' ||
          this.$route.name === 'topics-nine' ||
          this.$route.name === 'topics-ten' ||
          this.$route.name === 'profile' ||
          this.$route.name === 'subscribe' ||
          this.$route.name === 'topics-subscribed';
      }
    },
    mounted () {
      new Headroom(this.$refs.header, {
        offset: 64,
        onPin: () => {
          this.$emit('headerPinned', true);
          this.$store.commit('scroll-menu/toggleMenu', true);
        },
        onUnpin: () => {
          this.$emit('headerPinned', false);
          this.$store.commit('scroll-menu/toggleMenu', false);
        },
        onTop: () => {
          setTimeout(() => {
            this.$emit('headerPinned', false);
            this.$store.commit('scroll-menu/toggleMenu', false);
          }, 100);
        }
      }).init();
    }
  };
</script>

<style lang="scss" scoped>
  .header {
    @include media-breakpoint-up(lg) {
      background: linear-gradient(90deg, #BE6E45 0%, #BE6E45 0.01%, #FDE0CB 100%, #FDE0CB 100%), $white;
    }

    background-color: $ds-brown;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: top .2s ease-in-out;

    &.headroom--unpinned {
      position: fixed;

      @include media-breakpoint-up(lg) {
        top: -4.5rem;
      }
    }

    .container-fluid {
      padding-top: 0.625rem;
      padding-bottom: 0.625rem;
    }

    &--logo {
      @include media-breakpoint-up(lg) {
        height: 3.25rem;
      }
    }
  }
</style>
