<template>
  <div>
    <nav id="navbar" class="navbar navbar-expand-lg p-0" aria-label="Vízszintes menü" role="navigation">
      <div class="container-fluid px-md-4">
        <button class="hamburger hamburger--collapse navbar-toggle collapsed position-absolute d-flex d-lg-none align-items-center justify-content-center rounded-0" aria-label="Navigációs menü kapcsoló" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" type="button" id="navbarToggle">
          <span class="hamburger-box d-block">
            <span class="hamburger-inner"></span>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="nav navbar-nav align-items-center me-auto">
            <li v-if="!loggedIn && (Object.keys(this.$route.matched[0].props).length === 0 || this.$route.matched[0].props.default.type !== 'staticPage')" class="nav-item d-lg-none py-3 w-100" data-bs-toggle="modal" data-bs-target="#loginModal">
              <ds-button theme="white btn-white-text" rounded size="lg" button-label="Belépés" :img="require('~/assets/images/User_profile_pic_32x32px.png')" stretch text-align="start" />
            </li>
            <li v-if="loggedIn" class="nav-item d-lg-none py-3 w-100">
              <profile-button @click="closeNavbar" />
            </li>
            <template v-if="Object.keys(this.$route.matched[0].props).length === 0 || this.$route.matched[0].props.default.type !== 'staticPage'">
              <li v-for="(item, index) in menuTree" class="nav-item text-uppercase">
                <component :is="item.to ? 'router-link' : 'a'" :to="item.to ? item.to : null" class="nav-link" :class="{['active']: index === activeMenuItem}" @click="item.hash ? scrollToElement(item.hash) : null" @click.native="closeNavbar">
                  {{ item.label }}
                </component>
              </li>
            </template>
          </ul>
          <ds-button v-if="$route.name === 'index'" href="https://dermasoul.eu/test" blank-target class="d-none d-lg-inline-block" button-label="Életminőség-felmérés" />
          <div v-if="$route.matched[0].props.default && $route.matched[0].props.default.type === 'staticPage'" class="py-3 py-lg-0">
            <ds-button :href="'/'" size="default-size" router-link stretch button-label="Vissza a főoldalra" />
          </div>
        </div>
        <div class="navbar--overlay" />
      </div>
    </nav>
  </div>
</template>

<script>
  import DsButton from '~/components/DsButton';
  import ProfileButton from '~/components/Header/ProfileButton';
  import {mapState} from "vuex";

  export default {
    name: 'DsNavigation',
    components: {
      ProfileButton,
      DsButton
    },
    props: {
      menuTree: {
        type: Array,
        default: []
      },
      loggedIn: {
        type: Boolean,
        default: false
      }
    },
    data () {
      return {
        menuButtonToggle: false,
        windowWidth: window.innerWidth,
        activeMenuItem: null,
        headerHeight: null,
        navbarHeight: null,
        offsetFlag: 0
      }
    },
    computed: {
      ...mapState('scroll-menu', {
        list: state => state.list,
        headerPinned: state => state.headerMenu
      }),
      scrollSections () {
        return document.querySelectorAll('.scrollSpyHome');
      },
      scrollNavigations () {
        return document.querySelectorAll('.nav-link');
      },
      offsetHelper () {
        return this.windowWidth < 990 ? (this.headerHeight - this.navbarHeight) + 1 : (this.headerHeight - this.navbarHeight) - 6;
      },
      scrollSectionMargin () {
        let sectionMargin;
        if (this.headerPinned) {
          sectionMargin = this.headerHeight;
        } else {
          sectionMargin = this.offsetHelper;
        }
        return sectionMargin;
      }
    },
    mounted() {
      this.$nextTick(() => {
        window.addEventListener('resize', this.onResize);
        window.addEventListener('scroll', this.handleScroll);
        this.headerHeight = document.getElementById('header').offsetHeight;
        this.navbarHeight = document.getElementById('navbar').offsetHeight;
      });
    },
    beforeDestroy() {
      window.removeEventListener('resize', this.onResize);
      window.removeEventListener('scroll', this.handleScroll);
    },
    methods: {
      onResize() {
        this.windowWidth = window.innerWidth;
        this.headerHeight = document.getElementById('header').offsetHeight;
        this.navbarHeight = document.getElementById('navbar').offsetHeight;
      },
      getDimensions (item) {
        const { height } = item.getBoundingClientRect();
        const offsetTop = item.offsetTop;
        const offsetBottom = offsetTop + height;

        return {
          height,
          offsetTop,
          offsetBottom
        };
      },
      makeActive (link) {
        this.scrollNavigations[link] ? this.scrollNavigations[link].classList.add('active') : null;
      },
      removeActive (link) {
        this.scrollNavigations[link] ? this.scrollNavigations[link].classList.remove('active') : null;
      },
      removeAllActive () {
        [...Array(this.scrollSections.length).keys()].forEach((link) => this.removeActive(link));
      },
      handleScroll () {
        const scrollPosition = window.scrollY + this.scrollSectionMargin;
        this.scrollingUp(scrollPosition);
        [...this.scrollSections].find((section, index) => {
          const item = this.scrollSections[index];
          const { offsetBottom, offsetTop } = this.getDimensions(item);
          if (scrollPosition >= offsetTop && scrollPosition <= offsetBottom) {
            this.removeAllActive();
            this.activeMenuItem = index;
            return this.makeActive(index);
          } else {
            this.removeActive(index);
            return this.activeMenuItem = null;
          }
        });
      },
      scrollingUp (offsetTop) {
        let scrollingUp = false;
        scrollingUp = offsetTop > this.offsetFlag;
        this.offsetFlag = offsetTop;
        return scrollingUp;
      },
      scrollToElement (name) {
        const pathName = window.location.pathname;

        const el = document.getElementById(name);
        const offsetTop = el.offsetTop - this.headerHeight;

        if (el) {
          this.closeNavbar();
          window.history.pushState(null, null, `${pathName}#${name}`);

          if (this.windowWidth < 990) {
            window.scrollTo({top: offsetTop, behavior: 'smooth'});
          } else {
            if (this.scrollingUp(offsetTop)) {
              window.scrollTo({ top: offsetTop + (this.headerHeight - this.navbarHeight), behavior: 'smooth' });
            } else {
              window.scrollTo({top: offsetTop, behavior: 'smooth'});
            }
          }
        }
      },
      closeNavbar () {
        const navbarCollapse = document.getElementById('navbarCollapse');
        const navbarToggle = document.getElementById('navbarToggle');
        navbarCollapse.classList.remove('show');
        navbarToggle.classList.add('collapsed');
      }
    }
  }
</script>

<style lang="scss" scoped>
  .navbar {
    @include media-breakpoint-up(lg) {
      background-color: $white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      min-height: 4rem;
    }
    @include media-breakpoint-down(lg) {
      position: absolute;
      left: 0;
      width: 100%;
    }

    background-color: $ds-light;

    &--overlay {
      @include media-breakpoint-down(lg) {
        position: fixed;
        left: 0;
        top: 3.25rem;
        width: 100%;
        height: 100%;
        background-color: $ds-light;
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        transition: .2s ease-in-out;
      }
    }
    &-collapse {
      @include media-breakpoint-down(lg) {
        position: relative;
        z-index: 100;
      }
    }
  }

  .navbar-expand-lg .navbar-nav {
    .nav-item {
      @include media-breakpoint-up(lg) {
        width: auto;
      }

      width: 100%;

      &:not(:last-child) {
        @include media-breakpoint-up(lg) {
          margin-right: 3.125rem;
        }
      }
    }

    .nav-link {
      padding: 0.75rem 0;
      position: relative;
      color: $body-color;
      font-weight: 700;
      font-family: 'Montserrat', sans-serif;
      font-size: 0.875rem;
      cursor: pointer;

      @include media-breakpoint-up(lg) {
        padding: 1.25rem 0;
      }

      &:before,
      &:after {
        content: '';
        height: 2px;
        width: 0;
        background-color: $ds-brown;
        transition: all .2s ease-in-out;
        position: absolute;
        bottom: 0;
      }

      &:before {
        left: 50%;
        @include media-breakpoint-down(lg) {
          left: 0;
        }
      }

      &:after {
        right: 50%;
        @include media-breakpoint-down(lg) {
          display: none;
        }
      }

      &.active,
      &.nuxt-link-active,
      &:hover {
        color: $ds-brown;
        &:before,
        &:after {
          width: 100%;
          @include media-breakpoint-up(lg) {
            width: 50%;
          }
        }
      }
    }
  }

  .navbar-toggle {
    right: 0.375rem;
    top: -2.625rem;
    padding: 0.5rem 0.625rem;
    &:focus {
      box-shadow: none;
    }

    &:not(.collapsed) {
      ~ .navbar--overlay {
        opacity: 1;
        visibility: visible;
      }
    }
  }
</style>
