<template>
  <div class="dropdown rounded-4">
    <button class="btn bg-white dropdown-toggle d-flex align-items-center rounded-4 w-100" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="~/assets/images/User_profile_pic_32x32px.png" alt="" width="32" class="me-10 img-fluid">
      <span class="dropdown-toggle--label me-10 overflow-hidden position-relative">mintamarta@gmail.com</span>
    </button>
    <ul class="dropdown-menu rounded-4 rounded-top-0 overflow-hidden p-0" aria-labelledby="dropdownMenuButton1">
      <li><router-link :to="'/profile'" class="btn btn-white-secondary text-uppercase d-block w-100 rounded-4 rounded-0 p-3 text-start" @click="click()">Fiók beállítások</router-link></li>
      <li><a class="btn btn-white-secondary text-uppercase d-block w-100 rounded-4 rounded-top-0 p-3 text-start" @click="click()">Kijelentkezés</a></li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: 'ProfileButton',
    methods: {
      click () {
        return this.$emit('click');
      }
    }
  }
</script>

<style lang="scss" scoped>
  .dropdown {
    @include media-breakpoint-up(lg) {
      transition: box-shadow .2s ease-in-out;
      &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }

    &-toggle {
      padding: 1.063rem 1rem;

      &--label {
        @include media-breakpoint-up(lg) {
          max-width: 320px;
        }
        @include media-breakpoint-down(lg) {
          min-width: calc(100vw - 130px);
          text-align: left;
        }
        max-width: calc(100vw - 130px);
        white-space: nowrap;

        &:after {
          @include media-breakpoint-up(lg) {
            left: 260px;
            right: auto;
          }
          content: '';
          position: absolute;
          right: 0;
          top: 0;
          width: 60px;
          height: 100%;
          background: linear-gradient(-90deg, rgba(255, 255, 255, 100%) 0%, rgba(255, 255, 255, 0%) 100%);
        }
      }

      img,
      .icon-user {
        margin: -1rem 0;
        display: inline-block;
        vertical-align: middle;
      }

      &:after {
        font-family: 'ds-icon', sans-serif;
        content: '\e92b';
        font-size: 1rem;
        border: none;
        transform: rotate(180deg);
        transition: transform 0.15s ease-in-out;
        margin: -1px 0 -2px auto;
        color: $primary;
      }

      &.show {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        &:after {
          transform: rotate(0);
        }
      }
    }

    &-menu {
      width: 100%;
      border: none;
      border-radius: 0 0 0.625rem 0.625rem;
      margin-top: 0 !important;
      @include media-breakpoint-up(lg) {
        margin-top: -2px !important;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
</style>
