<template>
  <div>
    <ds-content-header>
      <template #title>
        Adatkezelési tájékoztató
      </template>
      <template #subTitle>
        Jelen adatkezelési tájékoztató a www.dermasoul.hu weboldal adatkezelését szabályozza,  kérjük olvassa el alaposan és minden kérdésére válaszolunk.
      </template>
    </ds-content-header>
    <div class="container pb-4">
      <div class="card mb-20">
        <div class="card-body p-md-40">
          <h5>Tisztelt Hölgyem, Tisztelt Uram!</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod
            scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur
            nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo.
            Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae,
            interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras
            at orci vitae dolor facilisis convallis.</p>

          <p>Sed eleifend, sem interdum accumsan facilisis, urna ante rutrum elit, id volutpat ligula mauris
            pellentesque ex. Aliquam interdum dolor nec felis egestas, ut consectetur sem viverra. Sed ex lorem,
            eleifend vel mattis quis, gravida a sapien. Vivamus tristique arcu quis dapibus pellentesque. Cras egestas
            elit at dolor posuere, eget scelerisque sem euismod. Maecenas sed enim ac nisi venenatis porta. Suspendisse
            elementum libero sollicitudin, maximus risus nec, euismod turpis. Duis eleifend sit amet enim pretium
            cursus. Pellentesque id mauris a risus tristique eleifend. Aliquam consequat arcu quis sagittis tincidunt.
            Nulla arcu magna, fringilla non tempor vel, rutrum ac massa.</p>

          <p>Proin non efficitur nunc, eu viverra massa. Praesent sed nisl id dolor mattis dapibus. Proin tristique id
            ligula id placerat. Donec varius odio in nulla blandit tincidunt id at nisi. Curabitur risus enim, bibendum
            porttitor volutpat sed, hendrerit id mauris. Suspendisse laoreet scelerisque sollicitudin. Praesent a leo
            est. Aenean sodales leo elit, id mollis lorem dictum quis. Cras ullamcorper varius eros vitae mollis.
            Phasellus ultricies diam non neque malesuada, ut condimentum nibh luctus.</p>

          <p>Quisque rhoncus ligula ut dui volutpat egestas. Nunc enim felis, varius eget tempor non, egestas sit amet
            purus. Ut augue ex, mollis nec pretium nec, tempor at nisi. Mauris nibh quam, dapibus in malesuada a,
            consectetur sit amet massa. Nullam sed condimentum lacus. Nam aliquet neque et turpis fringilla euismod.
            Nullam pharetra est vitae tempus venenatis. Nullam quis pretium felis. Nullam fringilla velit sit amet
            eleifend porttitor. Phasellus vel tellus pellentesque, molestie augue tristique, posuere enim. Aenean odio
            enim, placerat vel ante at, semper dictum tellus. Fusce varius dictum enim vel sodales.</p>

          <p>Proin a rhoncus erat, nec fermentum neque. Praesent nisl arcu, lacinia eget ultrices non, molestie in ex.
            Fusce ac sapien finibus arcu gravida rhoncus. Aenean consequat leo quis mollis tincidunt. Nam pretium
            ultrices nisl sit amet blandit. Aliquam erat volutpat. Vestibulum vel nunc rutrum, iaculis arcu vitae,
            aliquet arcu. Etiam lorem nulla, dapibus ullamcorper risus sed, euismod scelerisque purus. Nullam aliquam
            turpis maximus erat ultricies facilisis. Quisque convallis facilisis condimentum. Suspendisse eu porta
            felis. Sed ullamcorper vehicula est, a scelerisque justo efficitur ac. Integer blandit, ante ac venenatis
            efficitur, nulla massa luctus metus, non laoreet lacus justo blandit mi. In pellentesque vitae libero quis
            efficitur. Nullam convallis euismod nisi vitae rhoncus.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import DsContentHeader from "~/components/StaticContents/DsContentHeader";

  export default {
    name: "Adatkezelesi",
    components: {
      DsContentHeader
    }
  }
</script>

<style scoped>

</style>
