<template>
  <div>
    <ds-content-header>
      <template #title>
        Általános szerződési feltételek
      </template>
      <template #subTitle>
        Lorem ipsum...
      </template>
    </ds-content-header>
    <div class="container pb-4">
      <div class="card mb-20">
        <div class="card-body p-md-40">
          <h5>Lorem ipsum</h5>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu ornare massa. Donec purus mi, congue
            sit amet lorem eu, volutpat venenatis est. Nullam luctus accumsan volutpat. Curabitur eget fringilla velit,
            non consequat quam. Integer egestas leo dolor, non euismod ante mattis in. Vestibulum vitae consectetur dui.
            Praesent at faucibus mauris. Nullam posuere vel elit gravida molestie. Vivamus consectetur iaculis erat ut
            pharetra. Etiam lacinia, justo quis ultrices posuere, justo ex consectetur quam, eget ullamcorper lorem
            lorem vitae metus. Vivamus eget odio eget enim tincidunt imperdiet at ut augue.</p>

          <p>Nunc tempus aliquam metus tincidunt tincidunt. In placerat quam ut purus blandit tristique. Mauris eu
            massa commodo, volutpat sem quis, commodo lacus. Phasellus luctus ipsum ac lorem molestie, quis sodales ex
            interdum. Duis vestibulum, augue nec convallis dignissim, sapien ante efficitur risus, eget ullamcorper sem
            purus ac tellus. Fusce egestas justo tincidunt enim aliquam, eget aliquam tellus iaculis. Donec auctor nibh
            vitae risus finibus venenatis. Sed et augue sollicitudin, aliquam magna ac, ullamcorper elit. Cras volutpat
            finibus nisi, in tempor nunc lobortis sed. Nulla posuere felis risus, nec finibus risus porttitor sed.
            Suspendisse commodo purus vitae urna pellentesque bibendum. Morbi eu urna dapibus, aliquet quam at, mattis
            metus. Nulla purus nulla, fermentum scelerisque consectetur eu, ultricies at ex. Aenean a interdum lorem.
            Aliquam sollicitudin augue metus, et pulvinar erat vulputate ac. Duis congue arcu orci, nec commodo mi
            scelerisque sit amet.</p>

          <p>Ut porttitor, elit a ullamcorper sagittis, diam nisi congue mauris, id euismod nulla dui quis enim.
            Phasellus id consectetur lorem. Duis placerat, nibh sit amet auctor maximus, nunc dolor aliquet dui, eu
            sodales velit urna vitae justo. Nunc ut urna ac velit interdum feugiat at vel tellus. Curabitur risus
            tortor, consectetur non lacus ut, vulputate scelerisque libero. Sed id lorem ligula. Pellentesque a nisl
            justo. Fusce accumsan vitae diam sed sagittis. Nulla at sagittis magna, ut porttitor elit. Phasellus augue
            ipsum, blandit ut cursus sed, dapibus quis ex. Curabitur elementum fermentum justo at venenatis. Curabitur
            gravida vel elit ac tincidunt. Etiam egestas lectus diam, ut venenatis massa mollis non. Nunc sit amet velit
            a augue fermentum posuere. Nunc neque mi, molestie ac pulvinar non, rhoncus vel dolor.</p>

          <p>Nulla in lectus magna. Donec neque felis, ornare id mollis sed, sollicitudin et nisi. Fusce pulvinar
            mauris vitae nulla blandit, sit amet dapibus mi pellentesque. Donec nulla ligula, posuere ut leo ut,
            vehicula euismod elit. Cras ligula lacus, faucibus sed enim a, elementum dignissim nulla. Nunc mauris purus,
            suscipit et magna vitae, laoreet tempus eros. Sed pretium dapibus volutpat. Curabitur nulla elit, ornare et
            consequat ut, rutrum at mi. Nam ut sem egestas, rutrum risus sit amet, consequat felis. Nulla diam ex,
            dapibus ac elementum quis, suscipit nec velit. Curabitur justo turpis, mattis in venenatis vel, blandit eget
            neque. Nulla sit amet porta nisl. Proin aliquam velit lectus, sit amet laoreet augue auctor et.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import DsContentHeader from "~/components/StaticContents/DsContentHeader";

  export default {
    name: "ASZF",
    components: {
      DsContentHeader
    }
  }
</script>

<style scoped>

</style>
