<template>
  <div class="ds-content-header d-flex align-items-center position-relative" :style="{'--backgroundImage': `url(${bgImage})`, '--backgroundImageMobile': `url(${bgImageMobile})`}">
    <div class="container position-relative">
      <h1 class="mb-0">
        <slot name="title" />
      </h1>
      <p class="font-weight-black mb-0">
        <slot name="subTitle" />
      </p>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'DsContentHeader',
    props: {
      bgImage: {
        type: String,
        default: require('~/assets/images/static-content-bg.jpg')
      },
      bgImageMobile: {
        type: String,
        default: require('~/assets/images/static-content-bg_m.jpg')
      }
    }
  }
</script>

<style lang="scss" scoped>
  .ds-content-header {
    min-height: 240px;
    @include media-breakpoint-up(md) {
      background-image: var(--backgroundImage);
    }
    background: {
      repeat: no-repeat;
      position: center;
      image: var(--backgroundImageMobile);
      size: cover;
    };

    p {
      max-width: 800px;
    }
  }
</style>
