<template>
  <div>
    <ds-content-header>
      <template #title>
        Impresszum
      </template>
    </ds-content-header>
    <div class="container pb-4">
      <div class="row">
        <div class="col-md-5">
          <div class="card mb-20">
            <div class="card-body">
              <h5>Tárhelyszolgáltató adatai</h5>
              <p class="mb-0">
                <strong>XYZ Kft.</strong><br>
                Cím: 1111. Budapest Valamilyen utca 2.<br>
                Telefon: +36 111 222 333<br>
                Email: <a href="">mail@domain.hu</a>
              </p>
            </div>
          </div>
          <div class="card mb-20">
            <div class="card-body">
              <h5>Szakmai kapcsolattartó</h5>
              <p class="mb-0">
                <strong>Kiss Jolán</strong><br>
                Telefon: +36 99 666 5544<br>
                Email: <a href="">info@domain.com</a>
              </p>
            </div>
          </div>
          <div class="card mb-20">
            <div class="card-body">
              <h5>Fotóhasználat</h5>
              <p class="mb-0">
                A weboldalon használt fotók  forrása:<br>
                <a href="http://www.unsplash.com" target="_blank">www.unsplash.com</a><br>
                <a href="https://pixabay.com/" target="_blank">https://pixabay.com/</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import DsContentHeader from "~/components/StaticContents/DsContentHeader";

  export default {
    name: "Impresszum",
    components: {
      DsContentHeader
    }
  }
</script>

<style scoped>

</style>
