@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?dfns37');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?dfns37#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?dfns37') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?dfns37') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?dfns37##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube {
  &:before {
    content: $icon-youtube; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-facebook-f {
  &:before {
    content: $icon-facebook-f; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-pin {
  &:before {
    content: $icon-pin; 
  }
}
.icon-newsletter {
  &:before {
    content: $icon-newsletter; 
  }
}
.icon-play {
  &:before {
    content: $icon-play; 
  }
}
.icon-bell {
  &:before {
    content: $icon-bell; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-magnifying-glass-plus {
  &:before {
    content: $icon-magnifying-glass-plus; 
  }
}
.icon-hand-holding-dollar {
  &:before {
    content: $icon-hand-holding-dollar; 
  }
}
.icon-graduation-cap {
  &:before {
    content: $icon-graduation-cap; 
  }
}
.icon-gift {
  &:before {
    content: $icon-gift; 
  }
}
.icon-cookie-bite {
  &:before {
    content: $icon-cookie-bite; 
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up; 
  }
}
.icon-angle-down {
  &:before {
    content: $icon-angle-down; 
  }
}
.icon-bars {
  &:before {
    content: $icon-bars; 
  }
}
.icon-check {
  &:before {
    content: $icon-check; 
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left; 
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right; 
  }
}
.icon-comments {
  &:before {
    content: $icon-comments; 
  }
}
.icon-flag {
  &:before {
    content: $icon-flag; 
  }
}
.icon-lightbulb {
  &:before {
    content: $icon-lightbulb; 
  }
}
.icon-circle-info {
  &:before {
    content: $icon-circle-info; 
  }
}
.icon-heart-o {
  &:before {
    content: $icon-heart-o; 
  }
}
.icon-heart {
  &:before {
    content: $icon-heart; 
  }
}
.icon-book-open {
  &:before {
    content: $icon-book-open; 
  }
}
.icon-pen-to-square {
  &:before {
    content: $icon-pen-to-square; 
  }
}
.icon-music {
  &:before {
    content: $icon-music; 
  }
}
.icon-paintbrush {
  &:before {
    content: $icon-paintbrush; 
  }
}

