$icomoon-font-family: "ds-icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-youtube: "\e900";
$icon-instagram: "\e901";
$icon-facebook-f: "\e902";
$icon-close: "\e904";
$icon-user: "\e90b";
$icon-pin: "\e90e";
$icon-newsletter: "\e90f";
$icon-play: "\e910";
$icon-bell: "\e911";
$icon-phone: "\e912";
$icon-magnifying-glass-plus: "\e921";
$icon-hand-holding-dollar: "\e926";
$icon-graduation-cap: "\e927";
$icon-gift: "\e928";
$icon-cookie-bite: "\e929";
$icon-chevron-up: "\e92b";
$icon-angle-down: "\e92c";
$icon-bars: "\e92d";
$icon-check: "\e92e";
$icon-chevron-left: "\e92f";
$icon-chevron-right: "\e930";
$icon-comments: "\e931";
$icon-flag: "\e932";
$icon-lightbulb: "\e933";
$icon-circle-info: "\e934";
$icon-heart-o: "\e935";
$icon-heart: "\e936";
$icon-book-open: "\e937";
$icon-pen-to-square: "\e938";
$icon-music: "\e939";
$icon-paintbrush: "\e93a";

