<template>
  <topics-page :bg-image="require('@/assets/images/DS_Temakor_01_BG_1920x420px.jpg')" :bg-image-mobile="require('@/assets/images/DS_Temakor_01_BG_768x420px.jpg')">
    <template #content>
      <ds-topics-components-header>
        <template #title>
          Témakör 1.
        </template>
        <template #lead>
          Ab accusamus asperiores aspernatur assumenda cum, deserunt, eaque illum laborum nulla obcaecati officia officiis qui sit voluptatem voluptates?
        </template>
      </ds-topics-components-header>

      <ds-topics-block-title card :id="'a-bortunetek-kivaltasaban-szerepet-jatszo-erzelmi-komponens'" title="A bőrtünetek kiváltásában szerepet játszó érzelmi komponens">
        <template #lead>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dolor fugiat harum, officia optio tempore vel vitae? Magni recusandae vel veniam? Cumque laudantium minima non obcaecati quod, recusandae voluptate voluptatum.
        </template>
        <template #card>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dolor fugiat harum, officia optio tempore vel vitae? Magni recusandae vel veniam? Cumque laudantium minima non obcaecati quod, recusandae voluptate voluptatum.
        </template>
      </ds-topics-block-title>

      <div class="card mb-20">
        <div class="card-body p-20">
          <h5>Pszichoszomatikus érzékenység</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod
            scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur
            nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo.
            Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae,
            interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras
            at orci vitae dolor facilisis convallis.</p>

          <p>Sed eleifend, sem interdum accumsan facilisis, urna ante rutrum elit, id volutpat ligula mauris
            pellentesque ex. Aliquam interdum dolor nec felis egestas, ut consectetur sem viverra. Sed ex lorem,
            eleifend vel mattis quis, gravida a sapien. Vivamus tristique arcu quis dapibus pellentesque. Cras egestas
            elit at dolor posuere, eget scelerisque sem euismod. Maecenas sed enim ac nisi venenatis porta. Suspendisse
            elementum libero sollicitudin, maximus risus nec, euismod turpis. Duis eleifend sit amet enim pretium
            cursus. Pellentesque id mauris a risus tristique eleifend. Aliquam consequat arcu quis sagittis tincidunt.
            Nulla arcu magna, fringilla non tempor vel, rutrum ac massa.</p>

          <p>Proin non efficitur nunc, eu viverra massa. Praesent sed nisl id dolor mattis dapibus. Proin tristique id
            ligula id placerat. Donec varius odio in nulla blandit tincidunt id at nisi. Curabitur risus enim, bibendum
            porttitor volutpat sed, hendrerit id mauris. Suspendisse laoreet scelerisque sollicitudin. Praesent a leo
            est. Aenean sodales leo elit, id mollis lorem dictum quis. Cras ullamcorper varius eros vitae mollis.
            Phasellus ultricies diam non neque malesuada, ut condimentum nibh luctus.</p>
        </div>
      </div>

      <div class="card mb-20">
        <div class="card-body p-20">
          <h5>A bőr, mint „kifordított idegrendszer” </h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod
            scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur
            nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo.
            Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae,
            interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras
            at orci vitae dolor facilisis convallis.</p>

          <p>Sed eleifend, sem interdum accumsan facilisis, urna ante rutrum elit, id volutpat ligula mauris
            pellentesque ex. Aliquam interdum dolor nec felis egestas, ut consectetur sem viverra. Sed ex lorem,
            eleifend vel mattis quis, gravida a sapien. Vivamus tristique arcu quis dapibus pellentesque. Cras egestas
            elit at dolor posuere, eget scelerisque sem euismod. Maecenas sed enim ac nisi venenatis porta. Suspendisse
            elementum libero sollicitudin, maximus risus nec, euismod turpis. Duis eleifend sit amet enim pretium
            cursus. Pellentesque id mauris a risus tristique eleifend. Aliquam consequat arcu quis sagittis tincidunt.
            Nulla arcu magna, fringilla non tempor vel, rutrum ac massa.</p>

          <p>Proin non efficitur nunc, eu viverra massa. Praesent sed nisl id dolor mattis dapibus. Proin tristique id
            ligula id placerat. Donec varius odio in nulla blandit tincidunt id at nisi. Curabitur risus enim, bibendum
            porttitor volutpat sed, hendrerit id mauris. Suspendisse laoreet scelerisque sollicitudin. Praesent a leo
            est. Aenean sodales leo elit, id mollis lorem dictum quis. Cras ullamcorper varius eros vitae mollis.
            Phasellus ultricies diam non neque malesuada, ut condimentum nibh luctus.</p>

          <ds-topics-picture :image="require('~/assets/images/topics1/DS_Temakor_01_abra_01.svg')">
            <template #caption>
              <strong>Ábra:</strong> Az emberi magzatkori fejlődés zigóta állapotú sejtjének csíralemezei
            </template>
          </ds-topics-picture>
        </div>
      </div>

      <div class="card mb-20">
        <div class="card-body p-20">
          <h5>Griesmer indexe</h5>

          <ds-show-more>
            <p>Griesmer (bőrgyógyász, pszichiáter szakorvos, 1978) a bőrbetegségek pszichoszomatikus komponensét illetően fontos eredményekre jutott. Egy éven át vizsgálta az összefüggést a bőrbetegséggel élők érzelmileg megterhelő kiváltó eseményei és a bőrtünet kiújulásának mértéke, ideje között.</p>

            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th style="width: 40%">Diagnózis</th>
                  <th style="width: 20%" class="text-center">Érzelmi kiváltó Faktor (%)</th>
                  <th style="width: 40%">Stresszort követően eltelt idő a bőrprobléma klinikai megjelenéséig</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>Hyperhidrózis / Hiper izzadékonyság</td>
                  <td class="text-center">100</td>
                  <td>Másodperceken belül</td>
                </tr>
                <tr>
                  <td>Krónikus lichen simplex</td>
                  <td class="text-center">98</td>
                  <td>Napokon belül – 2 héten belül</td>
                </tr>
                <tr>
                  <td>Neurotikus exkoriáció</td>
                  <td class="text-center">97</td>
                  <td>Másodperceken belül</td>
                </tr>
                <tr>
                  <td>Alopecia areata / hirtelen hajhullás</td>
                  <td class="text-center">96</td>
                  <td>2 héten belül</td>
                </tr>
                <tr>
                  <td>Futó szemölcs</td>
                  <td class="text-center">98</td>
                  <td>Napokon belül</td>
                </tr>
                <tr>
                  <td>Rosacea / Borvirág</td>
                  <td class="text-center">94</td>
                  <td>2 napon belül</td>
                </tr>
                <tr>
                  <td>Pruritus</td>
                  <td class="text-center">96</td>
                  <td>Másodperceken belül</td>
                </tr>
                <tr>
                  <td>Lichen planus</td>
                  <td class="text-center">82</td>
                  <td>Napokon belül – 2 héten belül</td>
                </tr>
                <tr>
                  <td>Dyshidrózis a kézen</td>
                  <td class="text-center">76</td>
                  <td>2 nap a tünetekig</td>
                </tr>
                <tr>
                  <td>Atópiás dermatitis</td>
                  <td class="text-center">70</td>
                  <td>Másodperceken belül viszketés</td>
                </tr>
                <tr>
                  <td>Factitial dermatoses</td>
                  <td class="text-center">69</td>
                  <td>Másodperceken belül</td>
                </tr>
                <tr>
                  <td>Urticaria / Csalánkiütés</td>
                  <td class="text-center">68</td>
                  <td>Perceken belül</td>
                </tr>
                <tr>
                  <td>Psoriasis / Pikkelysömör</td>
                  <td class="text-center">62</td>
                  <td>Napokon belül – 2 héten belül</td>
                </tr>
                <tr>
                  <td>Traumás dermatitis</td>
                  <td class="text-center">56</td>
                  <td>Másodperceken belül</td>
                </tr>
                <tr>
                  <td>Meghatározatlan dermatitis</td>
                  <td class="text-center">56</td>
                  <td>Napokon belül</td>
                </tr>
                <tr>
                  <td>Acne vulgaris / Pattanásosság</td>
                  <td class="text-center">55</td>
                  <td>2 napon belül papulák </td>
                </tr>
                <tr>
                  <td>Telogen effuvium</td>
                  <td class="text-center">55</td>
                  <td>2 – 3 héten belül</td>
                </tr>
                <tr>
                  <td>Nummular dermatitis</td>
                  <td class="text-center">52</td>
                  <td>Napokon belül</td>
                </tr>
                <tr>
                  <td>Seborrheás dermatitis</td>
                  <td class="text-center">41</td>
                  <td>Napokon belül – 2 héten belül</td>
                </tr>
                <tr>
                  <td>Herpes simplex és zoster</td>
                  <td class="text-center">36</td>
                  <td>Napokon belül</td>
                </tr>
                <tr>
                  <td>Vitiligo</td>
                  <td class="text-center">33</td>
                  <td>2 – 3 héten belül</td>
                </tr>
                <tr>
                  <td>Pyoderma és bakteriális fertőzés</td>
                  <td class="text-center">29</td>
                  <td>Napokon belül</td>
                </tr>
                <tr>
                  <td>Körömdisztrófia</td>
                  <td class="text-center">28</td>
                  <td>2 – 3 héten belül</td>
                </tr>
                <tr>
                  <td>Ciszták</td>
                  <td class="text-center">27</td>
                  <td>2 – 3 héten belül</td>
                </tr>
                <tr>
                  <td>Szemölcsök</td>
                  <td class="text-center">17</td>
                  <td>Napokon belül</td>
                </tr>
                <tr>
                  <td>Contakt dermatitis</td>
                  <td class="text-center">15</td>
                  <td>Két napon belül</td>
                </tr>
                <tr>
                  <td>Gomba fertőzés</td>
                  <td class="text-center">9</td>
                  <td>Napokon belül – 2 héten belül</td>
                </tr>
                </tbody>
              </table>
            </div>
          </ds-show-more>
        </div>
      </div>

      <ds-topics-block-title card :id="'onmegfigyeles-naplo-modszer'" title="Önmegfigyelés, napló módszer">
        <template #lead>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aut autem deserunt dignissimos dolore eaque excepturi fuga iusto, minima minus natus nulla, omnis perferendis quidem quos repudiandae sint tempore vel.
        </template>
        <template #card>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam debitis eum explicabo magni officiis reprehenderit saepe ut? Accusamus asperiores consequuntur cumque, eaque eligendi, exercitationem neque nobis omnis rerum vitae voluptatum?
        </template>
      </ds-topics-block-title>

      <t101 />

      <t102 />

      <ds-topics-card theme="tipp">
        <template #content>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod
            scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur
            nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo.
            Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae,
            interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras
            at orci vitae dolor facilisis convallis.</p>

          <p>Sed eleifend, sem interdum accumsan facilisis, urna ante rutrum elit, id volutpat ligula mauris
            pellentesque ex. Aliquam interdum dolor nec felis egestas, ut consectetur sem viverra. Sed ex lorem,
            eleifend vel mattis quis, gravida a sapien. Vivamus tristique arcu quis dapibus pellentesque. Cras egestas
            elit at dolor posuere, eget scelerisque sem euismod. Maecenas sed enim ac nisi venenatis porta. Suspendisse
            elementum libero sollicitudin, maximus risus nec, euismod turpis. Duis eleifend sit amet enim pretium
            cursus. Pellentesque id mauris a risus tristique eleifend. Aliquam consequat arcu quis sagittis tincidunt.
            Nulla arcu magna, fringilla non tempor vel, rutrum ac massa.</p>

          <p>Proin non efficitur nunc, eu viverra massa. Praesent sed nisl id dolor mattis dapibus. Proin tristique id
            ligula id placerat. Donec varius odio in nulla blandit tincidunt id at nisi. Curabitur risus enim, bibendum
            porttitor volutpat sed, hendrerit id mauris. Suspendisse laoreet scelerisque sollicitudin. Praesent a leo
            est. Aenean sodales leo elit, id mollis lorem dictum quis. Cras ullamcorper varius eros vitae mollis.
            Phasellus ultricies diam non neque malesuada, ut condimentum nibh luctus.</p>
        </template>
      </ds-topics-card>

      <t103 />

      <ds-topics-block-title card :id="'az-onismeret-kiralyi-utja-az-alomelemzes'" title="Az önismeret királyi útja, az álomelemzés">
        <template #lead>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet atque aut distinctio dolorem, ducimus exercitationem harum inventore iste iusto modi officia placeat quaerat qui rem sequi tenetur ut voluptate?
        </template>
        <template #card>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dicta dolores inventore provident quibusdam. At eaque eius eligendi ipsum iure magni officia rerum tempora voluptatum. Exercitationem ipsa suscipit temporibus vitae?
        </template>
      </ds-topics-block-title>

      <div class="card mb-20">
        <div class="card-body p-20">
          <h5>Megjelenő és rejtett tartalmak</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod
            scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur
            nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo.
            Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae,
            interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras
            at orci vitae dolor facilisis convallis.</p>

          <p>Sed eleifend, sem interdum accumsan facilisis, urna ante rutrum elit, id volutpat ligula mauris
            pellentesque ex. Aliquam interdum dolor nec felis egestas, ut consectetur sem viverra. Sed ex lorem,
            eleifend vel mattis quis, gravida a sapien. Vivamus tristique arcu quis dapibus pellentesque. Cras egestas
            elit at dolor posuere, eget scelerisque sem euismod. Maecenas sed enim ac nisi venenatis porta. Suspendisse
            elementum libero sollicitudin, maximus risus nec, euismod turpis. Duis eleifend sit amet enim pretium
            cursus. Pellentesque id mauris a risus tristique eleifend. Aliquam consequat arcu quis sagittis tincidunt.
            Nulla arcu magna, fringilla non tempor vel, rutrum ac massa.</p>

          <ds-topics-picture :image="require('~/assets/images/topics1/DS_Temakor_01_abra_02.svg')" :gradient="false" :image-margin="false" :caption-margin="false" mobile-overflow>
            <template #caption>
              <strong>Ábra:</strong> Freud, Topográfiai modell (Álomfejtés, 1900)
            </template>
          </ds-topics-picture>
        </div>
      </div>

      <ds-topics-card>
        <template #content>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis eos ipsum placeat temporibus voluptate? Accusamus beatae error placeat sint suscipit. Distinctio facere natus non nostrum quis recusandae ut veniam voluptate.
        </template>
      </ds-topics-card>

      <ds-topics-card theme="challenge">
        <template #content>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta eum facilis optio rem sunt. Assumenda at blanditiis dignissimos est, eum iusto labore. Dolorum enim exercitationem labore molestias perferendis qui repudiandae?
        </template>
      </ds-topics-card>

      <t104 />

      <ds-topics-card theme="background" title="Dreampire project" default-background>
        <template #content>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi doloremque eveniet, ipsa quibusdam rem sapiente tenetur voluptate. Alias consequatur dicta fugiat illum, nesciunt nulla rem reprehenderit tenetur! Cum, similique.</p>

          <p class="mb-1"><strong>Merítsen Ön is inspirációt saját álmai megfigyeléséhez és elemzéséhez!</strong></p>
            <ds-button :href="'http://www.dreampire.com'" blank-target button-label="TOVÁBB A WEBOLDALRA" class="me-2" />
            <ds-button :href="'https://youtu.be/gJpyfW691XE'" blank-target button-label="MEGNÉZEK EGY VIDEÓT" />
        </template>
      </ds-topics-card>

      <ds-topics-block-title :id="'kibekules-sajat-testunkkel'" title="Kibékülés saját testünkkel">
        <template #lead>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias esse fuga nam nemo? Adipisci cumque dolorum, fugiat incidunt magni mollitia neque nihil, placeat possimus quam qui quibusdam, vel veritatis voluptatem?
        </template>
      </ds-topics-block-title>

      <div class="card mb-20">
        <div class="card-body p-20">
          <h5>Bőrgyógyászati drámaháromszög</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod
            scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur
            nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo.
            Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae,
            interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras
            at orci vitae dolor facilisis convallis.</p>

          <p>Sed eleifend, sem interdum accumsan facilisis, urna ante rutrum elit, id volutpat ligula mauris
            pellentesque ex. Aliquam interdum dolor nec felis egestas, ut consectetur sem viverra. Sed ex lorem,
            eleifend vel mattis quis, gravida a sapien. Vivamus tristique arcu quis dapibus pellentesque. Cras egestas
            elit at dolor posuere, eget scelerisque sem euismod. Maecenas sed enim ac nisi venenatis porta. Suspendisse
            elementum libero sollicitudin, maximus risus nec, euismod turpis. Duis eleifend sit amet enim pretium
            cursus. Pellentesque id mauris a risus tristique eleifend. Aliquam consequat arcu quis sagittis tincidunt.
            Nulla arcu magna, fringilla non tempor vel, rutrum ac massa.</p>

          <p>Proin non efficitur nunc, eu viverra massa. Praesent sed nisl id dolor mattis dapibus. Proin tristique id
            ligula id placerat. Donec varius odio in nulla blandit tincidunt id at nisi. Curabitur risus enim, bibendum
            porttitor volutpat sed, hendrerit id mauris. Suspendisse laoreet scelerisque sollicitudin. Praesent a leo
            est. Aenean sodales leo elit, id mollis lorem dictum quis. Cras ullamcorper varius eros vitae mollis.
            Phasellus ultricies diam non neque malesuada, ut condimentum nibh luctus.</p>

          <ds-topics-picture :image="require('~/assets/images/topics1/DS_Temakor_01_abra_03.svg')" :gradient="false" :image-margin="false" :caption-margin="false">
            <template #caption>
              <strong>Ábra:</strong> A „drámaháromszög” sematikus rajza
            </template>
          </ds-topics-picture>
        </div>
      </div>

      <ds-topics-card theme="example">
        <template #content>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod
            scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur
            nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo.
            Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae,
            interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras
            at orci vitae dolor facilisis convallis.</p>

          <p>Sed eleifend, sem interdum accumsan facilisis, urna ante rutrum elit, id volutpat ligula mauris
            pellentesque ex. Aliquam interdum dolor nec felis egestas, ut consectetur sem viverra. Sed ex lorem,
            eleifend vel mattis quis, gravida a sapien. Vivamus tristique arcu quis dapibus pellentesque. Cras egestas
            elit at dolor posuere, eget scelerisque sem euismod. Maecenas sed enim ac nisi venenatis porta. Suspendisse
            elementum libero sollicitudin, maximus risus nec, euismod turpis. Duis eleifend sit amet enim pretium
            cursus. Pellentesque id mauris a risus tristique eleifend. Aliquam consequat arcu quis sagittis tincidunt.
            Nulla arcu magna, fringilla non tempor vel, rutrum ac massa.</p>

          <p>45 éves cégvezető, krónikus pruritus</p>
        </template>
      </ds-topics-card>

      <ds-topics-card theme="tipp">
        <template #content>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos laudantium libero modi odit? Aliquam, aliquid animi cum eum expedita explicabo facere iusto laboriosam necessitatibus perferendis quas reiciendis, ullam, vero. Magnam?
        </template>
      </ds-topics-card>

      <ds-topics-block-title :id="'szakirodalmi-hatter-es-ajanlo'" title="Szakirodalmi háttér és ajánló" />

      <div class="card mb-20">
        <div class="card-body p-20">
          <ds-show-more padding-bottom>
            <template #default>
              <p>Adler, Y. (2018). Bőrügyek - Minden, amit a legnagyobb szervünkről tudni érdemes. Budapest, HU: Libri Kiadó.</p>

              <p>Bárdos, Gy. (2003). Magatartási orvosbiológia – útban az integratív orvoslás felé. Magyar Tudomány. 48 (109), 1364-1372.</p>
              <p>Bárdos, Gy. (2003). Viselkedésélettan I: Pszichovegetatív Kölcsönhatások. Budapest, HU: Scolar Kiadó.</p>

              <p>Berne, E. (1964). Emberi játszmák. Budapest, HU: Osiris Kiadó.</p>

              <p>Bodrog, M. (1999). Izgalmas lélektan. C. G. Jung szellemében. Budapest, HU: Paulus Hungarus Kairosz Kiadó.</p>

              <p>Demcsákné, K, I. (1982). Pszichoszomatikus Zavarok gyermek és Ifjúkorban. Medicina Kiadó.</p>

              <p>Fordham, F. (1996). Bevezetés Jung lélektanába; Egészségforrás Kiadó.</p>

              <p>Franz, A. (1950). Psychosomatic medicine: its principles and applications; W W Norton &amp; Co.</p>

              <p>Freud, S. (1900) Álomfejtés. Ford. Hermann István. Bp., Helikon, 78-79.</p>

              <p>Gieler, U., Gieler, T., Peters, E., & Linder, D. (2020). Skin and Psychosomatics - Psychodermatology today. Journal der
              Deutschen Dermatologischen Gesellschaft = Journal of the German Society of Dermatology : JDDG, 18(11), 1280–1298.
                <a href="https://doi.org/10.1111/ddg.14328" target="_blank"><strong>https://doi.org/10.1111/ddg.14328</strong></a></p>

              <p>Gupta, M. A., & Gupta, A. K. (2014). Current concepts in psychodermatology. Current psychiatry
                reports, 16(6), 449. <a href="https://doi.org/10.1007/s11920-014-0449-9" target="_blank"><strong>https://doi.org/10.1007/s11920-014-0449-9</strong></a></p>

              <p>Griesemer, R. D. (1978). Emotionally triggered disease in a dermatologic practice. Psychiatric Annals,
                8(8), 49–56. <a href="https://doi.org/10.3928/0048-5713-19780801-08" target="_blank"><strong>https://doi.org/10.3928/0048-5713-19780801-08</strong></a></p>

              <p>Járó, K. (2011). A játszmák világa. Budapest, HU: Háttér Kiadó.</p>

              <p>Knight, C. R., Tilcsik, A., & Anteby, M. (2016). The geography of stigma management. Socius:
                Sociological Research for a Dynamic World, 2, 237802311562517.
                <a href="https://doi.org/10.1177/2378023115625172" target="_blank"><strong>https://doi.org/10.1177/2378023115625172</strong></a></p>

              <p>Németh, A. & Moretti, M. (2006). "...ki szépen kimondja a rettenetet, azzal föl is oldja". Medicina Kiadó.</p>

              <p>Nordlind, K. & Janovska, A. Z. (2016). Skin and Psyche; Bentham eBooks imprint.</p>

              <p>Minuchin, S. (2005). Családok és családterápia - Családterápiás sorozat 15. Budapest, HU: Animula Kiadó.</p>

              <p>Muhi A. 2014; Képzeld mit álmodtam, Dreampire, Budapest;
                <a href="https://magyar.film.hu/filmhu/magazin/kepzeld-mit-almodtam-dreampire-alom-a38" target="_blank"><strong>https://magyar.film.hu/filmhu/magazin/kepzeld-mit-almodtam-dreampire-alom-a38</strong></a></p>

              <p>Onnis, L. (2003). A pszichoszomatikus zavarok rendszerszemlélete - Családterápiás sorozat. Budapest, HU: Animula Kiadó.</p>

              <p>Stewart, I. & Joines V. (1998). A Tranzakcióanalízis ma. Budapest, HU: Osiris Kiadó.</p>

              <p>Snyder, M. (1987). Public appearances - private realities the psychology of self-monitoring. Freeman.</p>

              <p>Vértes, G. (2006). Hipnózis – hipnoterápia; Medicina Kiadó.</p>
            </template>
          </ds-show-more>
        </div>
      </div>

    </template>
  </topics-page>
</template>

<script>
  import TopicsPage from '~/components/Topics/TopicsPage';
  import DsTopicsComponentsHeader from '~/components/Topics/Components/Header';
  import DsTopicsBlockTitle from '~/components/Topics/Components/BlockTitle';
  import DsTopicsPicture from '~/components/Topics/Components/Picture';
  import DsTopicsTaskCard from '~/components/Topics/Components/TaskCard';
  import DsTopicBadges from '~/components/Topics/Components/Badges';
  import DsTopicsCard from '~/components/Topics/Components/Card';
  import DsShowMore from '~/components/Topics/Components/DsShowMore';
  import T101 from '~/components/Topics/Components/tasks/T101';
  import T102 from '~/components/Topics/Components/tasks/T102';
  import T103 from '~/components/Topics/Components/tasks/T103';
  import T104 from '~/components/Topics/Components/tasks/T104';

  export default {
    name: 'TopicsPage1',
    components: {
      T104,
      T103,
      T102,
      T101,
      DsShowMore,
      DsTopicsCard,
      DsTopicBadges,
      DsTopicsTaskCard,
      DsTopicsPicture,
      DsTopicsBlockTitle,
      TopicsPage,
      DsTopicsComponentsHeader
    },
    computed: {
      setMenu () {
        let menuItems = [];

        [...document.getElementsByClassName("scrollSpy")].forEach(
          (item) => {
            menuItems.push({
              title: item.dataset.title,
              hash: item.id,
              icon: item.dataset.icon ? item.dataset.icon : null
            });
          }
        );

        this.$store.commit('scroll-menu/add', menuItems);
      }
    },
    mounted () {
      this.$nextTick(() => {
        if(this.$route.hash) {
          const el = document.querySelector(this.$route.hash);
          setTimeout(() => {
            el && el.scrollIntoView({behavior: 'auto', block: 'center', inline: 'center'});
          }, 300);
        }
      });
      return this.setMenu;
    }
  }
</script>

<style lang="scss" scoped>
p:last-child {
  margin-bottom: 0;
}
li {
  &:not(:last-child) p {
    margin-bottom: 1.25rem !important;
  }
}
</style>
