<template>
  <div class="container py-20 pt-lg-5 pb-md-76">
    <div class="row">
      <div class="col-lg-3 mb-4">
        <div class="card">
          <div class="card-body p-20">
            <h5>Jó estét, Bori!</h5>
            <p>Folytasd a tanulást vagy vágj bele új témakörbe!</p>
            <p class="mb-0"><strong>Előfizetésedből hátralévő idő:</strong><br> 10 hét</p>
          </div>
        </div>
      </div>
      <div class="col-lg-9 ps-lg-5">
        <div class="available-topics">
          <h2 class="fz-14 font-montserrat text-uppercase font-weight-black">Elérhető témakörök</h2>
          <ds-topics-item :content="topics[0]" />
        </div>
        <div class="more-topics">
          <ds-topics-item v-for="(item, index) in moreTopics" :key="index" :content="item" />
          <div class="text-center">
            <ds-button size="lg" :button-label="showMoreButton ? 'Mutass kevesebbet' : `mutasd mind a ${itemsNumber} témakört`" @click="showMoreItems" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import DsTopicsItem from '~/components/Topics/TopicsItem';
  import topicsItems from '~/contents/topicsItems.json';
  import DsSubscription from '~/components/Subscribe/Subscription';

  export default {
    name: 'TopicsSubscribed',
    components: {
      DsSubscription,
      DsTopicsItem
    },
    data () {
      return {
        topics: topicsItems,
        defaultItems: null,
        maxItems: 5,
        showMoreButton: false,
      }
    },
    computed: {
      moreTopics () {
        return this.topics.slice(1, this.defaultItems);
      },
      itemsNumber () {
        return this.topics.slice(1).length + 1;
      }
    },
    methods: {
      showMoreItems () {
        if (this.showMoreButton) {
          this.defaultItems = this.maxItems;
          this.showMoreButton = false;
        } else {
          this.defaultItems = this.itemsNumber;
          this.showMoreButton = true;
        }
      }
    },
    mounted() {
      this.defaultItems = this.maxItems;
    }
  }
</script>

<style lang="scss" scoped>

</style>
