<template>
  <topics-page :bg-image="require('@/assets/images/DS_Temakor_03_BG_1920x420px.jpg')" :bg-image-mobile="require('@/assets/images/DS_Temakor_03_BG_768x420px.jpg')">
    <template #content>
      <ds-topics-components-header>
        <template #title>
          Témakör 3.
        </template>
        <template #lead>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus.
        </template>
      </ds-topics-components-header>

      <ds-topics-block-title card :id="'az-onervényesitesrol'" title="Az önérvényesítésről">
        <template #lead>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa deserunt dignissimos harum, omnis pariatur similique. Accusamus adipisci at et iusto labore non numquam omnis, sunt voluptatibus. Aut autem incidunt similique.
        </template>
        <template #card>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam eveniet, ipsam iste iure odio quidem recusandae. A accusamus asperiores at deserunt, ducimus excepturi illum odio perferendis praesentium quas quibusdam repudiandae.
        </template>
      </ds-topics-block-title>

      <div class="card mb-20">
        <div class="card-body p-20">
          <h5>Hogyan reagáljunk a bőrünkre tett kényelmetlen megjegyzésekre?</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod
            scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur
            nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo.
            Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae,
            interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras
            at orci vitae dolor facilisis convallis.</p>

          <p>Sed eleifend, sem interdum accumsan facilisis, urna ante rutrum elit, id volutpat ligula mauris
            pellentesque ex. Aliquam interdum dolor nec felis egestas, ut consectetur sem viverra. Sed ex lorem,
            eleifend vel mattis quis, gravida a sapien. Vivamus tristique arcu quis dapibus pellentesque. Cras egestas
            elit at dolor posuere, eget scelerisque sem euismod. Maecenas sed enim ac nisi venenatis porta. Suspendisse
            elementum libero sollicitudin, maximus risus nec, euismod turpis. Duis eleifend sit amet enim pretium
            cursus. Pellentesque id mauris a risus tristique eleifend. Aliquam consequat arcu quis sagittis tincidunt.
            Nulla arcu magna, fringilla non tempor vel, rutrum ac massa.</p>

          <p>Proin non efficitur nunc, eu viverra massa. Praesent sed nisl id dolor mattis dapibus. Proin tristique id
            ligula id placerat. Donec varius odio in nulla blandit tincidunt id at nisi. Curabitur risus enim, bibendum
            porttitor volutpat sed, hendrerit id mauris. Suspendisse laoreet scelerisque sollicitudin. Praesent a leo
            est. Aenean sodales leo elit, id mollis lorem dictum quis. Cras ullamcorper varius eros vitae mollis.
            Phasellus ultricies diam non neque malesuada, ut condimentum nibh luctus.</p>

          <ds-topics-card-slider :items="6" theme="tipp">
            <template #slide1>
              <p><strong>1. Osszuk meg az érzéseinket!</strong><br>
                Ilyenkor nagyon fontos, hogy magyarázzuk el, hogy amit az illető mond, az nincs rendben, nem helyes, osszuk meg vele az érzéseinket, hogy hogyan hat ránk az amit mond! Valószínűleg nem szeretett volna megbántani, de ha nem hívjuk fel a figyelmét a történtekre, könnyen lehet, hogy legközelebb is elköveti ugyanezt a hibát.</p>

              <p><em>– Nagyon rosszul néz ki itt a bőröd, s ez a ruha nem takarja eléggé.<br>
                – Tudod, nagyon rosszul esik, amikor ezt mondod. Az ilyen megjegyzéseid miatt egyre kevésbé szívesen
                töltök veled időt, pedig szeretném, nagyon jó lenne, ha jól tudnánk magunkat érezni, amikor együtt
                vagyunk. Megtennéd, hogy ezentúl nem teszel megjegyzéseket a kinézetemre? Örülnék, ha végre elfogadnál
                és nem kommentálnád milyen éppen a bőröm.</em></p>
            </template>
            <template #slide2>
              <p><strong>2. Határolódjunk el udvariasan és váltsunk témát!</strong></p>

              <p><em>– Próbáltad már azokat a kenőcsöket és diétákat, amiket legutóbb ajánlottam?<br>
                – Kedves vagy, hogy segíteni szeretnél, de úgy érzem, jobban oda tudok figyelni az egészségemre, ha
                azt használom, amit a bőrgyógyászom javasol és azt eszem, amit a dietetikus előírt számomra.
                Egyébként meséltem már neked, hogy milyen változások történtek a munkahelyemen?</em></p>
            </template>
            <template #slide3>
              <p><strong>3. Kérjük a másik együttműködését!</strong></p>

              <p><em>– A nyakadnál és a kezeden is látszik, hogy nem vagy valami jó bőrben. Jobb lenne, ha orvost váltanál, vagy legalább eltakarnád.<br>
                – Talán még nem meséltem, de mostanában törekszem arra, hogy szeretettel gondoljak a testemre és a bőrömre. Ezek a megjegyzések nem segítenek, sőt, nem ezt az irányt képviselik. Viszont szerintem szuper lenne, ha te is támogatnád, hogy  pozitívabb kapcsolatunk legyünk a testünkkel és a bőrünkkel.</em></p>
            </template>
            <template #slide4>
              <p><strong>4. Hivatkozzunk a gyerekre!</strong></p>

              <p><em>– Jaj, szegény, milyen ronda a bőröd! Rossz ránézni!<br>– Szeretném azt tanítani a gyerekeimnek, hogy az a fontos, hogy ki vagy, nem pedig az, hogy hogy nézel ki. Jó lenne, ha a jövőben segítenél nekem azzal, hogy kerülöd a bőrömre vonatkozó negatív megjegyzéseket, amikor együtt vagyunk. Megbeszéltük?</em></p>
            </template>
            <template #slide5>
              <p><strong>5. Állítsuk fel a határainkat!</strong></p>

              <p><em>– Nem értem, te miért nem úgy nézel ki, mint a testvéred.<br>
                – Már többször jeleztem, mennyire bánt és nincs rendben, hogy ilyen megjegyzéseket teszel a testemre és összehasonlítgatsz másokkal. Szeretnék veled minőségi időt tölteni, de ezzel megnehezíted. Ha továbbra is ilyeneket mondasz, ritkábban foglak meglátogatni. Kérlek,  hagyj már fel végre ezzel! Légy tekintettel rám! Mutass egy kis együttérzést! Meg tudod ezt tenni értem és a kettőnk kapcsolatáért?</em></p>
            </template>
            <template #slide6>
              <p><strong>6. Ignoráljuk a bőrünkre tett megjegyzést!</strong></p>

              <p><em>– Szia, de rég láttalak, hogy vagy? Látom a bőröd nem javult, mióta nem láttalak.<br>
                – Én is örülök, hogy találkozunk! Hogy vagy? Mivel telnek a napjaid mostanában?</em></p>
            </template>
          </ds-topics-card-slider>
        </div>
      </div>

      <ds-topics-block-title :id="'az-egyuttmukodes-fontossaga'" title="Az együttműködés fontossága">
        <template #lead>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, eaque, ratione? Aliquam dignissimos ducimus error harum id illo nisi nostrum officia, possimus quia quidem recusandae saepe sit sunt ullam voluptate!
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet dicta earum eveniet illo mollitia quod recusandae reiciendis reprehenderit saepe! Ab debitis earum fuga natus nisi praesentium quia voluptas? Voluptatem.
        </template>
      </ds-topics-block-title>

      <div class="card mb-20">
        <div class="card-body p-20">
          <h5>Az önérvényesítő asszertív viselkedés és kommunikáció</h5>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aut cum deserunt dolore doloremque error, exercitationem facilis fuga incidunt, iure laboriosam, nobis pariatur quam quisquam reiciendis repellendus soluta ut voluptas.</p>

          <ul>
            <li>ne domináljuk a beszélgetést, ugyanakkor</li>
            <li>ne is menjünk alá, avagy hódoljunk be beszélgetőtársunk véleményének.</li>
          </ul>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at maiores rerum. Consequuntur, error, quae. Aspernatur blanditiis eos et eum, exercitationem natus necessitatibus neque obcaecati praesentium quam temporibus veniam vitae.</p>

          <p><strong>Önkifejező és együttérző</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam assumenda at deleniti dicta dolorum, ea esse et illum maxime molestiae, nam nemo nesciunt, odio officiis quos recusandae ullam voluptatum.</p>

          <p><strong>Értékelés mentes hozzáállás</strong>, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque facere harum hic incidunt laborum nemo nostrum omnis reiciendis rerum. A dolorum illo incidunt ipsa magnam necessitatibus quasi quis tenetur ut.</p>

          <p><strong>Nyertes - nyertes helyzetek kialakítására törekvő,</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda atque autem deserunt, ducimus eveniet iusto laudantium mollitia omnis, quidem recusandae repellendus repudiandae. Alias dolorem explicabo perspiciatis, quaerat quidem voluptas!</p>

          <p><strong>Együttműködés a kulcsszó,</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam eum impedit necessitatibus nemo nulla quam quasi quo temporibus voluptatibus. Molestias temporibus, unde. Ea fuga iste quaerat sed temporibus vitae?</p>
        </div>
      </div>

      <div class="card mb-20">
        <div class="card-body p-20">
          <h5>A accusantium autem, earum facilis illum laboriosam laborum neque officiis quaerat quibusdam.</h5>

          <ds-show-more padding-bottom>
            <ds-topics-card disable-bg disable-title no-shadow>
              <template #content>
                <strong>Összességében javítja kapcsolataink minőségét, ezáltal életminőségünket:</strong> Proin non efficitur nunc, eu viverra massa. Praesent sed nisl id dolor mattis dapibus. Proin tristique id ligula id placerat. Donec varius odio in nulla blandit tincidunt id at nisi. Curabitur risus enim, bibendum porttitor volutpat sed, hendrerit id mauris. Suspendisse laoreet scelerisque sollicitudin. Praesent a leo est. Aenean sodales leo elit, id mollis lorem dictum quis. Cras ullamcorper varius eros vitae mollis. Phasellus ultricies diam non neque malesuada, ut condimentum nibh luctus.
              </template>
            </ds-topics-card>

            <ds-topics-picture class="mb-3" :image="require('~/assets/images/topics3/DS_Temakor_03_abra_01.svg')" :caption-margin="false">
              <template #caption>
                <strong>Ábra:</strong> Az asszertiv önérvényesités előnyei és következményei
              </template>
            </ds-topics-picture>

            <ds-topics-card disable-bg disable-title no-shadow>
              <template #content>
                <strong>Nagyobb önbizalom:</strong>  ut dui volutpat egestas. Nunc enim felis, varius eget tempor non, egestas sit amet purus. Ut augue ex, mollis nec pretium nec, tempor at nisi. Mauris nibh quam, dapibus in malesuada a, consectetur sit amet massa. Nullam sed condimentum lacus. Nam aliquet neque et turpis fringilla euismod. Nullam pharetra est vitae tempus venenatis. Nullam quis pretium felis. Nullam fringilla velit sit amet eleifend porttitor. Phasellus vel tellus pellentesque, molestie augue tristique, posuere enim. Aenean odio enim, placerat vel antncus erat, nec fermentum neque. Praesent nisl arcu, lacinia eget ultrices non, molestie in ex. Fusce ac sapien finibus arcu gravida rhoncus. Aenean consequat leo quis mollis tincidunt. Nam pretium ultrices nisl sit amet blandit. Aliquam erat volutpat. Vestibulum vel nunc rutrum, iaculis arcu vitae, aliquet arcu. Etiam lorem nulla, dapibus ullamcorper risus se
              </template>
            </ds-topics-card>

            <ds-topics-card disable-bg disable-title no-shadow>
              <template #content>
                <strong>Nagyobb önkontroll:</strong> Mederbe tudjuk terelni saját gondolatainkat és érzéseinket, így azt a viselkedést érjük el, amit szeretnénk, ahelyett, hogy átengednénk az irányítást külső eseményeknek vagy embereknek, vagy saját érzéseinknek. A negatív érzéseink, dühünk kezelésében segíthet, hogy ne elnyomjuk, ugyanakkor kontrolláljuk a szélsőséges indulatainkat.
              </template>
            </ds-topics-card>

            <ds-topics-card disable-bg disable-title no-shadow>
              <template #content>
                <strong>Nagyobb felelősségvállalás:</strong> Felelősséget vállalunk magunkért, saját szükségleteinkért, véleményünkért és igényeinkért, stb., ahelyett, hogy másokat hibáztatnánk vagy mentségeket keresnénk magunk számára.
              </template>
            </ds-topics-card>

            <ds-topics-card disable-bg disable-title no-shadow>
              <template #content>
                <strong>Idő és energia megtakarítás:</strong> ncus erat, nec fermentum neque. Praesent nisl arcu, lacinia eget ultrices non, molestie in ex. Fusce ac sapien finibus arcu gravida rhoncus. Aenean consequat leo quis mollis tincidunt. Nam pretium ultrices nisl sit amet blandit. Aliquam erat volutpat. Vestibulum vel nunc rutrum, iaculis arcu vitae, aliquet arcu. Etiam lorem nulla, dapibus ullamcorper risus se
              </template>
            </ds-topics-card>

            <ds-topics-card disable-bg disable-title no-shadow>
              <template #content>
                <strong>Nyertes-nyertes kimenetek esélyének növekedése:</strong>  accumsan facilisis, urna ante rutrum elit, id volutpat ligula mauris pellentesque ex. Aliquam interdum dolor nec felis egestas, ut consectetur sem viverra. Sed ex lorem, eleifend vel mattis quis, gravida a sapien. Vivamus tristique arcu quis dapibus pellentesque. Cras egestas elit at dolor posuere, eget scelerisque sem euismod. Maecenas sed enim ac nisi venenatis porta. Suspendisse elementum libero sollicitudin, maximus risus nec, euismod turpis. Duis eleifend sit amet enim pretium cursus. Pellentesque i
              </template>
            </ds-topics-card>

            <ds-topics-card disable-bg disable-title no-shadow>
              <template #content>
                <strong>Nagyobb másokba vetett bizalom:</strong> massa. Praesent sed nisl id dolor mattis dapibus. Proin tristique id ligula id placerat. Don
              </template>
            </ds-topics-card>
          </ds-show-more>
        </div>
      </div>

      <ds-topics-block-title :id="'asszertiv-jogaink-es-felelosegeink-listaja'" title="Asszertív jogaink és felelőségeink listája">
        <template #lead>
          <em>„Mindkettőnknek vannak értékei és látom a határt, ahol a jogaink érintkeznek, és mindig igyekszem
            megtartani az egyensúlyt. Kész vagyok a párbeszédre, valamint arra, hogy meghallgassalak és együttműködjek
            veled mindkettőnk hasznára”.</em>
        </template>
      </ds-topics-block-title>

      <div class="card mb-20">
        <div class="card-body p-20">
          <h5>Jogunk van ahhoz, hogy:</h5>

          <ol>
            <li>Jogunk van ahhoz, hogy tisztelettel bánjanak velünk.</li>
            <li>Jogunk van ahhoz, hogy kifejezzük saját érzéseinket és véleményünket.</li>
            <li>Jogunk van ahhoz, hogy meghallgassanak és komolyan vegyenek.</li>
            <li>Jogunk van ahhoz, hogy megállapítsuk mi fontos nekünk és mi nem, hogy felállítsuk a saját mércénket, határainkat és értékeinket.</li>
            <li>Jogunk van ahhoz, hogy legyenek szükségleteink és igényeink, melyek különbözhetnek másokétól.</li>
            <li>Jogunk van ahhoz, hogy nemet mondjunk anélkül, hogy bűntudatot érzün, vagy attól tartsunk, hogy majd meg kell fizetnünk érte.</li>
            <li>Jogunk van ahhoz, hogy kérjük, amire szükségünk van.</li>
            <li>Jogunk van ahhoz, hogy megkapjuk, amiért fizettünk.</li>
            <li>Jogunk van ahhoz, hogy információt kérjünk szakemberektől, beleértve az orvosokat is.</li>
            <li>Jogunk van ahhoz, hogy hibát kövessünk el és vállaljuk a következményeket.</li>
            <li>Jogunk van ahhoz, hogy képviseljük az érdekeinket.</li>
            <li>Jogunk van ahhoz, hogy  megváltoztassuk a véleményünket, szándékunkat vagy a viselkedésünket.</li>
            <li>Jogunk van ahhoz, hogy megbetegedjünk.</li>
            <li>Jogunk van ahhoz, hogy meggyógyuljunk.</li>
            <li>Jogunk van ahhoz, hogy azt mondjuk: „Nem tudom."</li>
          </ol>

          <h5>Felelősségünk van az iránt, hogy:</h5>

          <ol>
            <li>Elfogadjuk saját jogainkat és felelősségünket, valamint elismerjük mások jogait és felelősségét.</li>
            <li>Érthetően beszéljünk és figyeljünk másokra</li>
            <li>Gondoskodjunk róla, hogy ne ártsunk, ne okozzunk kárt sem másnak, sem magunknak.</li>
            <li>Elfogadjuk, hogy másoknak is van joguk ahhoz, hogy különböző szükségleteik és igényeik legyenek.</li>
            <li>Elfogadjuk, hogy másoknak is van joguk ahhoz, hogy visszautasítsák vagy kérjék azt, amit szeretnének.</li>
            <li>Megengedjük másoknak, hogy nemet mondjanak anélkül, hogy éreztetnénk velük, hogy majd meg kell érte fizetniük.</li>
            <li>Elfogadjuk mások érzését egy adott szituációban.</li>
            <li>Tisztelettel bánjunk és komolyan vegyük a másikat.</li>
            <li>Felismerjük a saját hibáinkat, tanuljunk belőle és engedjük, hogy mások is hibázzanak.</li>
            <li>Használjuk azokat az információkat, melyeket olyanoktól kapunk, akikben megbízunk és azoknak a véleményét, akiket értékelünk.</li>
            <li>Elfogadjuk, azt, ahogyan mások a saját helyzetüket látják.</li>
            <li>Elfogadjuk azt, hogy másoknak esetleg nem tetszik a viselkedésünk.</li>
            <li>A saját problémáink megoldásában vállaljuk a saját felelősségünket, részességünket.</li>
            <li>Használjuk azokat az információkat, melyeket kap és mások számára is továbbítsuk, ha ők ezt kérik.</li>
            <li>Elfogadjuk, ha valaki azt mondja „nem tudom”.</li>
            <li>Elvégezzük azt, amiért megfizetnek minket.</li>
            <li>Elfogadjuk a következményeit saját viselkedésünknek. </li>
          </ol>
        </div>
      </div>

      <t301 />

      <ds-topics-block-title :id="'a-kommunikacio-iranya'" title="A kommunikáció iránya">
        <template #lead>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, ducimus, ex. Accusantium placeat, ratione. Alias aliquam autem dolores est et obcaecati odit quas rem repudiandae totam. Consectetur harum quaerat tempore?
        </template>
      </ds-topics-block-title>

      <div class="card mb-20">
        <div class="card-body p-20">
          <h5>„Te” állítások</h5>

          <div class="row">
            <div class="col-auto mb-20">
              <img src="~/assets/images/topics3/DS_pic_03_te_allitas.jpg" alt="" width="150" class="img-fluid rounded-4">
            </div>
            <div class="col mb-20">
              <p>Ha azt mondjuk, hogy „Te okoztad…”, „Te tehetsz róla...“, „Te mindig/soha...“ az vádaskodóan, a másikat felelősségre vonóan hangzik. Nem csoda, hogy amikor a másikra mutatunk, azaz „Te”- kezdetű kijelentéseket teszünk, gyakran váltunk ki önkéntelenül is haragot és agressziót másokból. Ráadásul mindannyian igen érzékeny lények vagyunk, s ha úgy érezzük, kritizálnak bennünket, hajlamosak lehetünk rögtön védekezni, akár a másik panaszainak végighallgatása nélkül is, tehát ajtót, ablakot becsukva. </p>
            </div>
          </div>

          <ds-topics-card theme="example" no-shadow margin="">
            <template #content>
              <em>„Te tényleg nagyon feldühítesz.”<br>
                „Te már megint kellemetlenséget okozol.”<br>
                „Te vagy a legbosszantóbb ember, akit ismerek.”<br>
                „Te megbántottál.”</em>
            </template>
          </ds-topics-card>
        </div>
      </div>

      <div class="card mb-20">
        <div class="card-body p-20">
          <h5>Az úgynevezett „Én” állítások</h5>

          <div class="row">
            <div class="col-auto mb-20">
              <img src="~/assets/images/topics3/DS_pic_03_en_allitas.jpg" alt="" width="150" class="img-fluid rounded-4">
            </div>
            <div class="col mb-20">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo numquam pariatur reprehenderit soluta. Cum est explicabo ipsum laboriosam officiis optio perspiciatis quos sapiente ut vitae! Ducimus est facilis labore non?</p>
            </div>
          </div>

          <ds-topics-card theme="example" no-shadow margin="">
            <template #content>
              <em>„Én mérges vagyok amiatt, amit most mondtál.”<br>
                „Azt gondolom, hogy tisztában vagy a problémával.”<br>
                „Frusztráltnak érzem magam a hibák miatt.”<br>
                „Azt gondolom, hogy a viselkedésed nem elfogadható.”</em>
            </template>
          </ds-topics-card>
        </div>
      </div>

      <ds-topics-card theme="tipp">
        <template #content>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet cumque debitis delectus, deleniti doloremque, eveniet facere fuga fugit harum iure libero magni molestias natus nulla officiis, quos repellendus sapiente!
        </template>
      </ds-topics-card>

      <ds-topics-block-title :id="'konfliktusok-kezelese'" title="Konfliktusok kezelése">
        <template #lead>
          Saját álláspontunkat kell tudnunk képviselni. A nézeteltérések során a saját önérvényesítésünk, álláspontunk megfogalmazása fontos, hiszen azt eredményezi, hogy az információk, az eltérő nézőpontunk, ötleteink nem vesznek el, sőt, nő az esélye annak, hogy kölcsönösen elfogadható megoldás szülessen a másikkal.
        </template>
      </ds-topics-block-title>

      <div class="card mb-20">
        <div class="card-body p-20">
          <h5>Szempontok konfliktusok kezeléséhez</h5>

          <p>Ha nem értjünk a másikkal egyet:</p>

          <ds-topics-card-slider :items="5" theme="tipp">
            <template #slide1>
              <p><strong>1. Ha nem értünk a másikkal egyet, mondjuk ki nyíltan!</strong></p>
              <p><em>„Nem, én nem értek ezzel egyet.”<br>
                „Nem, én ezt nem így látom.”<br>
                „Nem, ez nem az én álláspontom.”</em></p>
            </template>
            <template #slide2>
              <p><strong>2. Kétségek esetén legyünk konstruktívak!</strong></p>
              <p><em>„Ez azt fogja eredményezni, hogy….?”<br>
                „Szerintem ez problémákat fog eredményezni. Lássuk, hogy nincs-e más alternatíva?”</em></p>
            </template>
            <template #slide3>
              <p><strong>3. Használjunk „én...” kezdetű mondatokat megfogalmazásaink során!</strong></p>
              <p><em>„Ahogyan én látom ezt a kérdést…”<br>
                „Az én személyes véleményem az, hogy…”<br>
                „Az én tapasztalatom szerint….”<br>
                „Az én következtetésem szerint…..”</em></p>
            </template>
            <template #slide4>
              <p><strong>4. Indokoljuk meg, hogy miért nem értünk egyet valamivel!</strong></p>
              <p><em>„Én ezzel azért nem értek egyet, mert a hatások a következők lesznek…”<br>
                „Én ezt nem tudom elfogadni, mert….”</em></p>
            </template>
            <template #slide5>
              <p><strong>5. Fogadjuk el a másik fél nézőpontját, véleményét!</strong></p>
              <p><em>„Én értékelem, hogy ön ezt eltérően látja.”<br>
                „Megértem, hogy önnek ez másként fest.”</em></p>
            </template>
          </ds-topics-card-slider>
        </div>
      </div>

      <t302 />

      <div class="card mb-20">
        <div class="card-body p-20">
          <h5>Nyertes - nyertes vita szempontok</h5>

          <ds-topics-card-slider :items="14" theme="tipp">
            <template #slide1>
              <strong>1. Őszinte kommunikáció:</strong> A konfliktusok megoldásához elengedhetetlen, azonban egy vita hevében kihívást jelenthet bárkinek.
            </template>
            <template #slide2>
              <strong>2. Lényegretörő tárgyilagosság:</strong> Alapszabály, hogy mindenképp törekedni kell rá, nem szabad hagyni, hogy az érzelmeink, saját sérelmeink vezessék a beszélgetést, azaz minél rövidebben, higgadtan és határozott hangnemben igyekezzünk kifejezni azt, amit szeretnénk.
            </template>
            <template #slide3>
              <strong>3. Megoldás fókusz:</strong> Konfliktus helyzetben hasznos, ha szemünk előtt lebeg a beszélgetés célja, egy közös, mindkét fél számára elfogadható megoldás megtalálása, az erre való szándékunkat pedig ne felejtsük el közölni a másikkal.
            </template>
            <template #slide4>
              <strong>4. Visszajelzés fontossága:</strong> A saját igényeink és érzéseink prezentálása után lehetőséget kell nyújtani, hogy ezt beszélgetőtársunk is közbeszólások nélkül, nyugodt körülmények között megtehesse, és nem szabad elfelejteni a reagálást sem, mindig fontos visszajelezni, hogy megértettük a másik fél szempontját és szándékait.
            </template>
            <template #slide5>
              <strong>5. Fegyverletétel, közös nevező kiemelése:</strong> Érdemes megtalálni azt a pontot, amiben a két fél egyetért egymással, és ezt többször kiemelni, ezzel bizonyítva, hogy lehetséges a közös nevezőre jutás.
            </template>
            <template #slide6>
              <strong>6. Negatív kritika iránt való nyitottság fenntartása, pontosítás:</strong> A másik fél meghallgatása során várhatóan minket is fog érni kritika, ezekre válaszul érdemes részletekre kiterjedő kérdéseket feltenni, hogy pontosan megértsük, mire is gondol a másik, és egyben visszajelzést adjunk afelől, hogy figyelünk, nyitottak  és képesek vagyunk befogadni a kritikát és elgondolkozni a saját hibáinkon is.
            </template>
            <template #slide7>
              <strong>7. Jogos kritika elismerése:</strong> A beszélgetés során el kell fogadnunk, ha jogos kritika is érhet minket, bármennyire is nehéz vagy sérti a büszkeségünket. Ezt fontos, hogy a nélkül tegyük, hogy feladnánk eredeti kérésünket vagy véleményünket.
            </template>
            <template #slide8>
              <strong>8. Nonverbális jelzések, gesztusok:</strong> Saját testi jelzéseink a legőszintébben kommunikálják belső állapotainkat. Az ilyen nem verbális, hanem testi jelek, mint a mimika, a hangszín, a testtartás, vagy a gesztusok nagyon fontosak a zökkenőmentes kommunikáció érdekében: a meleg hangszín, a se nem túl hangos, se nem túl halk hangerő, a folyékony beszéd, nyugodt arc és az őszinte (nem szarkasztikus) mosoly mind pozitívan hathatnak beszélgetőtársunkra.
            </template>
            <template #slide9>
              <strong>9. Legyünk felkészültek!</strong><br>
              Gyűjtsünk össze minden tényt, ami alátámaszthatja nézőpontunkat!
            </template>
            <template #slide10>
              <strong>10. Mutassunk figyelmet és együttérzést!</strong> Próbáljunk meg beleérezni, milyen lehet a másik helyzetében lenni.<br>
              <em>„Látom, hogy ez a kérdés fontos a számodra.”<br>
                „Látom, hogy ez erős érzéseket kelt benned.”</em>
            </template>
            <template #slide11>
              <strong>11. Kérjünk visszajelzést!</strong> Bizonyosodjunk meg arról, hogy teljesen megértettük a másik nézőpontját, okait és igényeit.<br>
              <em>„Szeretnék biztos lenni abban, hogy jól értettem Önt. ”<br>
                „Kérem, ismételje meg, mit gondol arról, hogy mit kellene tenni.”</em>
            </template>
            <template #slide12>
              <strong>12. Maradjunk nyugodtak!</strong> Ha csak lehetséges, használjunk relaxációs technikákat, hogy segítsenek felkészülni a szituációra, ami nehézséget okoz. Végül vegyünk pár hosszú, mély levegőt, mielőtt elkezdenénk beszélni.
            </template>
            <template #slide13>
              <strong>13. Maradjunk a témánál!</strong> Vigyázzunk arra, hogy nehogy mellékvágányra térjünk! Gondoskodjunk róla, hogy a másik fél is a témánál maradjon! Ha szükségesnek érezzük, ismételjük meg, hogy mit is szeretnénk elérni.
            </template>
            <template #slide14>
              <strong>14. Kínáljunk kompromisszumot!</strong> Ne legyünk önfejűek és ne várjunk arra, hogy a másik kínál valamit először. Amikor a megbeszélésünk során  az egyik fél tesz valamilyen engedményt, akkor a másik fél is hajlamos lesz követni a példáját.
            </template>
          </ds-topics-card-slider>
        </div>
      </div>

      <ds-topics-block-title :id="'viselkedesi-stilusok'" title="Viselkedési stílusok" />

      <div class="card mb-20">
        <div class="card-body p-20">
          <h5>Az önérvényesitő kommunikáció és viselkedés leggyakoribb tipusai</h5>

          <p>4 féle főbb viselkedési és kommunikációs stílus jellemezhet bennünket és környezetünket: agresszív, passzív, manipulatív és asszertív önérvényesítő.</p>

          <ds-topics-picture class="mb-0" :image="require('~/assets/images/topics3/DS_Temakor_03_abra_02.svg')">
            <template #caption>
              <strong>Ábra:</strong> Az önérvényesitő kommunikáció és viselkedés leggyakoribb tipusai
            </template>
          </ds-topics-picture>
        </div>
      </div>

      <div class="card mb-20">
        <div class="card-body p-20">
          <h5>A passzív védekező, önalávető hozzáállás</h5>

          <ds-show-more padding-bottom>
            <template #default>
              <p class="fz-16 text-dermasoul-dark"><strong><em>„Én úgyis veszítek - Te pedig nyersz. Felesleges, jelentéktelen vagyok,
                nincs rám szükség és magamat kicsire összehúzva el kell meneküljek a konfliktusokból.”</em></strong></p>

              <p>A reagálástól, a véleménynyilvánítástól, elköteleződéstől való félelemben nyilvánul meg, olyankor, amikor hagyjuk, hogy jogainkat semmibe vegyék, „területeinket elfoglalják”. Számos megjelenési formája létezik, például:</p>

              <p><strong>Számos megjelenési formája létezik, például:</strong></p>

              <ul>
                <li>Látszólag semlegességet, vagy épp túlzott szerénységet mutatunk, önfeláldozóan viselkedünk.</li>
                <li>Békéltető hajlam-, túlzott udvariasság-, túlzott önfegyelem- és a kezdeményezés hiánya jellemez bennünket.</li>
                <li>Nem kérdezünk sokat, keveset beszélünk, hagyjuk, hogy mások döntsenek helyettünk.</li>
              </ul>

              <ds-topics-card theme="example" no-shadow title="JELLEMZŐ MONDATOK">
                <template #content>
                  <em>„Félek, hogy megsértem, ha...„<br>
                    „A főnök azt mondta, hogy...„<br>
                    „Biztosan igaza van...„<br>
                    „Mindenki azt csinál, amit akar.„<br>
                    „Nem keveredek bele abba, ami nem tartozik rám.„<br>
                    „Nincs időm erre… !„<br>
                    „Végül is, mit tehetnénk?„<br>
                    „Ez nem az én problémám.„<br>
                    „Azt csinálom, amit kérnek tőlem.„</em>
                </template>
              </ds-topics-card>

              <ds-topics-card theme="example" no-shadow disable-title disable-bg>
                <template #content>
                  <p><strong>Hátterében gyakori:</strong></p>

                  <p class="mb-0"><strong>A hatalmi viszonyok téves értelmezése:</strong></p>
                  <ul>
                    <li>Gyermekien, ha felnagyítjuk mások hatalmát.</li>
                    <li>Alárendeljük magunkat valaki más velünk szemben támasztott elvárásainak.</li>
                  </ul>

                  <p class="mb-0"><strong>A helyzet jelentéktelenítése:</strong></p>
                  <ul>
                    <li>Nincs semmilyen probléma: struccpolitika.</li>
                    <li>Nem súlyos a helyzet: nem számolunk a helyzet jelentőségével.</li>
                    <li>Nincs megoldás: azt gondoljuk, nem tehetünk semmit.</li>
                    <li>Nem vagyunk képes megoldani: nincs elég önbizalmunk a közbelépéshez.</li>
                  </ul>

                  <p class="mb-0"><strong>Igény arra, hogy szeretve legyünk és elfogadjanak:</strong></p>
                  <ul>
                    <li>Annak érdekében, hogy elkerüljük a konfliktushelyzeteket, hogy megőrizzük mások jóindulatát, hajlamosak vagyunk passzivitásba vonulni, és függőségi, gyengeséget mutató helyzetet teremteni önmagunk számára. Ebből fakadhat egyfajta balek szerep, a környezet gyakran kihasználja, és nem kellő mértékben tiszteli azt, aki nem áll ki magáért.</li>
                  </ul>
                </template>
              </ds-topics-card>

              <ds-topics-card theme="example" no-shadow disable-title disable-bg>
                <template #content>
                  <p><strong>Gyakori következményei:</strong></p>

                  <p class="fz-16 text-dermasoul-dark"><strong><em>„Nem érdemlem meg, hogy szeressenek, megbecsüljenek.”</em></strong></p>

                  <p><strong>Rossz közérzet:</strong> A passzív félben egy idő után felhalmozódnak a negatív érzések, elégedetlen lesz önmagával és másokkal.</p>

                  <p><strong>Kirekesztődés, harag és neheztelés:</strong> Egy idő elteltével önmaga ellen fordíthatja azt az indulatot, melyet visszafog magában.</p>

                  <p><strong>Önbizalom vesztés:</strong> Szélsőséges esetben a kapcsolatok ellaposodhatnak és elhalhatnak. Az önértékelés csökkenése egy idő után önbeteljesítő jóslattá válhat.</p>
                </template>
              </ds-topics-card>

              <ds-topics-card theme="tipp" no-shadow>
                <template #content>
                  <p class="mb-0"><strong>A passzív hozzáállású személy asszertív kezelésére:</strong></p>
                  <ul class="mb-0">
                    <li>Tegyünk fel váltakozva zárt és nyitott kérdéseket!</li>
                    <li>Várjunk a válaszra! Engedjük meg a csendet!</li>
                    <li>Reagáljunk őszinte érzéseinkkel a másik passzivitásra. Adjunk én.. állítással megfogalmazott üzeneteket!</li>
                    <li>Alkalmazzunk pozitív megerősítést!</li>
                    <li>A beszélgetést irányítsuk a motiváló tényezők felé!</li>
                  </ul>
                </template>
              </ds-topics-card>
            </template>
          </ds-show-more>
        </div>
      </div>

      <div class="card mb-20">
        <div class="card-body p-20">
          <h5>A támadó, agresszív hozzáállás</h5>

          <ds-show-more padding-bottom>
            <template #default>
              <p class="fz-16 text-dermasoul-dark"><strong><em>„Én nyerek - te veszítesz. Nincs szükségem rád, én tudom az összes választ”.</em></strong></p>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto beatae blanditiis maiores quibusdam voluptates! A consequatur cumque dicta est ipsam neque, nesciunt odio officia pariatur quaerat quibusdam quisquam sunt totam.</p>

              <ds-topics-card theme="example" no-shadow title="JELLEMZŐ MONDATOK">
                <template #content>
                  <em>„Én, én…„<br>
                    „Mindent vagy semmit!„<br>
                    „Te semmit sem értesz.„<br>
                    „Nem akarok tudni róla.„<br>
                    „Oldd meg te!„<br>
                    „Ebben a világban kell tudni bizonyítani.„<br>
                    „Tévedsz, ha azt hiszed…„</em>
                </template>
              </ds-topics-card>

              <p><strong>Számos formában megjelenhet, olyankor, mikor átlépjük, vagy megtámadjuk a másik “határait”,
                „területeit”.</strong></p>

              <p><strong>Autokrata stílus:</strong> amikor lesöpörjük, megalázzuk a nálunk gyengébbet, az alárendeltjeinket, hogy ezáltal kimutassuk vagy fitogtassuk hatalmunkat.</p>

              <p><strong>Ellentmondó:</strong> ha mindig megtaláljuk a módját annak, hogy kifejtsük véleményünket és ellentmondhassunk.<br>
                Leértékelő Ha alig bírunk ellenállni a kísértésnek, hogy becsmérlően nyilatkozzunk valamiről vagy valakiről.</p>

              <p><strong>Túl magabiztos:</strong> ha mindig a saját ötleteinkhez kanyarodunk vissza és nem hallgatjuk meg mások véleményét.</p>

              <ds-topics-card theme="example" no-shadow disable-title disable-bg>
                <template #content>
                  <p><strong>Háttere:</strong></p>

                  <p><strong>Személyes problémáink lehetnek</strong> viselkedésünk hátterében, túlérzékenység, nagyszámú múltbeli csalódás, gyakran a másoktól való lappangó, - gyakran számunkra is rejtett félelem áll.</p>

                  <p><strong>Túlzott önvédelem:</strong> ha úgy érezzük, védekeznünk szükséges más emberek vagy csoportok miatt. </p>

                  <p><strong>Bosszúvágy, visszavágási szándék:</strong> Egyes emberek igen élénk reakciókat válthatnak ki belőlünk. Attitűdjeik, szavaik arra késztethetnek bennünket, hogy „kimutassuk a fogunk fehérjét”. Ami minket nagyon zavar másokban, az gyakran valami olyasmi, ami nekünk magunknak is rossz tulajdonságunk, de nem ismerjük be magunknak.</p>

                  <p><strong>Szorongás, nem reális önértékelés, érzelmi bizonytalanság:</strong> A szorongás, frusztráció sérülékeny, gyenge állapotba hozhat bennünket, és támadó viselkedést válthat ki bennünk. Ha személyünkben támadva érezzük magunkat, gyakran ösztönösen az ellentámadás fegyverét választjuk.</p>
                </template>
              </ds-topics-card>

              <ds-topics-card theme="example" no-shadow disable-title disable-bg>
                <template #content>
                  <p><strong>Gyakori következményei:</strong></p>

                  <p><strong>Mások lebecsülése:</strong> Az agresszió olyan szándékot eredményez, többé-kevésbé tudatos formában, hogy mások felett domináljunk, őket és véleményüket alábecsüljük.</p>

                  <p><strong>Az energiák „szelepelése”:</strong> Atámadó attitűd arra ösztökél, hogy ellentámadásba lendüljünk ahelyett, hogy a konfliktus velejét, a problémát oldjunk meg.</p>

                  <p><strong>Látszólagos eredményesség:</strong> Amikor a hatalmi viszonyok támadóként nekünk kedveznek, könnyen azt gondolhatjuk, hogy sikerrel jártunk. A másik félnél alárendelődést válthat ki, mely motiválatlanságot, a kezdeményezőkészség elvesztését és bosszúvágyat vált ki. </p>

                  <p><strong>Felesleges erőfeszítés, stressz, megterhelődés, az együttműködés ellehetetlenülése,
                    kiközösítés:</strong> Az agresszió válaszként agressziót vált ki, és a támadást ellentámadás követheti.</p>
                </template>
              </ds-topics-card>

              <ds-topics-card-slider :items="3" theme="tipp" title="Tippek - Támadó személyek asszertív kezelése:">
                <template #slide1>
                  <strong>1.</strong> Segítsük az indulat, érzés azonosítását.
                </template>
                <template #slide2>
                  <strong>2.</strong> Tegyünk fel reflektív kérdéseket.
                </template>
                <template #slide3>
                  <strong>3.</strong> Az indulat lecsengése után oldjuk fel a hangulatot.
                </template>
              </ds-topics-card-slider>
            </template>
          </ds-show-more>
        </div>
      </div>

      <div class="card mb-20">
        <div class="card-body p-20">
          <h5>A manipulatív hozzáállás</h5>

          <ds-show-more padding-bottom>
            <template #default>
              <p class="fz-16 text-dermasoul-dark"><strong><em> „Én nyerek, Te pedig nyersz, vagy veszítesz, - ahogy azt én jónak látom.”</em></strong></p>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod
                scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur
                nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo.
                Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae,
                interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras
                at orci vitae dolor facilisis convallis.</p>

              <p>Sed eleifend, sem interdum accumsan facilisis, urna ante rutrum elit, id volutpat ligula mauris
                pellentesque ex. Aliquam interdum dolor nec felis egestas, ut consectetur sem viverra. Sed ex lorem,
                eleifend vel mattis quis, gravida a sapien. Vivamus tristique arcu quis dapibus pellentesque. Cras egestas
                elit at dolor posuere, eget scelerisque sem euismod. Maecenas sed enim ac nisi venenatis porta. Suspendisse
                elementum libero sollicitudin, maximus risus nec, euismod turpis. Duis eleifend sit amet enim pretium
                cursus. Pellentesque id mauris a risus tristique eleifend. Aliquam consequat arcu quis sagittis tincidunt.
                Nulla arcu magna, fringilla non tempor vel, rutrum ac massa.</p>

              <ds-topics-card no-shadow>
                <template #content>
                  A befolyásolást és a manipulációt el kell különítenünk egymástól: a befolyásolási készség, a motiválás és a meggyőzés fontos, hasznos tulajdonságok, ellenben a manipuláció egy olyan viselkedési forma, mellyel úgy törekszünk a másik fél befolyásolására, hogy az ne szerezzen tudomást arról, hogy valójában mit akarunk.
                </template>
              </ds-topics-card>

              <ds-topics-card theme="example" no-shadow title="JELLEMZŐ MONDATOK">
                <template #content>
                  <em>„Ez a te javadat szolgálja.„<br>
                    „Vigyázz azzal a bizonyos…„<br>
                    „Természetesen, amit most elárultam neked, az bizalmas.„</em>
                </template>
              </ds-topics-card>

              <ds-topics-card theme="example" no-shadow disable-title disable-bg>
                <template #content>
                  <p><strong>Háttere, kialakulása, eredete:</strong></p>

                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod
                    scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur
                    nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo.
                    Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae,
                    interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras
                    at orci vitae dolor facilisis convallis.</p>

                  <p>Sed eleifend, sem interdum accumsan facilisis, urna ante rutrum elit, id volutpat ligula mauris
                    pellentesque ex. Aliquam interdum dolor nec felis egestas, ut consectetur sem viverra. Sed ex lorem,
                    eleifend vel mattis quis, gravida a sapien. Vivamus tristique arcu quis dapibus pellentesque. Cras egestas
                    elit at dolor posuere, eget scelerisque sem euismod. Maecenas sed enim ac nisi venenatis porta. Suspendisse
                    elementum libero sollicitudin, maximus risus nec, euismod turpis. Duis eleifend sit amet enim pretium
                    cursus. Pellentesque id mauris a risus tristique eleifend. Aliquam consequat arcu quis sagittis tincidunt.
                    Nulla arcu magna, fringilla non tempor vel, rutrum ac massa.</p>

                  <p>Proin non efficitur nunc, eu viverra massa. Praesent sed nisl id dolor mattis dapibus. Proin tristique id
                    ligula id placerat. Donec varius odio in nulla blandit tincidunt id at nisi. Curabitur risus enim, bibendum
                    porttitor volutpat sed, hendrerit id mauris. Suspendisse laoreet scelerisque sollicitudin. Praesent a leo
                    est. Aenean sodales leo elit, id mollis lorem dictum quis. Cras ullamcorper varius eros vitae mollis.
                    Phasellus ultricies diam non neque malesuada, ut condimentum nibh luctus.</p>
                </template>
              </ds-topics-card>

              <ds-topics-card theme="example" no-shadow disable-title disable-bg>
                <template #content>
                  <p><strong>Következményei:</strong></p>

                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod
                    scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur
                    nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo.
                    Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae,
                    interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras
                    at orci vitae dolor facilisis convallis.</p>

                  <p>Sed eleifend, sem interdum accumsan facilisis, urna ante rutrum elit, id volutpat ligula mauris
                    pellentesque ex. Aliquam interdum dolor nec felis egestas, ut consectetur sem viverra. Sed ex lorem,
                    eleifend vel mattis quis, gravida a sapien. Vivamus tristique arcu quis dapibus pellentesque. Cras egestas
                    elit at dolor posuere, eget scelerisque sem euismod. Maecenas sed enim ac nisi venenatis porta. Suspendisse
                    elementum libero sollicitudin, maximus risus nec, euismod turpis. Duis eleifend sit amet enim pretium
                    cursus. Pellentesque id mauris a risus tristique eleifend. Aliquam consequat arcu quis sagittis tincidunt.
                    Nulla arcu magna, fringilla non tempor vel, rutrum ac massa.</p>

                  <p>Proin non efficitur nunc, eu viverra massa. Praesent sed nisl id dolor mattis dapibus. Proin tristique id
                    ligula id placerat. Donec varius odio in nulla blandit tincidunt id at nisi. Curabitur risus enim, bibendum
                    porttitor volutpat sed, hendrerit id mauris. Suspendisse laoreet scelerisque sollicitudin. Praesent a leo
                    est. Aenean sodales leo elit, id mollis lorem dictum quis. Cras ullamcorper varius eros vitae mollis.
                    Phasellus ultricies diam non neque malesuada, ut condimentum nibh luctus.</p>
                </template>
              </ds-topics-card>

              <ds-topics-card theme="challenge" no-shadow>
                <template #content>
                  <p><strong>Rejtélyeskedés:</strong> Egy-egy fél szót eleresztve, mindenkinek a fantáziájára bízza, hogy mit gondoljon.</p>

                  <p><strong>Leértékelés:</strong> Valakit kigúnyol és a többieket, akik nevetnek a gúnyolódás hallatára, ezzel a saját oldalára állítja.</p>

                  <p><strong>Karikírozás:</strong> Eltúlozza valakinek a viselkedését vagy gesztusait, és ezáltal más beállításba helyezi az illetőt.</p>

                  <p><strong>Bűntudat keltés:</strong> Elbizonytalanít valakit saját értékeit illetően, kisebbrendűségi érzést vált ki benne, majd sugalmazza a megfelelő kiutat.</p>
                </template>
              </ds-topics-card>

              <ds-topics-card theme="tipp" no-shadow>
                <template #content>
                  <p class="mb-0"><strong>Manipulatív hozzáállás asszertív kezelésére:</strong></p>
                  <ul class="mb-0">
                    <li>Az itt és most felé irányítsuk a beszélgetést.</li>
                    <li>A beszélgetést tartsuk racionális szinten.</li>
                    <li>Állítsuk le a moralizáló, ítélkező témákat.</li>
                    <li>Koncentráljunk a téma tartalmára.</li>
                    <li>Használjuk a törött lemez technikát (lásd később).</li>
                  </ul>
                </template>
              </ds-topics-card>

            </template>
          </ds-show-more>
        </div>
      </div>

      <t303 />

      <ds-topics-block-title card :id="'hatarhuzas-avagy-hogyan-mondjunk-nem-et'" title="Határhúzás, avagy hogyan mondjunk nem-et?">
        <template #lead>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi aspernatur assumenda autem commodi consequuntur dolor eveniet excepturi exercitationem minus quas quidem quis quod reiciendis repudiandae rerum, voluptate. Non, velit?
        </template>
        <template #card>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet corporis dolore natus quae quidem tempora velit veniam?
        </template>
      </ds-topics-block-title>

      <div class="card mb-20">
        <div class="card-body p-20">
          <h5>A nem-et mondás asszertív megoldásának kulcsa</h5>

          <p class="fz-16 text-dermasoul-dark"><strong><em>„Joga van arra, hogy „nem”-et mondjon, anélkül, hogy bűntudatot kellene éreznie.”</em></strong></p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto dolorum earum eius illum minus molestias nobis omnis, optio provident recusandae saepe, sint voluptatum. Dolorum earum eius ipsum nihil ullam?</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur earum exercitationem ipsa magnam magni quibusdam quidem totam? Aperiam beatae, deleniti dolor, ea error est ipsum magnam mollitia nisi provident ratione. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet corporis harum sapiente tempora. Aliquid culpa doloremque dolorum labore molestias nobis quo temporibus, velit vitae voluptatum? Mollitia repellat unde voluptas.</p>

          <ds-topics-card-slider :items="3" theme="tipp">
            <template #slide1>
              <p><strong>1. Készüljünk fel a kritikus helyzetekre!</strong><br>
                Segíthet, ha végig gondoljuk, hogy milyen kérdésekben, témákban nehéz nemet mondanunk, és kik azok, akiket nehéz visszautasítanunk?</p>
            </template>
            <template #slide2>
              <p><strong>2. Gyakorlás révén könnyebb lesz nemet mondani.</strong><br>
                Megelőzhetjük vele önértékelésünk csorbulását és számos aggodalmat.</p>
            </template>
            <template #slide3>
              <p><strong>3. Tisztázzuk magunkban saját érzésünket a helyzetről.</strong><br>
                A legegyszerűbb nemet mondanunk akkor, ha valóban így is gondoljuk és nem bizonytalankodunk. </p>
            </template>
          </ds-topics-card-slider>
        </div>
      </div>

      <div class="card mb-20">
        <div class="card-body p-20">
          <h5>A nemet mondás 4 alapkészsége</h5>

          <ds-show-more padding-bottom>
            <template #default>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod
                scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur
                nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo.
                Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae,
                interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras
                at orci vitae dolor facilisis convallis.</p>

              <p>Sed eleifend, sem interdum accumsan facilisis, urna ante rutrum elit, id volutpat ligula mauris
                pellentesque ex. Aliquam interdum dolor nec felis egestas, ut consectetur sem viverra. Sed ex lorem,
                eleifend vel mattis quis, gravida a sapien. Vivamus tristique arcu quis dapibus pellentesque. Cras egestas
                elit at dolor posuere, eget scelerisque sem euismod. Maecenas sed enim ac nisi venenatis porta. Suspendisse
                elementum libero sollicitudin, maximus risus nec, euismod turpis. Duis eleifend sit amet enim pretium
                cursus. Pellentesque id mauris a risus tristique eleifend. Aliquam consequat arcu quis sagittis tincidunt.
                Nulla arcu magna, fringilla non tempor vel, rutrum ac massa.</p>

              <ds-topics-card theme="example" no-shadow disable-title disable-bg>
                <template #content>
                  <strong>1. Vegyük figyelembe saját és a másik jogait és törekedjünk elismerésükre.</strong> Minél kevésbé terhelt érzelmileg egy helyzet, ez annál könnyebben megvalósítható. Segíthet, ha végig gondoljuk az adott helyzetben. Például: “Jogom van kifejezni az érzéseimet, ahogy a másiknak is.”
                </template>
              </ds-topics-card>

              <ds-topics-card theme="example" no-shadow disable-title disable-bg>
                <template #content>
                  <strong>2. Legyünk érthetőek és pontosak!</strong> Legyünk rövidek és térjünk a lényegre! Kerüljük a kifogásokat és a mellébeszélést, erre semmi szükség!
                </template>
              </ds-topics-card>

              <ds-topics-card theme="example" no-shadow disable-title disable-bg>
                <template #content>
                  <strong>3. Ismétlés jelentősége:</strong> Lehet, hogy nem értenek meg minket teljesen az első alkalommal. Ezért segíthet, ha megismételjük nyugodtan és érthetően a mondandónkat.
                </template>
              </ds-topics-card>

              <ds-topics-card theme="example" no-shadow disable-title disable-bg>
                <template #content>
                  <strong>4. A másik elismerésének jelentősége:</strong> Joga van, hogy azt érezze, amit. Ahogyan nekünk is.
                </template>
              </ds-topics-card>

              <ds-topics-card-slider :items="4" theme="tipp">
                <template #slide1>
                  <p><strong>1. Mondjon nemet egy egyszerű magyarázattal, hogy miként érez!</strong></p>
                  <p><em>„Nem, nagyon sajnálom, hogy nem segíthetek, de nem tehetem.”<br>
                    „Nem, örülnék, ha tehetném, de attól félek, hogy nem megy.”</em></p>
                </template>
                <template #slide2>
                  <p><strong>2. Mondjon nemet és adjon alternatívát!</strong></p>
                  <p><em>„Nem, nem maradhatok ma bent tovább. Meg tudom csinálni holnap ebédidőben.”<br>
                    „Nem, nem segíthetek. Azt gondolom, hogy Jánosnak van még szabadideje, próbálja meg vele.”</em></p>
                </template>
                <template #slide3>
                  <p><strong>3. Mondjon nemet és egyszerűen fejtse ki röviden az okait!</strong></p>
                  <p><em>„Nem, színházjegyem van ma estére.”<br>
                    „Nem, elutazunk a hétvégére, szóval nem megy.”</em></p>
                </template>
                <template #slide4>
                  <p><strong>4. Fejezze ki együttérzését és azután mondjon nemet!</strong></p>
                  <p><em>„Úgy látom, hogy problémája van, és én nem segíthetek.”<br>
                    „Tudom, hogy ez nehézséget okoz önnek, és én nem segíthetek.”</em></p>
                </template>
              </ds-topics-card-slider>
            </template>
          </ds-show-more>
        </div>
      </div>

      <ds-topics-card>
        <template #content>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, officia reiciendis. Ad autem eos harum ipsa labore nulla pariatur voluptatum? Debitis ex, laudantium libero officia officiis quisquam rem reprehenderit unde!
        </template>
      </ds-topics-card>

      <t304 />

      <div class="card mb-20">
        <div class="card-body p-20">
          <h5>A törött lemez technika</h5>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod
            scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur
            nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo.
            Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae,
            interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras
            at orci vitae dolor facilisis convallis.</p>

          <ds-topics-card no-shadow>
            <template #content>
              Sok gyerek szakértője ennek és hatékonyan tudja alkalmazni.
            </template>
          </ds-topics-card>
        </div>
      </div>

      <t305 />

      <ds-topics-block-title card :id="'az-egyenes-es-tapintatos-kritika'" title="Az egyenes és tapintatos kritika">
        <template #lead>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, nemo, porro? Accusamus corporis deleniti et eveniet ex, facere impedit inventore itaque molestiae necessitatibus neque nesciunt non praesentium quae qui ullam.
        </template>
        <template #card>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi aperiam autem consequuntur dignissimos expedita fuga hic, iste reiciendis rerum sapiente ullam! Asperiores dolor ea illo libero mollitia non sed.</p>

          <p>Az építő jellegű kritika alkalmazásának egyik alapvető eleme, hogy a kritikát tudnunk kell elfogadni, nem csak gyakorolni!</p>
        </template>
      </ds-topics-block-title>

      <div class="card mb-20">
        <div class="card-body p-20">
          <h5>A romboló, avagy destruktív kritika</h5>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod
            scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur
            nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo.
            Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae,
            interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras
            at orci vitae dolor facilisis convallis.</p>

          <ds-topics-card-slider :items="5" theme="tipp">
            <template #slide1>
              <p>1. Lényeges, hogy a kritika tárgyára koncentráljunk. Ehhez nem kell egyetértenünk vele, vagy tagadnunk azt, ami elhangzott.</p>
            </template>
            <template #slide2>
              <p>2. Ha hozzáállásunk mentes a tagadástól, vagy a sértődöttségtől, akkor képessé válunk a konkrét tartalmak után érdeklődni.</p>
            </template>
            <template #slide3>
              <p>3. Vitatkozni legjobban véleményeken vagy általánosságokon lehet, s a rosszul megfogalmazott kritika rendszerint ezeket tartalmazza.</p>
            </template>
            <template #slide4>
              <p>4. Az önérvényesítő, asszertív válaszok alkalmazása a destruktív kritika előfordulását csökkenteni fogja.</p>
            </template>
            <template #slide5>
              <p>5. Az önérvényesítő, asszertív viselkedés asszertív kritikához vezet, amely eredményeként harmonikusabb kapcsolatok alakulnak ki.</p>
            </template>
          </ds-topics-card-slider>
        </div>
      </div>

      <div class="card mb-20">
        <div class="card-body p-20">
          <h5>Hogyan reagáljunk romboló kritikára</h5>

          <p>Az alábbiakban néhány lehetséges választ mutatunk be, melyek alapján könnyebben kialakíthatjuk– saját helyzeteinkez illeszkedő – személyes válaszainkat.</p>

          <ds-topics-card theme="example" no-shadow title="Példák">
            <template #content>
              <p><em>„Sajnálom, hogy így érez. Mi is az pontosan, amit ön szerint én tettem?”<br>
                „Biztos vagyok benne, hogy nem tehettem másként. Ön miként szerette volna?”<br>
                „Nem voltam ennek tudatában. Miért mondta ezt?”<br>
                „Biztos akartam lenni abban, hogy pontosan értettem önt. Pontosan mi történt?”<br>
                „Biztosan igaza van.  Miért mondta ezt?”<br>
                „Biztos igaza van. Beszéljük meg.”<br>
                „Lehet, hogy így van. Szeretném, ha alaposabb meg tudnánk beszélni.”<br>
                „Sajnálom, hogy ezt gondolja. Pontosan mire gondol?”<br>
                „Azt gondolom, hogy másként is lehetett volna csinálni. Ön miként oldotta volna meg?”<br>
                „Úgy tűnik, hogy talán nem voltam tisztában azzal, hogy mi fog történni. Ki tudná fejteni bővebben?”<br>
                „Azt gondolom, megértettem az üggyel kapcsolatos érzéseit. Beszéljük meg alaposabban.”</em></p>
            </template>
          </ds-topics-card>

          <ds-topics-card theme="challenge" no-shadow title="Leggyakoribb kihívások bőrproblémával élőknél">
            <template #content>
              <ul>
                <li><strong>Ismeretlenek bámulásával nem kell foglalkoznunk.</strong></li>
                <li><strong>Semmiképp se kerüljük a bőrállapotunk miatt más emberek társaságát!</strong> A szeparáció és a magány csak ront az egészségünkön.
                <li><strong>Keressük olyanok társaságát, akik tájékozottak, elfogadóak és megértőek
                  velünk.</strong></li>
                <li>Ha folyton külön erőfeszítéseket teszünk, hogy rejtegessük bőrünket, s csak idegesebbek leszünk, ez vissza hathat a bőrünk állapotára.
                  <strong>Játsszunk nyílt kártyákkal, kommunikáljunk a bőrproblémánkról környezetünkkel!</strong> A legtöbbször az emberek nem direkt bántóak velünk, hanem tudatlanok, félnek az ismeretlentől és ilyenkor könnyebben válnak morózussá, bizalmatlanná.</li>
                <li><strong>Ha ismerős nézi a bőrünket, magyarázzuk el neki.</strong> Például jelezzünk előre a fordászunknak, pedikűrösünknek: “Tudja-e mi ez a bőrprobléma?” “Találkozott-e már ilyennel? A fodrász, vagy a  pedikűrös képzéseken többnyire tanítják és azt is hogy nem ragályos.”</li>
                <li><strong>Nyáron időben elkezdhetünk napozni, hogy eltűnjön, halványuljon és kevésbé látszódjon a
                  strandon.</strong></li>
              </ul>
            </template>
          </ds-topics-card>
        </div>
      </div>

      <t306 />

      <div class="card mb-20">
        <div class="card-body p-20">
          <h5>Építő kritika</h5>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod
            scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur
            nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo.
            Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae,
            interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras
            at orci vitae dolor facilisis convallis.</p>

          <ul>
            <li>Pontosan milyen eredményt is várunk ettől?</li>
            <li>Készüljünk fel partnerünkből! Vegyük számba a másik az ő helyzetéből és személyiségéből adódóan várható reakcióját, s várható ellenérveit!</li>
            <li>Gyűjtsünk jó érveket! Ahhoz, hogy kritikát fogalmazzunk meg, megalapozott okokkal kell rendelkeznünk, s jó érveket kell felhoznunk, és azokat megfelelő formában kell megfogalmaznunk ahhoz, hogy az a másik fél számára is elfogadható legyen, s valóban megváltoztassa viselkedését. </li>
          </ul>

          <ds-topics-card theme="challenge" no-shadow>
            <template #content>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod
                scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur
                nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo.
                Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae,
                interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras
                at orci vitae dolor facilisis convallis.</p>

              <p>Sed eleifend, sem interdum accumsan facilisis, urna ante rutrum elit, id volutpat ligula mauris
                pellentesque ex. Aliquam interdum dolor nec felis egestas, ut consectetur sem viverra. Sed ex lorem,
                eleifend vel mattis quis, gravida a sapien. Vivamus tristique arcu quis dapibus pellentesque. Cras egestas
                elit at dolor posuere, eget scelerisque sem euismod. Maecenas sed enim ac nisi venenatis porta. Suspendisse
                elementum libero sollicitudin, maximus risus nec, euismod turpis. Duis eleifend sit amet enim pretium
                cursus. Pellentesque id mauris a risus tristique eleifend. Aliquam consequat arcu quis sagittis tincidunt.
                Nulla arcu magna, fringilla non tempor vel, rutrum ac massa.</p>
            </template>
          </ds-topics-card>
        </div>
      </div>

      <t307 />

      <ds-topics-block-title :id="'szakirodalmi-hatter-es-ajanlo'" title="Szakirodalmi háttér és ajánló" />

      <div class="card mb-20">
        <div class="card-body p-20">
          <p>Johann Hari (2019) Lost Connection. Bloomsbury Publishing.</p>

          <p>Hasson, G. & Hadfield, S. (2015). Asszertivitás. Scholar Kiadó.</p>

          <p>Renee Engeln, PhD; (2017). Beauty Sick: How the Cultural Obsession with Appearance Hurts Girls and Women. Harper Collins Publisher.</p>

          <p>Wolpe, J. (1958). Psychotherapy by reciprocal inhibition. Stanford, CA: Stanford University Press. DOI: 10.1007/BF03000093</p>
        </div>
      </div>

    </template>
  </topics-page>
</template>

<script>
  import TopicsPage from '~/components/Topics/TopicsPage';
  import DsTopicsComponentsHeader from '~/components/Topics/Components/Header';
  import DsTopicsBlockTitle from '~/components/Topics/Components/BlockTitle';
  import DsTopicsPicture from '~/components/Topics/Components/Picture';
  import DsTopicsTaskCard from '~/components/Topics/Components/TaskCard';
  import DsTopicBadges from '~/components/Topics/Components/Badges';
  import DsTopicsCard from '~/components/Topics/Components/Card';
  import DsShowMore from "~/components/Topics/Components/DsShowMore";
  import DsTopicsCardSlider from '~/components/Topics/Components/CardSlider';
  import T301 from '~/components/Topics/Components/tasks/T301';
  import T302 from '~/components/Topics/Components/tasks/T302';
  import T303 from '~/components/Topics/Components/tasks/T303';
  import T304 from "~/components/Topics/Components/tasks/T304";
  import T305 from "~/components/Topics/Components/tasks/T305";
  import T306 from "~/components/Topics/Components/tasks/T306";
  import T307 from "~/components/Topics/Components/tasks/T307";

  export default {
    name: 'TopicsPage1',
    components: {
      T307,
      T306,
      T305,
      T304,
      T303,
      T302,
      T301,
      DsTopicsCardSlider,
      DsShowMore,
      DsTopicsCard,
      DsTopicBadges,
      DsTopicsTaskCard,
      DsTopicsPicture,
      DsTopicsBlockTitle,
      TopicsPage,
      DsTopicsComponentsHeader
    },
    computed: {
      setMenu () {
        let menuItems = [];

        [...document.getElementsByClassName("scrollSpy")].forEach(
          (item) => {
            menuItems.push({
              title: item.dataset.title,
              hash: item.id,
              icon: item.dataset.icon ? item.dataset.icon : null
            });
          }
        );

        this.$store.commit('scroll-menu/add', menuItems);
      }
    },
    mounted () {
      this.$nextTick(() => {
        if(this.$route.hash) {
          const el = document.querySelector(this.$route.hash);
          setTimeout(() => {
            el && el.scrollIntoView({behavior: 'auto', block: 'center', inline: 'center'});
          }, 300);
        }
      });
      return this.setMenu;
    }
  }
</script>

<style lang="scss" scoped>
p:last-child {
  margin-bottom: 0;
}
li {
  &:not(:last-child) p {
    margin-bottom: 1.25rem !important;
  }
}
</style>
