<template>
  <topics-page :bg-image="require('@/assets/images/DS_Temakor_02_BG_1920x420px.jpg')" :bg-image-mobile="require('@/assets/images/DS_Temakor_02_BG_768x420px.jpg')">
    <template #content>
      <ds-topics-components-header>
        <template #title>
          Témakör 2.
        </template>
        <template #lead>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolore dolores enim eveniet neque quaerat quod repudiandae saepe.
        </template>
        <template #subTitle>
          Proin non efficitur nunc, eu viverra massa. Praesent sed nisl id dolor mattis dapibus. Proin tristique id ligula id placerat. Donec varius odio in nulla blandit tincidunt id at nisi. Curabitur risus enim, bibendum porttitor volutpat sed, hendrerit id mauris.
        </template>
      </ds-topics-components-header>

      <ds-topics-block-title card :id="'kognitiv-terapia'" title="Kognitív terápia">
        <template #lead>
          Quisque rhoncus ligula ut dui volutpat egestas. Nunc enim felis, varius eget tempor non, egestas sit amet purus.
        </template>
        <template #card>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque culpa, cum deserunt doloribus earum eos error, inventore itaque modi molestias odio provident, quasi quidem quod reiciendis reprehenderit ullam voluptas voluptate?
        </template>
        <template #content>
          <div class="card mb-20">
            <div class="card-body p-20">
              <h5>Miben rejlik gondolataink automatikus torzítása? </h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod
                scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur
                nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo.
                Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae,
                interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras
                at orci vitae dolor facilisis convallis.</p>

              <p>Sed eleifend, sem interdum accumsan facilisis, urna ante rutrum elit, id volutpat ligula mauris
                pellentesque ex. Aliquam interdum dolor nec felis egestas, ut consectetur sem viverra. Sed ex lorem,
                eleifend vel mattis quis, gravida a sapien. Vivamus tristique arcu quis dapibus pellentesque. Cras egestas
                elit at dolor posuere, eget scelerisque sem euismod. Maecenas sed enim ac nisi venenatis porta. Suspendisse
                elementum libero sollicitudin, maximus risus nec, euismod turpis. Duis eleifend sit amet enim pretium
                cursus. Pellentesque id mauris a risus tristique eleifend. Aliquam consequat arcu quis sagittis tincidunt.
                Nulla arcu magna, fringilla non tempor vel, rutrum ac massa.</p>


              <ds-topics-card>
                <template #content>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet blanditiis consectetur corporis deserunt fuga, impedit magni molestiae molestias necessitatibus nesciunt odit officia porro, praesentium, quisquam rem repudiandae sed ut.<br>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam amet animi cumque, dolorum eveniet, explicabo fugit iure magni maxime odio placeat quas qui quod recusandae reiciendis sunt vel voluptatibus.
                </template>
              </ds-topics-card>
            </div>
          </div>
        </template>
      </ds-topics-block-title>

      <ds-topics-block-title card :id="'alternativ-gondolkodasmod-helyzetekrol-esemenyekrol'" title="Alternatív gondolkodásmód helyzetekről, eseményekről">
        <template #lead>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet aperiam commodi consequatur cumque ducimus eveniet hic incidunt nesciunt, quae quis ratione sunt totam vel veritatis. Aperiam asperiores inventore totam.
        </template>
        <template #card>
          Laudantium magnam nemo odit officiis praesentium quaerat sint soluta ullam unde vitae voluptas voluptatibus! Sint.
        </template>
        <template #content>
          <div class="card mb-20">
            <div class="card-body p-20">
              <h5>Mitől válunk lehangolttá? Az ABC modell </h5>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod
                scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur
                nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo.
                Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae,
                interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras
                at orci vitae dolor facilisis convallis.</p>

              <p>Sed eleifend, sem interdum accumsan facilisis, urna ante rutrum elit, id volutpat ligula mauris
                pellentesque ex. Aliquam interdum dolor nec felis egestas, ut consectetur sem viverra. Sed ex lorem,
                eleifend vel mattis quis, gravida a sapien. Vivamus tristique arcu quis dapibus pellentesque. Cras egestas
                elit at dolor posuere, eget scelerisque sem euismod. Maecenas sed enim ac nisi venenatis porta. Suspendisse
                elementum libero sollicitudin, maximus risus nec, euismod turpis. Duis eleifend sit amet enim pretium
                cursus. Pellentesque id mauris a risus tristique eleifend. Aliquam consequat arcu quis sagittis tincidunt.
                Nulla arcu magna, fringilla non tempor vel, rutrum ac massa.</p>

              <p>Proin non efficitur nunc, eu viverra massa. Praesent sed nisl id dolor mattis dapibus. Proin tristique id
                ligula id placerat. Donec varius odio in nulla blandit tincidunt id at nisi. Curabitur risus enim, bibendum
                porttitor volutpat sed, hendrerit id mauris. Suspendisse laoreet scelerisque sollicitudin. Praesent a leo
                est. Aenean sodales leo elit, id mollis lorem dictum quis. Cras ullamcorper varius eros vitae mollis.
                Phasellus ultricies diam non neque malesuada, ut condimentum nibh luctus.</p>

              <ds-topics-picture class="mb-20" :image="require('~/assets/images/topics2/DS_Temakor_02_abra_01.svg')" :caption-margin="false">
                <template #caption>
                  <strong>Ábra:</strong> ABC modell
                </template>
              </ds-topics-picture>

              <ds-topics-card-slider :items="2" theme="example">
                <template #slide1>
                  <em>- Kérem, idézze fel, hogy ma mikor fogta el rossz érzés!<br>
                    - Míg vártam Önre, szomorúság, szorongás fogott el.<br>
                    - Emlékszik, milyen gondolat futott át a fején mielőtt szomorú lett?<br>
                    - Elveszettség érzés. Mikor bekopogtattam, nem jött ki senki. Arra gondoltam, hogy elfelejtkezett rólam. Nyilván nem kíváncsi rám, már biztos elege van az ilyen esetekből.<br>
                    - Lehet-e Ön szerint más következtetést levonni abból, hogy nem voltam a szobámban?<br>
                    - Egyszerűen máshol van. Közbejött valami. Dugóba került.<br>
                    - Ha arra gondol, hogy dugóba kerültem, akkor az esetleg azt is jelentheti, hogy nem feledkeztem meg magáról?<br>
                    - Igen.<br>
                    - Ha, arra gondolt volna, hogy nem feledkeztem meg magáról, hanem esetleg dugóba kerültem, akkor mennyire érezte volna magát elveszettnek?<br>
                    - Azt hiszem, sokkal kevésbé.</em>
                </template>
                <template #slide2>
                  <em>-József, épp most mi futott át az agyán?<br>
                    - Nem vagyok biztos benne.<br>
                    - Pillanatnyilag, hogy érzi magát?<br>
                    - Nem tudom. Szomorú vagyok azt hiszem.<br>
                    - Hol érzi a szomorúságot?<br>
                    - A mellkasomban. És a szemem mögött.<br>
                    - Nos, amikor azt kérdeztem, „ Hogy megy a főiskola?”, Ön - elszomorodott. Van bármi ötlete mire gondolhatott?<br>
                    - Azt hiszem a közgazdaságtan órára. Arra gondoltam, - amikor majd visszakapom a dolgozatom.<br>
                    - És mire gondolt? Vagy képzelt valamit?<br>
                    - Igen, a lap tetején egy piros tintával írt hármast.</em>
                </template>
              </ds-topics-card-slider>
            </div>
          </div>

          <div class="card mb-20">
            <div class="card-body p-20">
              <h5>Mi játszódik le bennünk, amikor lehangoltnak érezzük magunkat?</h5>

              <ds-show-more padding-bottom>
                <ds-topics-picture class="mb-3" :image="require('~/assets/images/topics2/DS_Temakor_02_abra_02.svg')" :caption-margin="false">
                  <template #caption>
                    <strong>Ábra:</strong> Példa helyzet arra, ahogyan lehangolttá válunk.<br>
                    <strong>A</strong> (Esemény) >> <strong>B</strong> (Gondolat/vélemény) >> <strong>C</strong> (Reakció)
                  </template>
                </ds-topics-picture>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod
                  scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur
                  nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo.
                  Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae,
                  interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras
                  at orci vitae dolor facilisis convallis.</p>

                <p>Sed eleifend, sem interdum accumsan facilisis, urna ante rutrum elit, id volutpat ligula mauris
                  pellentesque ex. Aliquam interdum dolor nec felis egestas, ut consectetur sem viverra. Sed ex lorem,
                  eleifend vel mattis quis, gravida a sapien. Vivamus tristique arcu quis dapibus pellentesque. Cras egestas
                  elit at dolor posuere, eget scelerisque sem euismod. Maecenas sed enim ac nisi venenatis porta. Suspendisse
                  elementum libero sollicitudin, maximus risus nec, euismod turpis. Duis eleifend sit amet enim pretium
                  cursus. Pellentesque id mauris a risus tristique eleifend. Aliquam consequat arcu quis sagittis tincidunt.
                  Nulla arcu magna, fringilla non tempor vel, rutrum ac massa.</p>

                <p>Proin non efficitur nunc, eu viverra massa. Praesent sed nisl id dolor mattis dapibus. Proin tristique id
                  ligula id placerat. Donec varius odio in nulla blandit tincidunt id at nisi. Curabitur risus enim, bibendum
                  porttitor volutpat sed, hendrerit id mauris. Suspendisse laoreet scelerisque sollicitudin. Praesent a leo
                  est. Aenean sodales leo elit, id mollis lorem dictum quis. Cras ullamcorper varius eros vitae mollis.
                  Phasellus ultricies diam non neque malesuada, ut condimentum nibh luctus.</p>

                <ds-topics-card-slider :items="2">
                  <template #slide1>
                    <ds-topics-card theme="example" class="h-100">
                      <template #content>
                        <p><strong>János és Péter kritikát kap a munkahelyén</strong></p>

                        <p><strong>Ugyanazt az esetet hogyan lehet teljesen különbözően látni, vagy megítélni: A délelőtti
                          megbeszélésen Jánost és Pétert megkritizálta a főnökük a munkájukat illetően. Amellett, hogy a
                          munkájuk terén egyforma tapasztalattal rendelkeztek, különbözőképpen reagáltak a kritikára. Ennek
                          megfelelően egészen eltérően érezték magukat annak függvényében, hogy miként gondolkodtak a
                          helyzetről.</strong></p>

                        <p><strong>János a következőket gondolta:</strong><br>
                          <em>„Ez borzalmas! Mennyire balek vagyok! Ezt most meg fogja jegyezni a főnököm egy életre és innentől
                            kezdve minden lépésemet figyelni fogja. Még egyszer ilyet nem tehetek meg! Jobb, ha mindent
                            tökéletesen csinálok mostantól, mert másképp nincs is értelme csinálni.”</em></p>

                        <p><strong> Érezte, hogy elönti a pánik és egyre feszültebben érezte magát. Egész nap csak ezen az
                          eseten
                          járt az esze és semmi másra nem tudott koncentrálni.</strong></p>

                        <p><strong>Péter a következőket gondolta:</strong><br>
                          <em>„Hm, nincs itt a világ vége, mindenki hibázhat. Többnyire megfelelően végzem a munkám és a
                            főnökömről köztudott, hogy gyakran kritizál élesen. Az lesz a legjobb, ha bocsánatot kérek a
                            hibámért
                            és arra fókuszálok, hogy mit tudok legközelebb jobban csinálni.”</em></p>

                        <p><strong>Folytatta munkáját a nap hátralévő részében és tökéletesen tudott összpontosítani a
                          feladataira.</strong></p>

                        <p><strong>Tehát annak ellenére, hogy ugyanabban az élethelyzetben voltak, eltérően gondolkoztak róla.
                          János karrierje végét látta, amitől nagyon elkeseredett. Péter ugyanakkor teljesen eltérően látta
                          ugyanezt a helyzetet. Annak ellenére, hogy ideges volt az esetet követően, mégis arra gondolt, hogy
                          hibázni nagyon is emberi dolog. Emlékeztette magát arra, hogy általánosságban mennyire jól végzi a
                          munkáját. Látható, hogy az esetről szóló eltérő gondolatok, milyen merőben más érzésekhez
                          vezetnek.</strong></p>
                      </template>
                    </ds-topics-card>
                  </template>
                  <template #slide2>
                    <ds-topics-card theme="example" class="h-100">
                      <template #content>
                        <p><strong>Zsuzsa és Klári megbuknak egy vizsgán: Zsuzsának és Klárinak nem sikerült egy vizsgája
                          az egyetemen. Annak ellenére, hogy együtt készültek fel a vizsgára, tehát ugyanannyi időt töltöttek a
                          felkészüléssel, különbözőképpen reagáltak ebben a szituációban. Teljesen eltérő érzések kavarogtak
                          bennük annak függvényében, hogy miként gondolkodtak a helyzetről.</strong></p>

                        <p><strong>Zsuzsa teljesen maga alatt volt, amikor megkapta a vizsga eredményét, azt mondta
                          magában:</strong><br>
                          <em>„Mindenki azt fogja gondolni, hogy teljesen ostoba vagyok. A szüleim nem fognak tovább
                            támogatni abban, hogy befejezzem az egyetemet.”</em></p>

                        <p><strong>Zsuzsa ehhez hasonló gondolatok mellett vázolta az eredmény lehető legrosszabb
                          kimenetelét.<br>
                          Egyre rosszabbul érezte magát és senkinek sem merte elmondani, hogy a vizsga nem
                          sikerült.</strong></p>

                        <p><strong>Klári nagyon elkeseredett, amikor megkapta a vizsga eredményét, azt gondolta:</strong><br>
                          „Ez egy nagy pofon – igazán keményen tanultam erre a vizsgára. De hát meg kell hagyni, ez a tárgy
                          nem tartozik az erősségeim közé. Semmi baj, az összes többi vizsgát sikerrel teljesítettem – nem
                          dől össze a világ – legvégső esetben megismétlem az évet, de azt mindig biztosan tudom, hogy a
                          szüleim támogatni fognak, mert tudják, hogy én minden tőlem telhetőt megtettem!”</p>

                        <p><strong>Bár először nagyon elkeseredett volt, más jelentést társított az elhibázott vizsgához:
                          az eset nem azért történt meg, mert ostoba volt, hanem azért mert az adott tárgy nem az erőssége és
                          mindent megtett a siker érdekében. Egyébként pedig az összes többi vizsgáját már sikeresen
                          teljesítette.</strong></p>

                        <p><strong>Összefoglalva:</strong></p>
                        <p>Látható, hogy ugyanarról a helyzetről való eltérő gondolatok, milyen
                          eltérő érzésekhez vezetnek. Tehát annak ellenére, hogy ugyanabban az élethelyzetben voltak, eltérő érzéseket éltek át ezzel
                          kapcsolatban. Zsuzsa hatalmas problémának látta az adott helyzetet és ez nagyon rossz érzésekkel
                          töltötte el. Klári viszont reálisabban látta ugyanezt a szituációt. Valójában önmagában nem az
                          esemény, amely szomorúvá vagy boldoggá tesz minket. Inkább a helyzetnek adott jelentés
                          befolyásolja érzéseinket. De alig figyelünk a gondolatainkra gyakran rejtve vannak, és nem olyan
                          könnyű tudomásul venni őket.</p>
                      </template>
                    </ds-topics-card>
                  </template>
                </ds-topics-card-slider>
              </ds-show-more>
            </div>
          </div>
        </template>
      </ds-topics-block-title>

      <ds-topics-block-title :id="'gondolkodasi-torzitasok-attekintese'" title="Gondolkodási torzítások áttekintése">
        <template #content>
          <div class="card mb-20">
            <div class="card-body p-20">
              <ds-show-more>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <tr>
                      <th style="min-width: 25%; width: 25%; vertical-align: top;">GONDOLATI torzítás elnevezése</th>
                      <th style="min-width: 25%; width: 25%; vertical-align: top;">Gondolkozási torzítás lényege</th>
                      <th style="min-width: 25%; width: 25%; vertical-align: top;">Példa</th>
                      <th style="min-width: 25%; width: 25%; vertical-align: top;">Pozitív alternatíva
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td><strong>Fekete-fehér/ mindent vagy semmit gondolkodás</strong></td>
                      <td>A dolgokat jóként vagy rosszként látjuk, sikerként vagy kudarcként; nincs középút.</td>
                      <td>Ha nem tudom 100%-osan megoldani a dolgokat, akkor nincs is értelme elkezdeni.</td>
                      <td>Nem kell mindennek tökéletesen sikerülnie. Megpróbálom a lehető legjobban megoldani a feladatot.<br>
                        <br>
                        Skálázás: próbálja meg egy 0-tól (teljesen rossz) 100-ig (teljesen jó) terjedő skálán elhelyezni az adott eseményt.</td>
                    </tr>
                    <tr>
                      <td><strong>Túláltalánosítás</strong></td>
                      <td>Átfogó következtetések levonása egyszeri esetek alapján.</td>
                      <td>Hibáztam. Minden, amibe belekezdek, rosszul sül el.</td>
                      <td>Mindenki vét hibákat. Egy csomó más dolog van, amit meg jól csinálok.</td>
                    </tr>
                    <tr>
                      <td><strong>Negatív szűrő</strong></td>
                      <td>A dolgok negatív oldalának meglátása, és a pozitív tények figyelmen kívül hagyása.</td>
                      <td>Azt mondták, hogy jó volt az előadásom, de jobb lehetett volna, ha lassabban beszélek... Nem volt jó az előadás, túl gyorsan beszéltem! Az emberek csak kedvesek akarnak velem lenni, biztosan nem gondolták komolyan, hogy élvezhető volt az előadásom.</td>
                      <td>Azt mondták kicsit gyorsan beszéltem, de amúgy nagyon jó volt. Emlékeztetnem kell magam legközelebb, hogy lassabban beszéljek.</td>
                    </tr>
                    <tr>
                      <td><strong>„Gondolatolvasás”</strong></td>
                      <td>Annak feltételezése, hogy mások negatívan gondolkodnak és éreznek velünk kapcsolatban.</td>
                      <td>Mari nem köszönt nekem ma reggel... biztosan utál.</td>
                      <td>Mari egy kicsit ideges volt ma reggel. Legközelebb nekem kell köszönöm, vagy megkérdezni, mi a baj. Nem tudunk mások elméjében tökéletesen olvasni, érdemes több alternatívát elképzelni, illetve kíváncsian érdeklődni nála, vajon mire is gondol ő. </td>
                    </tr>
                    <tr>
                      <td><strong>Katasztrofizálás</strong></td>
                      <td>Az események túldimenzionálása és a lehető legrosszabbak feltételezése.</td>
                      <td>A házasságom a szemem láttára hullik szét... egészen biztosan vége van a múlt éjszakai veszekedés miatt.</td>
                      <td>Vitánk volt tegnap, de biztos vagyok benne, hogy túljutunk rajta. Egy összetűzés nem ok arra, hogy elvesszem a reményt.</td>
                    </tr>
                    <tr>
                      <td><strong>Felnagyítás, lekicsinyítés</strong></td>
                      <td>Következtetések levonása a tények körültekintő ismerete nélkül.</td>
                      <td>Nem hívott fel – azt hiszem köztünk mindennek vége, talán azóta már találkozott is mással.</td>
                      <td>Nem hívott fel, aminek biztos megvan az oka. Később majd megkérdezem.</td>
                    </tr>
                    <tr>
                      <td><strong>Személyesítés</strong></td>
                      <td>Felelősséget vállalni olyasvalamiért, amiért nem vagyunk felelősek.</td>
                      <td>Minden az én hibám! Miattam került minden ilyen kaotikus állapotba.</td>
                      <td>Nem ment valami jól, de ez nem csak az én hibám. Mindenkinek megvolt benne a szerepe.</td>
                    </tr>
                    <tr>
                      <td><strong>„Kell” állítások</strong></td>
                      <td>Túl szigorú szabályok felállítása önmagunk és mások felé azzal kapcsolatban, hogy „hogyan kell dolgoknak lennie”</td>
                      <td>Amit csinálok, annak tökéletesnek kell lennie.
                        Nem hívott fel, amikor megígérte – nagyon elkeserít a pontatlansága, befejezek vele minden kapcsolatot.</td>
                      <td>Senki sem tökéletes, ahogy én sem. Mindenki vét hibákat.<br>
                        <br>
                        Nem hívott fel, biztos meg volt rá az oka. Megkérem majd, hogy magyarázza el.</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </ds-show-more>
            </div>
          </div>
        </template>
      </ds-topics-block-title>

      <ds-topics-block-title :id="'gondolkodasi-torzitasok-bemutatsaa'" title="Gondolkodási torzítások bemutatása">
        <template #lead>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cum delectus distinctio dolores eveniet ex, inventore iusto magnam nemo nostrum perspiciatis praesentium provident recusandae temporibus, voluptatem? Enim illo laboriosam modi!
        </template>
        <template #content>
          <div class="card mb-20">
            <div class="card-body p-20">
              <h5>Alíz (tanuló) – Négyest kap a vizsgán.</h5>

              <p>Példa negatív gondolkodásmódra:</p>

              <div class="table-responsive">
                <table class="table">
                  <thead>
                  <tr>
                    <th style="min-width: 25%; width: 25%; vertical-align: top;">GONDOLAT</th>
                    <th style="min-width: 25%; width: 25%; vertical-align: top;">GONDOLKOZÁSI STÍLUS</th>
                    <th style="min-width: 25%; width: 25%; vertical-align: top;">ÉRZÉS</th>
                    <th style="min-width: 25%; width: 25%; vertical-align: top;">VISELKEDÉS</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Nem nyújtottam olyan teljesítményt, amit vártam magamtól, mások jobbak voltak. Én nem vagyok ügyes ebben. Örök vesztes vagyok. Mindenki ki fog nevetni.</td>
                    <td>Negatív szűrő: Alíz nem látja a pozitívumot, ami mások számára szembetűnő.<br>
                      <br>
                      ‘Kellene’ kijelentés: Alíz első gondolata az volt, hogy: „jól kellett volna teljesítenem!”</td>
                    <td>Alíz azt gondolja, hogy értéktelen ember. Nagyon elkeseredett emiatt, szégyelli magát.</td>
                    <td>Alíz el akarja kerülni a találkozást az évfolyamtársaival. Nem akarja velük ünnepelni a félév végét. Egyedül hazamegy, és nem veszi fel a telefont.</td>
                  </tr>
                  </tbody>
                </table>

                <p>Példa pozitív gondolkodásmódra:</p>

                <table class="table">
                  <thead>
                  <tr>
                    <th style="min-width: 25%; width: 25%; vertical-align: top;">GONDOLAT</th>
                    <th style="min-width: 25%; width: 25%; vertical-align: top;">GONDOLKOZÁSI STÍLUS</th>
                    <th style="min-width: 25%; width: 25%; vertical-align: top;">ÉRZÉS</th>
                    <th style="min-width: 25%; width: 25%; vertical-align: top;">VISELKEDÉS</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Rendben van, négyest kaptam. Ez nem ötös, de azért ez is egy jó, elfogadható eredmény. Azt gondoltam, hogy rosszabb lesz. Hurrá! Ünnepeljünk a többiekkel!</td>
                    <td>Negatív szűrő nélkül: meglátja a tényekben a pozitív oldalt is.<br>
                      <br>
                      Nincsen ’kellett volna’ kijelentés. Meg tudja magát dicsérni.</td>
                    <td>Alíz megkönnyebbül, mintha egy nagy kő esett volna le a szívéről. Büszke magára és azt gondolja, hogy a barátai is azok lesznek rá.</td>
                    <td>Alíz jókedvű. Egy évfolyamtársa észreveszi örömét és őszintén örülnek sikerének. A barátaival eltöltött ünnepi buli után vesz magának valami apróságot hazaúton.</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card mb-20">
            <div class="card-body p-20">
              <h5>Gyuri (alkalmazott egy magánvállalkozásnál) – Leépítések hírét hallotta.</h5>

              <p>Példa negatív gondolkodásmódra:</p>

              <div class="table-responsive">
                <table class="table">
                  <thead>
                  <tr>
                    <th style="min-width: 25%; width: 25%; vertical-align: top;">GONDOLAT</th>
                    <th style="min-width: 25%; width: 25%; vertical-align: top;">GONDOLKOZÁSI STÍLUS</th>
                    <th style="min-width: 25%; width: 25%; vertical-align: top;">ÉRZÉS</th>
                    <th style="min-width: 25%; width: 25%; vertical-align: top;">VISELKEDÉS</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Végem van... munkanélküli leszek. Nem találok másik munkát. Elveszíthetjük a házunkat. A gyermekeim búcsút mondhatnak az egyetemnek. Apaként is, férjként is teljes kudarcot vallottam.</td>
                    <td>Katasztrofizálás: Gyuri a legrosszabbra gondol. Azt feltételezi, hogy feleslegessé válik és a legrosszabb következményeket társította az adott élethelyzethez. <br>
                      <br>
                      Túlzó általánosítás: azt gondolja, hogy apaként is, valamint férjként is teljes kudarcot fog vallani.</td>
                    <td>Gyuri hihetetlenül aggódik, elszorul a lélegzete is. Borzasztóan fél és ideges.</td>
                    <td>Gyuri nem képes a rossz hírt családjának elmondani és inkább a kocsmába látogat el, hogy italba fojtsa bánatát.<br>
                      <br>
                      Azt gondolja, hogy ez megnyugtatja majd az idegeit. Későn tér haza és a gyermekek szeme láttára egy nagyon kemény veszekedés következik feleségével.</td>
                  </tr>
                  </tbody>
                </table>

                <p>Példa pozitív gondolkodásmódra:</p>

                <table class="table">
                  <thead>
                  <tr>
                    <th style="min-width: 25%; width: 25%; vertical-align: top;">GONDOLAT</th>
                    <th style="min-width: 25%; width: 25%; vertical-align: top;">GONDOLKOZÁSI STÍLUS</th>
                    <th style="min-width: 25%; width: 25%; vertical-align: top;">ÉRZÉS</th>
                    <th style="min-width: 25%; width: 25%; vertical-align: top;">VISELKEDÉS</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Elképzelhető, hogy a szerencsések között vagyok. A főnököm tegnap megdicsérte a múlt heti teljesítményemet. Hasonló leépítések mindenütt előfordulnak mostanság.</td>
                    <td>Nem katasztrofizál: Gyuri azonnal arra gondol, hogy miért nem lesz ő a leépítés része.<br>
                      <br>
                      Nem általánosítja túl a dolgokat: Meglátja, hogy ez nem az ő hibája és mások hasonló cipőben járnak. Nem hagyja figyelmen kívül a főnöke korábbi pozitív visszajelzéseit.</td>
                    <td>Gyuri nem ideges. de elfogadja, hogy reálisnak kell maradnia. Tudja, hogy nehéz pozitívan gondolkodni ebben az élethelyzetben, de egy megnyugtató jövőkép felvázolása segíthet.</td>
                    <td>Gyuri hazamegy és eldönti, hogy megbeszéli a kialakult helyzetet a feleségével. Áttekintik, hogy milyen módon tudnak a leghatékonyabban felkészülni minden lehetséges jövőbeni történésre. Gyermekeiket egyelőre nem vonják be a témába.</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </template>
      </ds-topics-block-title>

      <ds-topics-block-title card :id="'kognitiv-viselkedes-terapias-gondolatnaplo'" title="Kognitív viselkedés terápiás gondolatnapló">
        <template #lead>
          A figyelmes naplóírás az egyik legegyszerűbb módja annak, hogy beépítsük a tudatosságot a mindennapi életünkbe, és megítélés nélkül rögzítsük és felülvizsgáljuk gondolatainkat. E mellett segít abban, hogy inkább a pozitív gondolatokra és képekre összpontosítsunk, miközben csökkentjük a negativitást.
        </template>
        <template #card>
          Bár eredetileg a depresszió enyhítésére szolgáló megközelítésként lett kifejlesztve, ugyanolyan előnyöket tartogat számunkra, ha túlzott mértékű stresszel vagy szorongással küzdünk (Crane, 2017), sőt, a gondolatok rögzítése hasznos a pihenés, a nyugalom, valamint a fókusz és a koncentráció szempontjából (Khramtsova & Glasscock, 2010).
        </template>
        <template #content>
          <div class="card mb-20">
            <div class="card-body p-20">
              <h5>3 oszlopos gondolatnapló módszer</h5>

              <p>Könnyen elsajátíthatjuk és otthonunk kényelméből is végezhetjük. Az alábbi minta szerint naplózzuk a helyzetet, eseményt, az ebben megélt rossz érzéseinket, rossz hangulatunkat, s ennek becsült intenzitását, valamint a reakcióinkat, gondolatainkat és a gondolatív torzítás típusát.</p>

              <div class="table-responsive">
                <table class="table">
                  <thead>
                  <tr>
                    <th style="min-width: 30%; max-width: 30%; width: 30%;">A) Helyzet, esemény</th>
                    <th style="min-width: 190px; max-width: 190px; width: 190px;">B) Hangulat, érzés, %</th>
                    <th>C) Reakció, gondolat</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Kollégák kitárgyalták, mi a különbség, ha férfi csalja meg a nőt és fordítva. </td>
                    <td>idegesség 75%</td>
                    <td>Biztos rám céloztak.<br>
                      (Önkényes következtetés)</td>
                  </tr>
                  <tr>
                    <td>Szabadság alatt be kellene menni a munkahelyre.</td>
                    <td>szorongás 60%</td>
                    <td>Biztos, hogy valami probléma lesz!<br>
                      (Jövendőmondás)</td>
                  </tr>
                  <tr>
                    <th><em>(Kivel volt, mit csinált, mikor történt, hol volt?)</em></th>
                    <th><em>Hangulat, érzés és intenzitása (0 – 100 %)</em></th>
                    <th><em>Mi futott át a fejemen, mielőtt így kezdtem érezni magam?<br>
                      Mit jelent ez rólam?<br>
                      Mit mond ez rólam?<br>
                      Minek a bekövetkezésétől tartok?<br>
                      Mi a legrosszabb, ami történhet?<br>
                      <br>
                      Gondolati torzítás típusa</em></th>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <t201 />

          <t202 />
        </template>
      </ds-topics-block-title>

      <ds-topics-block-title :id="'a-hatraltato-negativ-gondolatok-megkerdojelezese'" title="A hátráltató negatív gondolatok megkérdőjelezése">
        <template #lead>
          Néha már az elegendő, ha felismerjük a negatív gondolatokat, de sokszor további lépések is szükségesek: meg kell őket vizsgálni és átkeretezni célravezető és reális gondolatokká. Most már felismeri a negatív gondolatait, a továbbiakban pedig nézzük, mit is kell tennie annak érdekében, hogy úrrá legyen rajtuk.
        </template>
        <template #content>
          <div class="card mb-20">
            <div class="card-body p-20">
              <h5>Honnan származnak ezek a negatív gondolatok?</h5>
              <p>Mindannyian tudjuk, hogy hogyan jellemzünk másokat és saját magunkat: pozitív és negatív jellemzőket egyaránt használunk általában, mint a következők:</p>

              <div class="row mb-20">
                <div class="col-md-3 pe-md-0 mb-3 mb-md-0">
                  <img src="~/assets/images/topics2/DS_Temakor_02_Negativgondolat_card_image_680x454px.jpg" alt="" class="img-fluid rounded-4 h-100 object-fit-cover">
                </div>
                <div class="col mb-20">
                  <div class="bg-dermasoul-light rounded-4 p-3">
                    <strong>Pozitív jellemzők:</strong><br>
                    Társaságkedvelő/szociális; Sikeres; Gondoskodó; Megbízható;<br>
                    <br>
                    <strong>Negatív jellemzők:</strong><br>
                    Félénk/introvertált; Sikertelen; Önző; Megbízhatatlan <br>
                  </div>
                </div>
              </div>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod
                scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur
                nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo.
                Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae,
                interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras
                at orci vitae dolor facilisis convallis.</p>

              <p>Sed eleifend, sem interdum accumsan facilisis, urna ante rutrum elit, id volutpat ligula mauris
                pellentesque ex. Aliquam interdum dolor nec felis egestas, ut consectetur sem viverra. Sed ex lorem,
                eleifend vel mattis quis, gravida a sapien. Vivamus tristique arcu quis dapibus pellentesque. Cras egestas
                elit at dolor posuere, eget scelerisque sem euismod. Maecenas sed enim ac nisi venenatis porta. Suspendisse
                elementum libero sollicitudin, maximus risus nec, euismod turpis. Duis eleifend sit amet enim pretium
                cursus. Pellentesque id mauris a risus tristique eleifend. Aliquam consequat arcu quis sagittis tincidunt.
                Nulla arcu magna, fringilla non tempor vel, rutrum ac massa.</p>

              <p>Proin non efficitur nunc, eu viverra massa. Praesent sed nisl id dolor mattis dapibus. Proin tristique id
                ligula id placerat. Donec varius odio in nulla blandit tincidunt id at nisi. Curabitur risus enim, bibendum
                porttitor volutpat sed, hendrerit id mauris. Suspendisse laoreet scelerisque sollicitudin. Praesent a leo
                est. Aenean sodales leo elit, id mollis lorem dictum quis. Cras ullamcorper varius eros vitae mollis.
                Phasellus ultricies diam non neque malesuada, ut condimentum nibh luctus.</p>
            </div>
          </div>

          <ds-topics-card>
            <template #content>
              Amikor lehangoltak vagyunk, vagy szorongunk, hajlamosak lehetünk arra, hogy mintegy negatív szűrőn keresztül, csak a negatív jelekre figyeljünk, s kiszűrjük a pozitív, semleges jeleket, amelyek ezeknek ellentmondanak. Hogy ne legyünk elfogultak, bizonyítékokat kell keresnünk arra vonatkozóan, hogy a negatív gondolatok nem helytállóak.
            </template>
          </ds-topics-card>

          <div class="card mb-20">
            <div class="card-body p-20">
              <h5>Korrektív gondolatok, alternatív helyzet értelmezések megfogalmazása</h5>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aut culpa dolores fuga iste laborum non odio unde. Adipisci ducimus ipsum, nam nulla omnis optio perspiciatis! Aliquid eius incidunt sunt.</p>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet aperiam architecto, asperiores delectus dolorum explicabo impedit laudantium nulla odit officia omnis, quibusdam veritatis! Delectus eaque eveniet laborum vel vero.</p>

              <ul>
                <li>Lehetséges másképp tekinteni erre a helyzetre?</li>
                <li>Mi van, ha teljesen félreértettem valamit? Mi bizonyítja a negatív, hátráltató gondolatot, és mi szól ellene?</li>
                <li>Mit mondana a barátom nekem, ha elmondanám neki, hogy ezt gondolom?</li>
                <li>Mit mondanék egy barátomnak hasonló helyzetben? Hogyan lehetne kevésbé szélsőségesen értékelni a helyzetet Tapasztaltam valaha olyasmit, ami arra utal, hogy ez a gondolat nem minden esetben helytálló?</li>
                <li>Belekerültem-e egy hátráltató gondolati mintázatba? Például gondolati ugrásokkal jutottam el a következtetéshez?</li>
                <li>Esetleg túlzottan személyesen értelmezem a dolgokat?</li>
                <li>Kinek a felelőssége, hogy a többiek így viselkedtek?</li>
                <li>Vagy…................................................................?</li>
                <li>Lehetnék engedékenyebb is magammal.</li>
                <li>Feltételezésem valószínűtlen.</li>
                <li>A pozitív dolgokra is fókuszálhatok.</li>
                <li>Lehet, hogy ebben tévedek.</li>
                <li>A legtöbb dolog nem fekete-vagy fehér.</li>
                <li>Bár hibáztam, hibázni emberi dolog, s ez a hiba nem jellemez engem, mint személyt.</li>
                <li>Jelen érzelmeim elhomályosítják ítélőképességemet.</li>
                <li>Elképzelésem, hiedelmem ebben a helyzetben elhomályosítja ítélőképességemet.</li>
                <li>Nem volt kontrollom, ráhatásom a helyzetre, ezért nem én vagyok felelős azért, ami történt.</li>
              </ul>

              <ds-topics-card theme="tipp" no-shadow>
                <template #content>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque aut ea eveniet impedit incidunt inventore, laborum molestiae necessitatibus neque nesciunt praesentium provident quos repudiandae sapiente, vel veritatis voluptas voluptates voluptatum.
                </template>
              </ds-topics-card>
            </div>
          </div>

          <t203 />
        </template>
      </ds-topics-block-title>

      <ds-topics-block-title :id="'szakirodalmi-hatter-es-ajanlo'" title="Szakirodalmi háttér és ajánló">
        <template #content>
          <div class="card mb-20">
            <div class="card-body p-20">
              <p>Beck, Judith S. (2002). Kognitív terápia kezdőknek és haladóknak. Magyar Viselkedéstudományi és Kognitív Egyesület.</p>

              <p>Crane, R. (2017). In Mindfulness-based Cognitive Therapy: Distinctive features. essay, Routledge.</p>

              <p>Khramtsova, I. & Glascock, P. (2010) Outcomes of an integrated journaling and mindfulness program on a US university campus. RO: Revista Psihologie 56. 208-218.</p>

              <p> Gillihan (2021). Kognitív viselkedésterápia egyszerűen-10 módszer a szorongás, depresszió, düh, pánik és az aggódás kezelésére.Gabó Könyvkiadó és Kereskedelmi Kft.</p>
            </div>
          </div>
        </template>
      </ds-topics-block-title>

    </template>
  </topics-page>
</template>

<script>
  import TopicsPage from '~/components/Topics/TopicsPage';
  import DsTopicsComponentsHeader from '~/components/Topics/Components/Header';
  import DsTopicsBlockTitle from '~/components/Topics/Components/BlockTitle';
  import DsTopicsPicture from '~/components/Topics/Components/Picture';
  import DsTopicsTaskCard from '~/components/Topics/Components/TaskCard';
  import DsTopicBadges from '~/components/Topics/Components/Badges';
  import DsTopicsCard from '~/components/Topics/Components/Card';
  import DsShowMore from '~/components/Topics/Components/DsShowMore';
  import DsTopicsCardSlider from '~/components/Topics/Components/CardSlider';
  import T201 from '~/components/Topics/Components/tasks/T201';
  import T202 from '~/components/Topics/Components/tasks/T202';
  import T203 from '~/components/Topics/Components/tasks/T203';

  export default {
    name: 'TopicsPage1',
    components: {
      T203,
      T202,
      T201,
      DsTopicsCardSlider,
      DsShowMore,
      DsTopicsCard,
      DsTopicBadges,
      DsTopicsTaskCard,
      DsTopicsPicture,
      DsTopicsBlockTitle,
      TopicsPage,
      DsTopicsComponentsHeader,
    },
    computed: {
      setMenu () {
        let menuItems = [];

        [...document.getElementsByClassName("scrollSpy")].forEach(
          (item) => {
            menuItems.push({
              title: item.dataset.title,
              hash: item.id,
              icon: item.dataset.icon ? item.dataset.icon : null
            });
          }
        );

        this.$store.commit('scroll-menu/add', menuItems);
      }
    },
    mounted () {
      this.$nextTick(() => {
        if(this.$route.hash) {
          const el = document.querySelector(this.$route.hash);
          setTimeout(() => {
            el && el.scrollIntoView({behavior: 'auto', block: 'center', inline: 'center'});
          }, 300);
        }
      });
      return this.setMenu;
    }
  }
</script>

<style lang="scss" scoped>
p:last-child {
  margin-bottom: 0;
}
li {
  &:not(:last-child) p {
    margin-bottom: 1.25rem !important;
  }
}
</style>
