<template>
  <div class="modal fade" id="lstpwdModal" tabindex="-1" aria-labelledby="lstpwdModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content rounded-4">
        <div class="modal-header p-30 rounded-4 rounded-bottom-0">
          <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-md-between w-100">
            <h2 class="fz-24 modal-title mb-10" id="lstpwdModalLabel">Elfelejtett a jelszó</h2>
            <p class="font-weight-black mb-0 p-md-3"><a href="" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#loginModal">Bejelentkezés</a></p>
          </div>
          <button type="button" class="btn-close align-self-start" data-bs-dismiss="modal" aria-label="Close">
            <i class="icon-close fz-20"></i>
          </button>
        </div>
        <div class="modal-body p-30 pt-0">
          <form action="">
            <label class="form-group">
              <span class="label-text text-uppercase">E-mail cím megadása:</span>
              <input type="email" class="form-control">
            </label>
            <div class="d-flex mt-30 justify-content-between">
              <ds-button theme="primary-border" button-label="Mégsem" data-bs-dismiss="modal" aria-label="Close" />
              <ds-button button-label="Küldés" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import DsButton from '~/components/DsButton';

  export default {
    name: 'LostPasswordModal',
    components: {
      DsButton
    }
  }
</script>

<style lang="scss" scoped>
  .modal {
    .label-text {
      min-width: 6.25rem;
    }
    .lst-pwd {
      white-space: nowrap;
    }
    a {
      color: $primary;
      &:hover {
        color: $secondary;
      }
    }
  }
</style>
