<template>
  <div class="d-flex flex-wrap py-10">
    <div v-for="item in items" class="badge bg-dermasoul text-default fz-13 font-montserrat font-weight-semibold text-uppercase p-10 rounded-4 me-10 mt-10">
      {{ item }}
    </div>
  </div>
</template>

<script>
  export default {
    name: 'DsTopicBadges',
    props: {
      items: {
        type: Array,
        default: () => []
      }
    }
  }
</script>

<style scoped>

</style>
