<template>
  <div :id="id" class="topicsBlockHeader pt-40 row scrollSpy" :data-title="title">
    <div class="col mb-2">
      <h2>{{ title }}</h2>
      <p v-if="hasLead" class="font-weight-black">
        <slot name="lead" />
      </p>
    </div>
    <div v-if="card" class="col-md-6">
      <ds-topics-card :theme="cardTheme" :title="cardTitle">
        <template #content>
          <slot name="card" />
        </template>
      </ds-topics-card>
    </div>
    <div class="col-12">
      <slot name="content" />
    </div>
  </div>
</template>

<script>
  import DsTopicsCard from '~/components/Topics/Components/Card';

  export default {
    name: 'DsTopicsBlockTitle',
    components: {
      DsTopicsCard
    },
    props: {
      card: {
        type: Boolean,
        default: false
      },
      cardTheme: {
        type: String,
        default: 'info'
      },
      cardTitle: {
        type: String,
        default: null
      },
      id: {
        type: String,
        default: null
      },
      title: {
        type: String,
        default: null
      }
    },
    computed: {
      hasLead () {
        return !!this.$slots['lead'];
      }
    }
  }
</script>

<style lang="scss" scoped>
  .topicsBlockHeader {
    @include media-breakpoint-up(md) {
      padding-top: 5rem !important;
    }
  }
</style>
