<template>
  <div class="position-relative rounded-4 overflow-hidden topicsCardSliderTheme p-20 pb-5" :class="{'shadow': shadow, [theme]: theme}">
    <div v-if="!disableTitle" class="row align-items-center mb-3">
      <div v-if="icon" class="col-auto pe-0">
        <i :class="icon" />
      </div>
      <div v-if="cardTitle" class="col" :class="!defaultBackground ? 'text-uppercase font-weight-semibold font-montserrat' : 'h5 mb-0'">
        {{ cardTitle }}
      </div>
    </div>
    <hooper ref="cardSlider" :settings="hooperSettings" class="topicsCardSlider">
      <slide class="topicsCardSliderSlide pb-2" v-for="index in items" :key="index">
        <slot :name="`slide${index}`" />
      </slide>
    </hooper>
    <div class="topicsCardSlider__navigation d-flex justify-content-between">
      <button @click.prevent="slidePrev" class="btn btn-primary d-flex align-items-center justify-content-center topicsCardSlider__navigation--button text-decoration-none rounded-0">
        <i class="icon-chevron-left fz-16"></i>
      </button>
      <button @click.prevent="slideNext" class="btn btn-secondary d-flex align-items-center justify-content-center topicsCardSlider__navigation--button text-decoration-none rounded-0">
        <i class="icon-chevron-right fz-16"></i>
      </button>
    </div>
  </div>
</template>

<script>
  import {
    Hooper,
    Slide,
    Pagination as HooperPagination
  } from 'hooper';

  const cardThemes = [
    {
      type: 'info',
      title: 'Info',
      icon: 'icon-circle-info'
    },
    {
      type: 'tipp',
      title: "Tipp",
      icon: 'icon-lightbulb'
    },
    {
      type: 'challenge',
      title: 'Leggyakoribb kihívás',
      icon: 'icon-flag'
    },
    {
      type: 'example',
      title: 'Példa sorstársaktól',
      icon: 'icon-comments'
    },
  ]

  export default {
    name: 'DsTopicsCardSlider',
    components: {
      Hooper,
      Slide
    },
    props: {
      items: {
        type: Number,
        required: true
      },
      shadow: {
        type: Boolean,
        default: false
      },
      theme: {
        type: String,
        default: 'info'
      },
      title: {
        type: String,
        default: null
      },
      disableTitle: {
        type: Boolean,
        default: false
      },
    },
    data () {
      return {
        cardThemes: cardThemes,
        icon: null,
        hooperSettings: {
          itemsToShow: 1,
          infiniteScroll: true,
          wheelControl: false,
        }
      }
    },
    computed: {
      cardTitle () {
        let title;
        this.cardThemes.filter((item) => {
          if (item.type === this.theme) {
            this.icon = item.icon;
            return title = this.title ? this.title : item.title;
          }
        });
        return title;
      }
    },
    methods: {
      slidePrev() {
        this.$refs.cardSlider.slidePrev();
      },
      slideNext() {
        this.$refs.cardSlider.slideNext();
      }
    }
  }
</script>

<style lang="scss" scoped>
  .topicsCardSlider {
    height: auto;

    &Slide {
      :last-child {
        margin-bottom: 0 !important;
      }
    }

    &Theme {
      z-index: 1;

      &:after {
        z-index: -1;
        background: {
          repeat: no-repeat;
          position: center;
          size: cover;
        };
      }

      &:after,
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        border-radius: 0.625rem;
      }

      &.info {
        &:after {
          background-image: url('~/assets/images/topics_card_info.jpg');
          opacity: 0.12;
        }
        &:before {
          background-color: rgba($ds-card-bg-info, .15);
        }
      }
      &.tipp {
        &:after {
          background-image: url('~/assets/images/topics_card_tipp.jpg');
          opacity: 0.25;
        }
        &:before {
          background-color: rgba($ds-card-bg-tipp, .25);
        }
      }
      &.challenge {
        &:after {
          background-image: url('~/assets/images/topics_card_kihivas.jpg');
          opacity: 0.25;
        }
        &:before {
          background-color: rgba($ds-card-bg-challenge, .12);
        }
      }
      &.example {
        &:after {
          background-image: url('~/assets/images/topics_card_pelda.jpg');
          opacity: 0.30;
        }
        &:before {
          background-color: rgba($ds-card-bg-example, .25);
        }
      }
    }

    .shadow {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    }

    .hooper-indicator {
      background-color: $ds-footer-link;
      &.is-active {
        background-color: $primary;
      }
    }

    .hooper-slide {
      > div {
        display: flex;
      }
    }

    &__navigation {
      position: absolute;
      left: 0;
      bottom: 0;
      pointer-events: none;

      &--button {
        pointer-events: all;
        width: 3rem;
        height: 2.25rem;
        padding: 0;

        &.btn-secondary {
          border-top-right-radius: 0.625rem !important;
        }
      }
    }
  }
</style>
