<template>
  <div class="topicsCard rounded-4 p-20" :class="{[theme]: theme, ['disableBg']: disableBg, ['shadow-none']: noShadow, [margin]: margin}">
    <div v-if="!disableTitle" class="row align-items-center">
      <div v-if="icon" class="col-auto pe-0">
        <i :class="icon" />
      </div>
      <div v-if="cardTitle" class="col" :class="!defaultBackground ? 'text-uppercase font-weight-semibold font-montserrat' : 'h5 mb-0'">
        {{ cardTitle }}
      </div>
    </div>
    <div class="topicsCard__content" :class="!disableTitle ? 'mt-3' : ''">
      <slot name="content" />
    </div>
  </div>
</template>

<script>
  const cardThemes = [
    {
      type: 'info',
      title: 'Info',
      icon: 'icon-circle-info'
    },
    {
      type: 'tipp',
      title: "Tipp",
      icon: 'icon-lightbulb'
    },
    {
      type: 'challenge',
      title: 'Leggyakoribb kihívás',
      icon: 'icon-flag'
    },
    {
      type: 'example',
      title: 'Példa sorstársaktól',
      icon: 'icon-comments'
    },
    {
      type: 'background'
    }
  ]

  export default {
    name: 'DsTopicsCard',
    data () {
      return {
        cardThemes: cardThemes,
        icon: null
      }
    },
    props: {
      theme: {
        type: String,
        default: 'info'
      },
      title: {
        type: String,
        default: null
      },
      disableBg: {
        type: Boolean,
        default: false
      },
      disableTitle: {
        type: Boolean,
        default: false
      },
      defaultBackground: {
        type: Boolean,
        default: false
      },
      noShadow: {
        type: Boolean,
        default: false
      },
      margin: {
        type: String,
        default: 'mb-20'
      }
    },
    computed: {
      cardTitle () {
        let title;
        this.cardThemes.filter((item) => {
          if (item.type === this.theme) {
            this.icon = item.icon;
            return title = this.title ? this.title : item.title;
          }
        });
        return title;
      }
    }
  }
</script>

<style lang="scss" scoped>
  .topicsCard {
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: $white;

    &__content :last-child {
      margin-bottom: 0;
    }

    &:after {
      z-index: -1;
      background: {
        repeat: no-repeat;
        position: center;
        size: cover;
      };
    }

    &:after,
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -2;
      border-radius: 0.625rem;
    }

    &.background {
      &:after {
        background: linear-gradient(88.47deg, rgba(253, 224, 203, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%);
        opacity: 0.1;
      }
      &:before {
        background: url('~/assets/images/main__info-block.jpg') no-repeat center / cover;
      }
    }

    &.info {
      &:after {
        background-image: url('~/assets/images/topics_card_info.jpg');
        opacity: 0.12;
      }
      &:before {
        background-color: rgba($ds-card-bg-info, .15);
      }
    }
    &.tipp {
      &:after {
        background-image: url('~/assets/images/topics_card_tipp.jpg');
        opacity: 0.25;
      }
      &:before {
        background-color: rgba($ds-card-bg-tipp, .25);
      }
    }
    &.challenge {
      &:after {
        background-image: url('~/assets/images/topics_card_kihivas.jpg');
        opacity: 0.25;
      }
      &:before {
        background-color: rgba($ds-card-bg-challenge, .12);
      }
    }
    &.example {
      &:after {
        background-image: url('~/assets/images/topics_card_pelda.jpg');
        opacity: 0.30;
      }
      &:before {
        background-color: rgba($ds-card-bg-example, .25);
      }
    }

    &.disableBg {
      box-shadow: none;
      &:after {
        display: none;
      }
      &:before {
        background-color: $ds-light-bg;
      }
    }
  }
</style>
