<template>
  <div class="pdf-download position-relative">
    <img :src="image" alt="" class="img-fluid rounded-4">
    <ds-button :href="pdf" theme="primary" shadow blank-target button-label="Feladatlap letöltése" />
  </div>
</template>

<script>
  export default {
    name: 'DsPdfDownload',
    props: {
      image: {
        type: String,
        required: true
      },
      pdf: {
        type: String,
        required: true
      }
    }
  }
</script>

<style lang="scss" scoped>
  .pdf-download {
    img {
      height: 280px;
      width: 100%;
      object-fit: cover;
    }
    .btn {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
    }
  }
</style>
