<template>
  <div class="modal fade" id="questionnaireModal" tabindex="-1" aria-labelledby="questionnaireModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content rounded-4">
        <div class="modal-header p-30 rounded-4 rounded-bottom-0">
          <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-md-between w-100">
            <h2 class="fz-24 modal-title mb-10" id="questionnaireModalLabel">Megküzdés kérdőív (Endler, 2004)</h2>
          </div>
          <button type="button" class="btn-close align-self-start" data-bs-dismiss="modal" aria-label="Close">
            <i class="icon-close fz-20"></i>
          </button>
        </div>
        <div class="modal-body p-30 pt-0">
          <p class="mb-5"><strong>Kérjük, idézzen fel egy jelenleg megterhelést jelentő életeseményt, majd az alábbi válaszok közül
            jelölje pipával azokat, amelyek jellemzik megküzdését!</strong></p>

          <div class="row gx-5">
            <div v-for="(item, index) in questions" class="col-md-6">
              <div class="form-group form-check">
                <input class="form-check-input" type="checkbox" value="" :value="index + 1" :id="`question${index + 1}`" v-model="checkedQuestions" @change="check($event)">
                <label class="form-check-label" :for="`question${index + 1}`">
                  {{ item }}
                </label>
              </div>
            </div>
          </div>
          <div class="text-center mt-4">
            <ds-button size="lg" type="button" button-label="Értékelés" @click="evaluation" :disabled="checkedQuestions.length < 1" />
          </div>
          <div v-if="result && checkedQuestions.length > 0" class="text-center">
            <h5 class="mt-4 mb-0 mb-3">
              Válaszai alapján Önt a megterhelő élethelyzetekkel való megküzdése során az alábbi mértékben jellemzi:
            </h5>
            <strong class="fz-16">Problémafókuszú megküzdés: {{ q1 }} pont<br>
              Érzelemfókuszú megküzdés: {{ q2 }} pont</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  const questions = [
    "Jól osztom be az időmet.",
    "A problémára összpontosítok, és végig gondolom, hogyan oldhatnám meg.",
    "A régi szép időkre gondolok.",
    "Hibáztatom magam a késlekedésért.",
    "Azt teszem, amit a legjobbnak gondolok.",
    "Figyelmemet a saját bajaim kötik le.",
    "Hibáztatom magamat, hogy ebbe a helyzetbe kerültem.",
    "Végig gondolom, hogy mi a fontos nekem és mi nem.",
    "Aggódom amiatt, hogy nem tudok a problémával megküzdeni.",
    "Nagyon feszültnek érzem magam.",
    "Átgondolom, hogyan oldottam már meg hasonló problémákat.",
    "Azt mondom magamnak, hogy valójában ez nem velem történik meg.",
    "Hibáztatom magam, hogy érzelmileg túlságosan bevonódtam a helyzetbe.",
    "Nagyon nyugtalan leszek.",
    "Elhatározom, hogy mit tegyek és aszerint cselekszem.",
    "Hibáztatom magam azért, mert nem tudom, mit tegyek.",
    "Azon vagyok, hogy megértsem a helyzetet.",
    "Leblokkolok és nem tudom, mit tegyek.",
    "Próbálok azonnal javítani a helyzeten.",
    "Átgondolom a helyzetet és megpróbálok tanulni a hibáimból.",
    "Azt kívánom, bárcsak meg tudnám változtatni azt, ami történt, vagy azt, ahogyan éreztem magam.",
    "Azt mondogatom magamnak, hogy ez soha többé nem történhet meg.",
    "Csak a hibáimon gondolkodom.",
    "Áttekintem a problémát, mielőtt bármit is tennék.",
    "Dühös leszek.",
    "Átértékelem, hogy mi fontos és mi nem.",
    "Kézbe veszem a helyzetet.",
    "További erőfeszítést teszek a dolgok elintézésére.",
    "Különböző megoldásokat találok ki a problémára.",
    "Másokon vezetem le az idegességemet.",
    "Arra használom a helyzetet, hogy bebizonyítsam, képes vagyok megoldani.",
    "Megpróbálom összeszedni magam, hogy a helyzet magaslatán legyek."
  ]

  const q1Answers = [ 1, 2, 5, 8, 11, 15, 17, 19, 20, 24, 26, 27, 28, 29, 31, 32 ]

  const q2Answers = [ 3, 4, 6, 7, 9, 10, 12, 13, 14, 16, 18, 21, 22, 23, 25, 30 ]

  export default {
    name: 'DsQuestionnaire',
    data () {
      return {
        checkedQuestions: [],
        result: false,
        q1: 0,
        q2: 0,
        q1Answers: q1Answers,
        q2Answers: q2Answers,
        questions: questions
      }
    },
    methods: {
      check (e) {
        this.$nextTick(() => {
          if (this.checkedQuestions.length < 1) {
            this.result = false;
          }
        })
      },
      evaluation () {
        this.q1 = 0;
        this.q2 = 0;
        this.checkedQuestions.map((item) => {
          this.q1Answers.find((q1Item) => {
            if (q1Item === item) {
              return this.q1++;
            }
          });
          this.q2Answers.find((q2Item) => {
            if (q2Item === item) {
              return this.q2++;
            }
          });
        });

        this.result = true;

        // if (this.q1 > this.q2) {
        //   this.result = 'Problémafókuszú megküzdés';
        // } else if (this.q2 > this.q1) {
        //   this.result = 'Érzelemfókuszú megküzdés';
        // } else {
        //   this.checkedQuestions.length ? this.result = 'Problémafókuszú megküzdés<br>Érzelemfókuszú megküzdés' : null;
        // }
      }
    }
  }
</script>
