<template>
  <div>
    <div class="d-none d-md-block">
      <vue-slider ref="slider"
        v-model="value"
        :data="data"
        tooltip="none"
        :marks="true"
        class="mx-auto">
        <template v-slot:step="{ value: val }">
          <div :class="['vue-slider-mark-subLabel font-montserrat', { selected: true }]">{{ setLabelText(val) }}</div>
        </template>
      </vue-slider>
    </div>

    <div class="d-md-none mb-20">
      <ds-subscription-radio v-for="(item, index) in data" :item="item" :key="index" :selected="index === selectedPrice" @click="click(index)" />
    </div>
  </div>
</template>

<script>
  import VueSlider from "vue-slider-component";
  import 'vue-slider-component/theme/default.css';
  import '~/assets/scss/vue-slider.scss';
  import DsSubscriptionRadio from '~/components/Subscribe/SubscriptionRadio';

  export default {
    name: 'DsRangeSlider',
    components: {
      DsSubscriptionRadio,
      VueSlider
    },
    data () {
      return {
        selectedPrice: 1,
        value: 4500,
        data: [
          {
            value: '4500 FT',
            label: 'Kedvezményes díj rászorulóknak'
          },
          {
            value: '9000 FT',
            label: 'Az Önsegítő Eszköz előállítási költségeit fedezi'
          },
          {
            value: '13 500 FT',
            label: 'Támogatja a DermaSoul program fejlesztését'
          },
          {
            value: '18 500 FT',
            label: 'Támogatja a további kutatásokat is'
          }
        ],
        marks: val => ({
          labelStyle: this.value === val ? { backgroundColor: 'rgba(3, 182, 193, 0.1)' } : null
        })
      }
    },
    methods: {
      setLabelText(value) {
        return this.data.filter(item => item.value === value)[0].label;
      },
      click (e) {
        return this.selectedPrice = e;
      }
    },
    mounted() {
      return this.$refs.slider.setIndex(1);
    }
  }
</script>

<style scoped>

</style>
