<template>
  <div>
    <div :class="[$style.showMore, {[$style[`showMore${theme}`]]: theme}, {[$style.showMoreShortContent]: shortContent}, {[$style.showMoreOpened]: opened}, {['pb-3']: paddingBottom}]">
      <div :class="$style.showMoreContent" :style="{height: opened ? ((minHeaderHeight + contentHeight) + 'px') : (shortContent ? '100%' : (maxContentHeight + 'px'))}">
        <div ref="content">
          <slot />
        </div>
      </div>

      <div v-if="!shortContent" :class="$style.showMoreHeader" />
    </div>
    <div class="text-end" :class="$style.showMoreHeaderItem" @click="toggleOpened">
      <ds-button :button-label="opened ? closeText : openText" />
    </div>
  </div>
</template>

<script type="module">
  import DsButton from '~/components/DsButton';

  export default {
    name: 'DsShowMore',
    components: {
      DsButton
    },
    props: {
      content: {
        type: String,
        default: ''
      },
      maxContentHeight: {
        type: Number,
        default: 150
      },
      openText: {
        type: String,
        default: 'Mutass többet'
      },
      closeText: {
        type: String,
        default: 'Mutass kevesebbet'
      },
      theme: {
        type: String,
        default: ''
      },
      paddingBottom: {
        type: Boolean,
        default: false
      }
    },
    data () {
      return {
        opened: false,
        contentHeight: null,
        minHeaderHeight: 0,
        startValue: 0
      };
    },
    computed: {
      shortContent () {
        return this.contentHeight < this.maxContentHeight;
      }
    },
    mounted () {
      this.updateContentHeight();
    },
    methods: {
      toggleOpened () {
        if (!this.opened) {
          this.startValue = this.offsetTopValue();
        } else {
          this.scrollToStart(this.startValue);
        }
        this.updateContentHeight();
        this.$nextTick(() => {
          this.opened = !this.opened;
        });
      },
      updateContentHeight () {
        this.contentHeight = this.$refs.content.offsetHeight;
      },
      offsetTopValue () {
        return window.scrollY;
      },
      scrollToStart (val) {
        return window.scrollTo({top: val, behavior: 'smooth'});
      }
    }
  };
</script>

<style module lang="scss" rel="stylesheet/scss">
  $show-more-header-background: linear-gradient(180deg, rgba($white, 0) 0%, $white 80%, $white 100%);

  .showMore {
    $self: &;

    position: relative;

    &Content {
      max-height: 9.375rem;
      overflow: hidden;
      transition: all 0.8s ease-out;
      padding: 0 0.625rem;
      margin: 0 -0.625rem;
    }

    &Header {
      display: flex;
      width: 100%;
      bottom: 0;
      height: 5rem;
      position: absolute;
      align-items: flex-end;
      justify-content: center;
      background: $show-more-header-background;
      transition: height ease-in .2s, background ease-in .2s;
      z-index: 10;
    }

    &Opened {
      #{$self} {
        &Content {
          max-height: 100%;
          height: 100%;
          transition: all 0.8s ease-in-out;
        }

        &Header {
          height: 0;
        }
      }
    }

    &ShortContent {
      #{$self} {
        &Header {
          display: none;
        }
      }
    }
  }
</style>
