<template>
  <div class="topicsHeader pt-30">
    <h1 class="mb-2"><slot name="title" /></h1>
    <h2 class="h5 mb-4 font-weight-regular"><em><slot name="lead"/></em></h2>
    <h6 v-if="hasSubTitle"><slot name="subTitle" /></h6>
  </div>
</template>

<script>
  export default {
    name: 'DsTopicsComponentsHeader',
    computed: {
      hasSubTitle () {
        return !!this.$slots['subTitle'];
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>
