<template>
  <div class="position-relative">
    <hooper ref="imageSlider" :settings="hooperSettings" class="topicsImageSlider col-md-10 mx-auto">
      <slide v-for="index in items" :key="index">
        <slot :name="`slide${index}`" class="pb-40 pb-md-0" />
      </slide>
      <hooper-pagination slot="hooper-addons" />
    </hooper>
    <div class="topicsImageSlider__navigation d-flex justify-content-between">
      <button @click.prevent="slidePrev" class="btn btn-link topicsImageSlider__navigation--button text-decoration-none">
        <i class="icon-chevron-left fz-24"></i>
      </button>
      <button @click.prevent="slideNext" class="btn btn-link topicsImageSlider__navigation--button text-decoration-none">
        <i class="icon-chevron-right fz-24"></i>
      </button>
    </div>
  </div>
</template>

<script>
  import {
    Hooper,
    Slide,
    Pagination as HooperPagination
  } from 'hooper';

  export default {
    name: 'DsTopicsImageSlider',
    components: {
      Hooper,
      Slide,
      HooperPagination
    },
    props: {
      items: Number
    },
    data () {
      return {
        hooperSettings: {
          itemsToShow: 1,
          infiniteScroll: true,
          wheelControl: false,
        }
      }
    },
    methods: {
      slidePrev() {
        this.$refs.imageSlider.slidePrev();
      },
      slideNext() {
        this.$refs.imageSlider.slideNext();
      }
    }
  }
</script>

<style lang="scss" scoped>
  .topicsImageSlider {
    height: auto;
    @include media-breakpoint-down(md) {
      padding-bottom: 2rem;
    }

    .hooper-pagination {
      bottom: 0;
      display: none;
      @include media-breakpoint-down(md) {
        display: block;
      }
    }

    .hooper-indicator {
      background-color: $ds-footer-link;
      &.is-active {
        background-color: $primary;
      }
    }

    &__navigation {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      pointer-events: none;
      transform: translateY(-50%);
      @include media-breakpoint-down(md) {
        left: -13%;
        width: 126%;
      }

      &--button {
        pointer-events: all;
      }
    }
  }
</style>
