<template>
  <div>
    <figure class="topicsPicture rounded-4 p-3 mb-0" :class="{['topicsPicture__gradient']: gradient, ['topicsPicture__white']: white}">
      <div class="overflow-hidden rounded-4 rounded-top-0">
        <img :src="image" alt="" class="img-fluid mx-auto d-block" :class="{['m-3']: imageMargin, ['topicsPicture__mobile_overflow']: mobileOverflow}">
      </div>
      <figcaption v-if="hasCaption" class="mt-3 fz-13 font-montserrat" :class="{['mt-40']: captionMargin}">
        <slot name="caption" />
      </figcaption>
    </figure>
  </div>
</template>

<script>
  export default {
    name: 'DsTopicsPicture',
    props: {
      image: {
        type: String,
        default: null
      },
      caption: {
        type: String,
        default: null
      },
      gradient: {
        type: Boolean,
        default: true
      },
      white: {
        type: Boolean,
        default: false
      },
      imageMargin: {
        type: Boolean,
        default: true
      },
      captionMargin: {
        type: Boolean,
        default: true
      },
      mobileOverflow: {
        type: Boolean,
        default: false
      }
    },
    computed: {
      hasCaption () {
        return !!this.$slots['caption'];
      }
    }
  }
</script>

<style lang="scss" scoped>
  .topicsPicture {
    background-color: $ds-light-bg;

    &__gradient {
      background: linear-gradient(180deg, $ds-light-bg 0%, rgba(245, 245, 245, 0) 100%);
    }

    &__white {
      background: white;
    }

    &__mobile_overflow {
      @include media-breakpoint-down(md) {
        margin-right: -30vw !important;
        margin-left: -30vw !important;
        width: auto;
        max-width: calc(100% + 60vw);
      }
    }
  }
</style>
