<template>
  <div class="scroll-menu__wrapper top-0" :class="{['headerPinned']: headerPinned}">
    <h5 v-if="menuTitle" id="scrollMenuToggle" class="scroll-menu__toggle fz-14 font-montserrat font-weight-semibold text-uppercase p-3 p-lg-0 pb-lg-30 mb-0 d-flex justify-content-between align-items-center collapsed"
        data-bs-toggle="collapse" data-bs-target="#scrollMenu" aria-expanded="false" aria-controls="scrollMenu">
      {{ menuTitle }}
      <i class="icon-chevron-up text-primary fz-20 d-lg-none" />
    </h5>
    <div class="offset-bg" />
    <ul id="scrollMenu" class="scroll-menu list-unstyled m-0 collapse">
      <li v-for="(item, index) in list" class="scroll-menu__item p-3" :class="{['active']: index === activeScrollMenuItem}" @click="scrollToElement(item.hash)">
        <div class="row align-items-center">
          <div class="col-auto pe-0"><i class="icon-bg icon-bg-dark" :class="item.icon ? `icon-${item.icon}` : 'icon-book-open'"></i></div>
          <div class="col">{{ item.title || item.name }}</div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
  import { mapState } from "vuex";

  export default {
    name: 'DsScrollNavigation',
    data () {
      return {
        windowWidth: window.innerWidth,
        activeScrollMenuItem: 0,
        headerHeight: null,
        navbarHeight: null,
        offsetFlag: 0
      }
    },
    props: {
      menuTitle: {
        type: String,
        default: 'Tartalomjegyzék'
      }
    },
    computed: {
      ...mapState('scroll-menu', {
        list: state => state.list,
        headerPinned: state => state.headerMenu
      }),
      scrollSections () {
        return document.querySelectorAll('.scrollSpy');
      },
      scrollNavigations () {
        return document.querySelectorAll('.scroll-menu__item');
      },
      scrollSectionMargin () {
        let sectionMargin;
        if (this.windowWidth < 990) {
          sectionMargin = 131;
        } else {
          if (this.headerPinned) {
            sectionMargin = (this.headerHeight) + 15;
          } else {
            sectionMargin = this.navbarHeight + 14;
          }
        }
        return sectionMargin;
      }
    },
    mounted() {
      this.$nextTick(() => {
        window.addEventListener('resize', this.onResize);
        window.addEventListener('scroll', this.handleScroll);
        this.headerHeight = document.getElementById('header').offsetHeight;
        this.navbarHeight = document.getElementById('navbar').offsetHeight;
      });
    },
    beforeDestroy() {
      window.removeEventListener('resize', this.onResize);
      window.removeEventListener('scroll', this.handleScroll);
    },
    methods: {
      onResize() {
        this.windowWidth = window.innerWidth;
        this.headerHeight = document.getElementById('header').offsetHeight;
        this.navbarHeight = document.getElementById('navbar').offsetHeight;
      },
      getDimensions (item) {
        const { height } = item.getBoundingClientRect();
        const offsetTop = item.offsetTop;
        const offsetBottom = offsetTop + height;

        return {
          height,
          offsetTop,
          offsetBottom
        };
      },
      makeActive (link) {
        this.scrollNavigations[link] ? this.scrollNavigations[link].classList.add('active') : null;
      },
      removeActive (link) {
        this.scrollNavigations[link] ? this.scrollNavigations[link].classList.remove('active') : null;
      },
      removeAllActive () {
        [...Array(this.scrollSections.length).keys()].forEach((link) => this.removeActive(link));
      },
      handleScroll () {
        const scrollPosition = window.scrollY + this.scrollSectionMargin;
        this.scrollingUp(scrollPosition);
        [...this.scrollSections].find((section, index) => {
          const item = this.scrollSections[index];
          const { offsetBottom, offsetTop } = this.getDimensions(item);
          if (scrollPosition > offsetTop && scrollPosition < offsetBottom) {
            this.removeAllActive();
            this.activeScrollMenuItem = index;
            return this.makeActive(index);
          } else {
            this.removeActive(index);
            return this.activeScrollMenuItem = null;
          }
        });
      },
      scrollingUp (offsetTop) {
        let scrollingUp = false;
        scrollingUp = offsetTop > this.offsetFlag;
        this.offsetFlag = offsetTop;
        return scrollingUp;
      },
      scrollToElement (name) {
        const pathName = window.location.pathname;

        const el = document.getElementById(name);
        const offsetTop = el.offsetTop - this.headerHeight;

        if (el) {
          this.closeNavbar();
          window.history.pushState(null, null, `${pathName}#${name}`);

          if (this.windowWidth < 990) {
            window.scrollTo({top: offsetTop - (this.navbarHeight + this.headerHeight + 16), behavior: 'smooth'});
          } else {
            if (this.scrollingUp(offsetTop)) {
              window.scrollTo({ top: offsetTop + (this.navbarHeight - 5), behavior: 'smooth' });
            } else {
              window.scrollTo({top: offsetTop - 14, behavior: 'smooth'});
            }
          }
        }
      },
      closeNavbar () {
        const navbarCollapse = document.getElementById('scrollMenu');
        const navbarToggle = document.getElementById('scrollMenuToggle');
        navbarCollapse.classList.remove('show');
        navbarToggle.classList.add('collapsed');
      }
    }
  }
</script>

<style lang="scss" scoped>
  .scroll-menu {
    @include media-breakpoint-up(lg) {
      padding-right: 1.25rem;
      margin-right: -1.25rem;
      position: relative;
      max-height: 90vh;
      display: block !important;
    }

    @include media-breakpoint-down(lg) {
      padding: 0.375rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow-x: hidden;
      overflow-y: auto;
      max-height: calc(100vh - 6.625rem);
      -webkit-overflow-scrolling: auto;
    }

    &__wrapper {
      padding-top: 1.5rem;
      margin-top: -1.5rem;
      overflow-x: hidden;
      overflow-y: auto;
      position: -webkit-sticky;
      position: sticky;

      &::-webkit-scrollbar {
        width: 0.438rem;
        border-radius: 12.5rem;
      }

      &::-webkit-scrollbar-track {
        background: unset;
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.5);
        border-radius: 12.5rem;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 255, 255, 0.9);
      }

      @include media-breakpoint-down(lg) {
        left: 0;
        width: 100%;
        position: fixed;
        z-index: 100;
        background-color: $ds-light;
        padding-top: 4.75rem;
        overflow: hidden;
      }

      @include media-breakpoint-up(lg) {
        &.headerPinned {
          .scroll-menu {
            padding-top: 4.563rem;
          }
        }
      }
    }

    &__toggle {
      pointer-events: none;

      &:not(.collapsed) {
        ~ .offset-bg {
          opacity: 1;
          visibility: visible;
        }
      }

      @include media-breakpoint-down(lg) {
        background-color: $white;
        pointer-events: all;

        .icon-chevron-up {
          transition: transform .2s ease-in-out;
          transform: rotate(180deg);
        }

        &:not(.collapsed) {
          .icon-chevron-up {
            transform: rotate(0deg);
          }
        }
      }
    }

    &__item {
      background-color: $white;
      border-radius: 0.375rem;
      cursor: pointer;
      transition: .2s ease-in-out;
      &:not(:last-child) {
        margin-bottom: 0.375rem;
      }

      &.active {
        background-color: $secondary;
        color: $white;
        &:hover {
          background-color: $secondary;
        }
      }
      &:hover {
        background-color: $primary;
        color: $white;
      }
    }
  }
  .offset-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $ds-light;
    opacity: 0;
    transition: .2s ease-in-out;
    z-index: -1;
    visibility: hidden;
  }
</style>
