<template>
  <div :id="hash" class="topicsTaskCard" :data-title="title">
    <div class="card mb-20">
      <div class="card-body p-20">
        <h5 class="row align-items-center position-relative pe-30">
          <i class="icon icon-heart-o position-absolute text-primary" :class="isFavouriteItem ? 'icon-heart' : 'icon-heart-o'" @click="toggleFavourite" />
          <span class="col-auto pe-0"><i class="fz-22 icon-bg icon-bg-bigger icon-bg-dark" :class="{[`icon-${icon}`]: icon}" /></span>
          <component :is="hashLink ? 'router-link' : 'span'" :to="hashLink ? `/topics/${topic}/#${hash}` : null" class="col">{{ title }}</component>
        </h5>
        <slot name="content" />
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState } from 'vuex';

  export default {
    name: 'DsTopicsTaskCard',
    props: {
      title: {
        type: String,
        default: null
      },
      icon: {
        type: String,
        default: 'pen-to-square'
      },
      componentName: {
        type: String,
        required: true
      },
      topicId: {
        type: String,
        required: true
      },
      hash: {
        type: String,
        required: true
      },
      hashLink: {
        type: Boolean,
        default: false
      },
      topic: {
        type: String,
        required: false
      }
    },
    computed: {
      ...mapState('favourites', {
        favouriteMap: state => state.list
      }),
      isFavouriteItem () {
        return this.favouriteMap.find(item => item.name === this.componentName);
      }
    },
    methods: {
      toggleFavourite () {
        if (!this.isFavouriteItem) {
          this.$store.commit('favourites/add', {
            name: this.componentName,
            topicId: this.topicId,
            icon: this.icon,
            title: this.title,
            hash: this.hash
          });
        } else {
          this.$store.commit('favourites/remove', this.componentName);
          this.$store.commit('scroll-menu/remove', this.componentName);
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .topicsTaskCard {
    .icon {
      right: 0.625rem;
      top: 0;
      width: auto;
      cursor: pointer;
      padding: 0;
    }
  }
</style>
