<template>
  <div class="topicsPageBackground" :style="{'--backgroundImage': `url(${bgImage})`, '--backgroundImageMobile': `url(${bgImageMobile})`}">
    <div class="container-fluid py-20 pt-lg-5 pb-md-76">
      <div class="row m-lg-0">
        <div class="topicsPageNav col-auto">
          <ds-scroll-navigation />
        </div>
        <div class="topicsPageContent col-shrink ps-lg-5 pt-lg-3">
          <slot name="content" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import DsScrollNavigation from '~/components/Topics/Components/ScrollNavigation';

  export default {
    name: 'TopicsPage',
    components: {
      DsScrollNavigation
    },
    props: {
      bgImage: {
        type: String,
        default: null
      },
      bgImageMobile: {
        type: String,
        default: null
      }
    }
  }
</script>

<style lang="scss" scoped>
  .topicsPageBackground {
    @include media-breakpoint-down(lg) {
      padding-top: 3.25rem;
    }
    @include media-breakpoint-up(md) {
      background-image: var(--backgroundImage);
    }
    background: {
      repeat: no-repeat;
      position: center top;
      image: var(--backgroundImageMobile);
      size: contain;
    };
  }

  .topicsPageNav {
    flex: 0 0 auto;
    @include media-breakpoint-up(lg) {
      max-width: 320px;
    }
  }

  .topicsPageContent {
    width: auto;
    flex: 1 1 0;
    margin-right: auto;
    max-width: 100%;
    @include media-breakpoint-up(lg) {
      max-width: calc(100vw - 320px - calc(var(--bs-gutter-x) * 2));
    }
    @media (min-width: 1440px) {
      padding-left: 5% !important;
      padding-right: 5% !important;
      max-width: calc((100vw - 3%) - 320px);
    }
  }
</style>
