<template>
  <div class="topics-item card rounded-4 overflow-hidden mb-20">
    <div class="card-body p-0">
      <div class="row">
        <div class="col-md-auto pe-0">
          <img :src="require(`~/assets/images/${content.image}`)" alt="" class="img-fluid">
        </div>
        <div class="col">
          <div class="py-20 px-10 h-100 pe-md-20">
            <div class="row h-100">
              <div class="col-12">
                <h5>
                  <component :is="disabledButton ? 'span' : 'router-link'" :to="!disabledButton ? content.to : null">{{ content.title }}</component>
                </h5>
                <p>{{ content.description }}</p>
                <div v-if="content.tags.length" class="tags mt-20">
                  <strong>Címszavakban:</strong>
                  {{ content.tags }}
                </div>
              </div>
              <div class="col-auto mt-auto ms-auto pt-3">
                <ds-button :href="content.to" router-link button-label="Megnyitom" :disabled="disabledButton" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'DsTopicsItem',
    props: {
      content: {
        type: Object,
        default: null
      },
      disabledButton: {
        type: Boolean,
        default: false
      }
    }
  }
</script>

<style lang="scss" scoped>
  .topics-item {
    img {
      @include media-breakpoint-up(md) {
        width: 280px;
        min-height: 280px;
      }

      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
</style>
