<template>
  <div class="profile">
    <ds-content-header>
      <template #title>
        DermaSoul előfizetés
      </template>
    </ds-content-header>
    <div class="container pb-100">
      <div class="row">
        <div class="col-md-8 col-lg-7 col-xl-5">
          <h5>Számlázási adataim</h5>

          <form action="">
            <!--<div class="form-group d-flex fz-13 flex-row">
              <label class="radio-text-line">
                <input type="radio" name="type" value="1" checked>
                <span>Magánszemély</span>
              </label>
              <span class="mx-1 mx-md-3">|</span>
              <label class="radio-text-line">
                <input type="radio" name="type" value="2">
                <span>Cég</span>
              </label>
              <span class="mx-1 mx-md-3">|</span>
              <label class="radio-text-line">
                <input type="radio" name="type" value="3">
                <span>Állami vagy magán klinika</span>
              </label>
            </div>-->
            <label class="form-group">
              <span class="label-text text-uppercase text-md-end mb-0 pe-md-3">Név:</span>
              <input type="text" class="form-control">
            </label>
            <label class="form-group">
              <span class="label-text text-uppercase text-md-end mb-0 pe-md-3">Irányítószám, város:</span>
              <input type="text" class="form-control">
            </label>
            <label class="form-group">
              <span class="label-text text-uppercase text-md-end mb-0 pe-md-3">Utca, házszám:</span>
              <input type="text" class="form-control">
            </label>
            <label class="form-group">
              <span class="label-text text-uppercase text-md-end mb-0 pe-md-3">Email cím:</span>
              <input type="email" class="form-control">
            </label>
          </form>
        </div>
      </div>

      <div class="card col-md-10 col-lg-9 mt-40">
        <div class="card-body">
          <h5>Mennyit engedhetsz meg magadnak?</h5>
          <p>Válaszd azt az összeget, amelyiket megengedheted most magadnak. Minden esetben ugyanazt a szolgáltatást adjuk.</p>

          <ds-range-slider />

          <div class="text-center text-md-start">
            <div class="row flex-md-row-reverse justify-content-center">
              <div class="col-auto">
                <p>
                  <ds-button :href="'/topics/subscribed'" router-link size="lg" button-label="Előfizetek" class="px-5"/>
                </p>
              </div>
              <div class="col-auto">
                <p data-bs-toggle="modal" data-bs-target="#customAmount">
                  <ds-button theme="primary-border" button-label="Egyedi összeget választok" size="lg" />
                </p>
              </div>
            </div>

            <h6 class="font-weight-regular mt-5"><em>Fizetéshez átirányítunk a Barion oldalára. <a href="https://www.barion.com/hu/ugyfelszolgalat/barionnal-fizettem/" target="_blank" class="d-inline-block">Mi az a Barion?</a></em></h6>

            <img src="~/assets/images/barion-card-payment-mark-2017-1200px.png" alt="" class="img-fluid col-md-7">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import DsContentHeader from "~/components/StaticContents/DsContentHeader";
  import DsButton from "~/components/DsButton";
  import DsRangeSlider from "~/components/Topics/Components/DsRangeSlider";

  export default {
    name: 'Subscribe',
    components: {
      DsRangeSlider,
      DsContentHeader,
      DsButton
    }
  }
</script>

<style lang="scss" scoped>
  .profile {
    .radio-text-line {
      input {
        display: none;
        & + span {
          color: $primary;
          text-decoration: underline;
          cursor: pointer;
        }
        &:checked + span {
          color: $default;
          text-decoration: none;
          cursor: auto;
        }
      }
    }
  }
</style>
