<template>
  <div class="modal fade" id="customAmount" tabindex="-1" aria-labelledby="customAmountLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content rounded-4">
        <div class="modal-header p-30 rounded-4 rounded-bottom-0">
          <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-md-between w-100">
            <h2 class="fz-24 modal-title mb-10" id="customAmountLabel">Egyedi összeget választok</h2>
          </div>
          <button type="button" class="btn-close align-self-start" data-bs-dismiss="modal" aria-label="Close">
            <i class="icon-close fz-20"></i>
          </button>
        </div>
        <div class="modal-body p-30 pt-0">
          <p>Az alapdíjas 9 000 Ft-t összegen felül, bármilyen más összegel is támogathat minket. A teljes szolgáltatást előfizetés után 10 hétig érheti majd el.</p>
          <form action="">
            <label class="form-group">
              <span class="label-text text-uppercase">Kérjük adja meg a kívánt összeget:</span>
              <div class="input-group">
                <input type="number" class="form-control pe-5" placeholder="9.000 Ft <">
                <span class="input-group-text bg-white border-0">Ft</span>
              </div>
            </label>
            <div class="d-flex flex-column flex-md-row-reverse mt-30 justify-content-between align-items-center">
              <div data-bs-dismiss="modal" class="mb-3 mb-md-0"><ds-button :href="'/subscribe'" router-link button-label="Tovább az előfizetés oldalra" /></div>
              <ds-button theme="primary-border" button-label="Mégsem" data-bs-dismiss="modal" aria-label="Close" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'DsCustomAmount'
  }
</script>

<style lang="scss" scoped>
  #customAmount {
    p {
      margin-top: -1rem;
      margin-bottom: 2rem;
    }
    .form-control {
      border-radius: 0.375rem;
    }
  }
</style>
