<template>
  <div class="subscriptionRadio mb-10 d-flex flex-row align-items-center" :class="{['selected']: selected}" @click="click">
    <div class="row align-items-center">
      <div class="col-auto pe-0">
        <div class="radio-line m-0">
          <input type="radio" :checked="selected"><i></i>
        </div>
      </div>
      <div class="col-auto font-weight-semibold text-primary font-montserrat">
        {{ item.value }}
      </div>
      <div class="col fz-12">
        {{ item.label }}
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'DsSubscriptionRadio',
    props: {
      item: {
        type: Object,
        default: () => {}
      },
      selected: {
        type: Boolean,
        default: false
      }
    },
    methods: {
      click () {
        return this.$emit('click');
      }
    }
  }
</script>

<style lang="scss" scoped>
  .subscriptionRadio {
    border: 1px solid $primary;
    background-color: $white;
    padding: 0.625rem 1rem;
    border-radius: 6.25rem;
    min-height: 5.25rem;
    transition: background-color .2s ease-in-out;

    &.selected {
      background-color: rgba(3, 182, 193, 0.1);
    }
  }
</style>
