<template>
  <div class="card overflow-hidden mb-20">
    <div class="card-body p-20">
      <h5>Az összes témakört előfizetéssel érheti el:</h5>
      <p>Nem szeretnénk hogy a szolgáltasunk ára legyen a gyógyulása akadálya. Kérjük, válassza azt a díjszabást, amelyiket megengedheti magának! A teljes  szolgáltatást előfizetés után 10 hétig érheti majd el.</p>

      <ds-range-slider />

      <div class="row flex-md-row flex-column-reverse">
        <div class="col-md-auto me-auto">
          <div data-bs-toggle="modal" data-bs-target="#customAmount">
            <ds-button theme="primary-border" stretch button-label="Egyedi összeget választok" />
          </div>
        </div>
        <div class="col-md-auto mb-10 md-md-0">
          <ds-button :href="'/subscribe'" router-link stretch button-label="Tovább az előfizetés oldalra" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import DsButton from '~/components/DsButton';
  import DsRangeSlider from '~/components/Topics/Components/DsRangeSlider';

  export default {
    name: 'DsSubscription',
    components: {
      DsRangeSlider,
      DsButton
    }
  }
</script>

<style lang="scss" scoped>

</style>
