<template>
  <div ref="parallaxWrapper" :class="$style.parallax">
    <div ref="parallaxBg" :class="[$style.parallaxBg]" :style="{backgroundImage: `url('${image}')`, height: bgHeight}" />
    <slot />
  </div>
</template>

<script>
  export default {
    name: 'Parallax',
    props: {
      image: {
        type: String,
        required: true
      },
      parallaxRatio: {
        type: Number,
        default: 1.2,
        required: false
      },
      bgHeight: {
        type: String,
        default: '1200px'
      },
      bgPosition: {
        type: String,
        default: 'center'
      },
      animationRatio: {
        type: Number,
        default: 1
      }
    },
    mounted () {
      this.setupListener();
    },
    methods: {
      parallaxAnimate () {
        if (undefined !== this.$refs.parallaxBg) {
          const parallaxWrapperHeight = this.$refs.parallaxWrapper.clientHeight;
          const parallaxBgHeight = this.$refs.parallaxBg.clientHeight;
          const animationValue = ((window.scrollY * 0.1) / parallaxWrapperHeight) * (parallaxWrapperHeight * this.parallaxRatio);
          if ((parallaxWrapperHeight + animationValue) < (parallaxBgHeight - animationValue)) {
            this.$refs.parallaxBg.style.backgroundPosition = `${this.bgPosition} ${animationValue * -this.animationRatio}px`;
          }
        }
      },
      startAnimation () {
        if (undefined !== this.$refs.parallaxWrapper) {
          const rect = this.$refs.parallaxWrapper.getBoundingClientRect();
          return (
            rect.bottom >= 0 &&
            rect.top <= (window.innerHeight || document.documentElement.clientHeight)
          );
        }
      },
      scrollHandler () {
        let ticking = false;
        if (!ticking) {
          window.requestAnimationFrame(() => {
            if (this.startAnimation()) {
              this.parallaxAnimate();
            }
            ticking = false;
          });

          ticking = true;
        }
      },
      setupListener () {
        window.addEventListener('scroll', this.scrollHandler, false);
      },
      destroyed () {
        window.removeEventListener('scroll', this.scrollHandler, false);
      }
    }
  };
</script>

<style module lang="scss" rel="stylesheet/scss">
  .parallax {
    position: relative;
    z-index: 9;
    overflow: hidden;

    &Bg {
      position: absolute;
      width: 100%;
      height: 120%;
      left: 0;
      top: 0;
      z-index: -1;
      background: {
        repeat: no-repeat;
        size: cover;
      };
      @include media-breakpoint-down(md) {
        height: 100% !important;
        background-position: center !important;
      }
    }
  }
</style>
