@import "custom";

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: auto;
  }
}

html {
  height: 100%;
}

body {
  @media (min-width: 991px){
    padding-top: 8.5rem;
  }

  padding-top: 3.25rem;
}

body,
#__layout,
#__nuxt {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  min-height: 100%;
}

// Radius
.rounded {
  &-4 {
    border-radius: 0.625rem;
  }
  &-top-0 {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
  &-bottom-0 {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}

// Hooper
.hooper-pagination {
  bottom: -3.2rem;
}
.hooper-indicator {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  margin: 0 0.3rem;
  border: 1px solid $primary;
  &:hover,
  &.is-active {
    background-color: var(--bs-white);
  }
}
.hooper-slide {
  height: auto;
}
.is-dragging {
  cursor: grabbing;
}

// Accordion
.accordion {
  &-item {
    background: linear-gradient(0deg, rgba(253, 224, 203, 0.5), rgba(253, 224, 203, 0.5)), $white;
    border-radius: 0.375rem;
    overflow: hidden;
  }
  &-button {
    &:hover {
      color: $primary;
    }
    &:after {
      display: none;
    }
    .icon-chevron-up {
      color: $primary;
      transform: rotate(0deg);
      transition: transform .2s ease-in-out;
    }
    &.collapsed {
      .icon-chevron-up {
        transform: rotate(180deg);
      }
    }
  }
  &-body {
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

ul, ol {
  margin-left: 0;
  padding-left: 1rem;
  margin-bottom: 1.25rem;
}

// Container
.container {
  @media (min-width: 1200px) {
    max-width: 1240px !important;
  }
}
.container,
.container-fluid {
  @media (max-width: 991px) {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

// Card
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  &-bigger {
    width: 3.25rem;
    height: 3.25rem;
  }
  &-dark {
    background-color: $default;
    color: $white;
  }
}

// Table
.table {
  border-collapse: separate;
  td,
  th {
    padding: 0.625rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.813rem;
    line-height: 1.2;
  }
  & > :not(caption) > * > * {
    border-width: 0;
  }
  thead {
    th {
      font-weight: 600;
      text-transform: uppercase;
      padding-top: 1rem;
      padding-bottom: 1rem;
      vertical-align: middle;
    }
    tr {
      background-color: $ds-light;
      &:first-child {
        th:first-child {
          border-top-left-radius: 0.625rem;
        }
      }
      &:first-child {
        th:last-child {
          border-top-right-radius: 0.625rem;
        }
      }
    }
  }
  tbody {
    tr {
      background-color: rgba(190, 110, 69, 0.1);
      &:last-child {
        td:first-child {
          border-bottom-left-radius: 0.625rem;
        }
      }
      &:last-child {
        td:last-child {
          border-bottom-right-radius: 0.625rem;
        }
      }
    }
    th {
      background-color: $ds-light;
      font-weight: 400;
    }
  }
}

.object-fit {
  &-cover {
    object-fit: cover;
  }
}

.list-style-disc {
  list-style-type: disc;
}

.mt-min {
  margin-top: 2px;
}

