@import "custom";

.btn {
  box-shadow: none !important;
  font-size: 0.875rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 1.143;
  padding: 0.625rem 1rem;

  &[type='button'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &-default-size {
    padding: 0.625rem 1rem;
  }

  &-md {
    padding: 0.813rem 1rem;
    border-radius: 1.5rem;
  }
  &-lg {
    padding: 1.063rem 1rem;
    border-radius: 2rem;
  }

  &-primary {
    color: $white !important;

    &:hover,
    &:focus {
      background-color: $secondary;
      border-color: $secondary;
    }
  }

  &-secondary {
    color: $white !important;
  }

  &-white {
    color: $default !important;
    &:hover,
    &:focus {
      background-color: $primary;
      border-color: $primary;
      color: $white !important;
    }

    &-secondary {
      color: $secondary !important;
      &:hover,
      &:focus {
        background-color: $secondary;
        border-color: $secondary;
        color: $white !important;
      }
    }

    &-text {
      &:hover,
      &:focus {
        background-color: $white;
        border-color: $white;
        color: $primary !important;
      }
    }
  }

  &-primary-border {
    border-color: $primary;
    color: $primary;
    &:hover,
    &:focus {
      background-color: $secondary;
      border-color: $secondary;
      color: $white !important;
    }
  }

  &[disabled] {
    background-color: $ds-disabled !important;
    border-color: $ds-disabled !important;
    pointer-events: none;
  }
}
