$icomoon-font-path: "~/assets/fonts";

$primary: #03B6C1;
$secondary: #03929B;
$white: #FFFFFF;
$ds-brown: #BE6E45;
$ds-light: #FDE0CB;
$default: #073850;
$ds-footer: #052738;
$ds-footer-link: #4ECBD3;
$ds-disabled: #AEB4B4;
$ds-card-bg-info: #2194FE;
$ds-card-bg-tipp: #DDEC81;
$ds-card-bg-challenge: #03B6C1;
$ds-card-bg-example: #EE360E;
$ds-light-bg: #F5F5F5;

$colors: (
  "primary":    $primary,
  "default": $default,
  "dermasoul": $ds-light,
  "dermasoul-dark": $ds-brown,
);

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "white":      $white,
  "primary-border": $white,
  "default": $default,
  "dermasoul": $ds-light,
  "dermasoul-dark": $ds-brown,
  "dermasoul-light": $ds-light-bg,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  10: 0.625rem,
  20: 1.25rem,
  30: 1.875rem,
  40: 2.5rem,
  76: 4.75rem,
  100: 6.25rem
);

// Body
$font-family-sans-serif: "Merriweather", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$body-color: $default;
$body-bg: $ds-light;
$font-size-base: 0.875rem;
$line-height-base: 1.715;

// Buttons
$btn-font-weight: 700;
$btn-border-radius: 1.2rem;
$input-btn-focus-box-shadow: none;
$btn-focus-box-shadow: none;
$input-focus-box-shadow: none;
$input-bg: #FFFFFF;

// Headings
$headings-color: $default;
$headings-font-weight: 900;
$h1-font-size: 2.25rem;
$h2-font-size: 1.5rem;
$h5-font-size: 1.125rem;
$h6-font-size: 0.813rem;
$headings-line-height: 1.4;
$headings-font-weight: 900;
$headings-margin-bottom: 1rem;

// Links
$link-decoration: underline;
$link-hover-decoration: none;
$link-hover-color: $secondary;

// Accordion
$accordion-border-width:      0;
$accordion-border-radius:     0.375rem;
$accordion-button-bg:         $white;
$accordion-button-active-bg:  $white;

// Forms
$input-color: $default;
$input-line-height: 1.43;
$input-btn-padding-y: 0.688rem;
$input-btn-padding-x: 0.75rem;
$input-border-color: $ds-light;
$input-border-radius: 0.375rem;
$form-check-input-width: 1.625rem;
$form-check-input-height: 1.625rem;
$form-check-padding-start: 2.5rem;

// Modal
$modal-sm: 540px;
$modal-md: 740px;
$modal-lg: 768px;
$modal-xl: 768px;
$modal-content-border-width: 0;
$modal-content-bg: #fee9db;

// Card
$card-border-width: 0;
$card-border-radius: 0.625rem;
$card-spacer-y: 1.625rem;
$card-spacer-x: 1.625rem;
