// Font Weight
.font-weight {
  &-regular {
    font-weight: 400;
  }
  &-medium {
    font-weight: 500;
  }
  &-semibold {
    font-weight: 600;
  }
  &-bold {
    font-weight: 700;
  }
  &-black {
    font-weight: 900;
  }
}

// Headings
h1, .h1 {
  letter-spacing: 1px;
  @media (max-width: 768px) {
    font-size: 1.75rem;
  }
}
h2, .h2 {
  @media (max-width: 768px) {
    font-size: 1.25rem;
  }
}
h5, .h5 {
  line-height: 1.438rem;
  @media (max-width: 768px) {
    font-size: 1.125rem;
  }
}
h6, .h6 {
  font-weight: 600;
}
h2 {
  @media (max-width: 768px) {
    font-size: 1.25rem;
  }
}
p {
  margin-bottom: 1.25rem;
}

.lh-26 {
  line-height: 1.625rem;
}

// Font Family
.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

// FontSize
.fz- {
  &12 {
    font-size: 0.75rem;
  }
  &13 {
    font-size: 0.813rem;
  }
  &14 {
    font-size: 0.875rem;
  }
  &16 {
    font-size: 1rem;
  }
  &18 {
    font-size: 1.125rem;
  }
  &20 {
    font-size: 1.25rem;
  }
  &22 {
    font-size: 1.375rem;
  }
  &24 {
    font-size: 1.5rem;
  }
  &32 {
    font-size: 2rem;
  }
}

.text-uppercase-none {
  text-transform: unset;
}
