.form-control {
  &:focus {
    border-color: $default;
  }
  &.success {
    border-color: $primary;
  }
  &.white {
    background-color: $white;
    border-color: $white;
    background-clip: border-box;
  }
}

.form-group {
  margin-bottom: 1.125rem;
  display: block;
  &.d-flex {
    align-items: flex-start;
    flex-flow: column;
    @media (min-width: 768px) {
      align-items: center;
      flex-flow: row;
    }
  }
  .label-text {
    margin-bottom: 0.438rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    display: inline-block;
  }
}

.input-group {
  .form-control {
    border-radius: 0.375rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .input-group-text {
    position: absolute;
    right: 1px;
    top: 1px;
  }
}

.form-check-input {
  margin-top: -1px;
}

.radio-line {
  line-height: 1.25rem;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  margin: 1px 0.625rem 1.25rem 0;
  input {
    display: none;
    + i {
      position: relative;
      display: flex;
    }
    + i:before {
      width: 1.375rem;
      height: 1.375rem;
      position: relative;
      background-color: $white;
      border: 1px solid $primary;
      border-radius: 50%;
      min-width: 1.25rem;
      content: '';
    }
    + i:after {
      width: 0.75rem;
      height: 0.75rem;
      content: '';
      background: $primary;
      border-radius: 50%;
      transition: all .218s linear;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
    &:checked + i {
      &:after {
        opacity: 1;
      }
      &:before {
        border-width: 2px;
      }
    }
  }
}

input[type="number"] {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
  }
}
