.modal {
  &-content {
    background-clip: border-box;
  }

  .btn-close {
    background: none;
    color: $primary;
    margin: -1rem -1rem -1rem auto;
    opacity: 1;
    transition: .2s ease-in-out;
    &:hover {
      color: $ds-footer-link;
      opacity: 1;
    }
  }

  &-lg {
    @media (min-width: 768px){
      width: 90vw;
      max-width: 1240px;
    }
  }
}
