.vue-slider {
  max-width: 450px;
  margin-bottom: 10.625rem;

  &-rail {
    height: 0.875rem;
    background: linear-gradient(90deg, $default, $primary);
    border-radius: 0.438rem;
  }

  &-mark-step {
    width: 1px;
    height: 100%;
    border-radius: 0;
    background-color: $white;
  }

  &-dot {
    width: 2.5rem !important;
    height: 2.5rem !important;
    border: 2px solid $primary;
    border-radius: 50%;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(7, 56, 80, 0.2));

    &-handle {
      box-shadow: none;
      background-color: $primary;
      width: 1.125rem;
      height: 1.125rem;
      border-radius: 50%;
    }
  }

  &-mark {
    width: 1px !important;
    background-color: $white;

    &-label {
      border: 1px solid $primary;
      padding: 0.438rem 1.25rem;
      border-radius: 1.25rem;
      color: $primary;
      font-weight: 600;
      font-family: 'Montserrat', sans-serif;
      cursor: pointer;
      margin-top: 2rem !important;
      background-color: $white;
    }

    &-subLabel {
      position: absolute;
      width: 140px;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
      font-size: 0.813rem;
      top: 5.938rem;
      opacity: 0;
      transition: .2s ease-in-out;
      line-height: 1.4;
      &.selected {
        opacity: 1;
      }
    }
  }

  &-process {
    background-color: transparent;
  }
}
