<template>
  <div class="container py-20 pt-lg-5 pb-md-76">
    <div class="row">
      <div class="col-lg-3 mb-4">
        <ds-scroll-navigation :menu-title="`KEDVENC GYAKORLATAIM (${getListNumber})`" />
      </div>
      <div class="col-lg-9 ps-lg-5">
        <div v-for="items in sortedList" :key="items.topicId">
          <h5 class="fz-14 font-montserrat font-weight-semibold text-uppercase mb-20 mt-5">{{ items[0].blockTitle }}</h5>
          <component :is="topicsTypesConfig[item.name].component" v-for="item in items" :key="item.name" class="scrollSpy" :hash-link="true" :topic="setTopicPageUrl(item.topicId)" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState } from 'vuex';
  import TopicsTypesConfig from '~/config/topics';
  import topicsItems from '~/contents/topicsItems.json';
  import DsScrollNavigation from '~/components/Topics/Components/ScrollNavigation';

  const topicsPageUrls = [
    { id: 'T1', url: 'one' },
    { id: 'T2', url: 'two' },
    { id: 'T3', url: 'three' },
    { id: 'T4', url: 'four' },
    { id: 'T5', url: 'five' },
    { id: 'T6', url: 'six' },
    { id: 'T7', url: 'seven' },
    { id: 'T8', url: 'eight' },
    { id: 'T9', url: 'nine' },
    { id: 'T10', url: 'ten' }
  ];

  export default {
    name: 'Favourites',
    components: {
      DsScrollNavigation
    },
    data () {
      return {
        topicsTypesConfig: TopicsTypesConfig,
        topicsItems: topicsItems
      };
    },
    computed: {
      ...mapState('favourites', {
        favouritesList: state => state.list
      }),
      sortedList () {
        return Object.keys(this.setReducedList).sort().reduce((obj, key) => {
          obj[key] = this.setReducedList[key];
          return obj;
        }, {});
      },
      orderedList () {
        if (this.favouritesList !== undefined) {
          const localItemList = JSON.parse(JSON.stringify(this.favouritesList));
          return localItemList.sort((a, b) => (a.name > b.name) ? 1 : -1);
        }
      },
      setReducedList () {
        return this.orderedList.reduce((items, item) => {
          let title = this.topicsItems.find(title => {
            if (title.id === item.topicId) {
              return title;
            }
          });
          item = {
            ...item,
            blockTitle: title.title
          };
          items[item.topicId] = [...items[item.topicId] || [], item];
          return items;
        }, {});
      },
      setMenu () {
        return this.$store.commit('scroll-menu/add', this.orderedList);
      },
      getListNumber () {
        return this.favouritesList.length;
      }
    },
    mounted () {
      return this.setMenu;
    },
    methods: {
      setTopicPageUrl (topicId) {
        let url;
        topicsPageUrls.map((item) => {
          if (item.id === topicId) {
            url = item.url;
          }
        });
        return url;
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>
