<template>
  <div class="cookie position-fixed rounded-4 p-10" :class="{['hide']: !hasCookie}">
    <div class="row flex-wrap">
      <div class="col-auto pe-0">
        <img src="~/assets/images/cookie.png" alt="" class="cookie__image rounded-circle border border-1 border-dermasoul">
      </div>
      <div class="col align-self-center">
        <strong>Az oldal sütiket használ a minél jobb felhasználói élmény érdekében. További információért olvassa el
          <a href="">adatkezelési tájékoztatónkat</a>.</strong>
      </div>
      <div class="w-100 d-lg-none" />
      <div class="cookie__buttons col-auto flex flex-nowrap mx-auto ms-lg-auto pt-3 pt-lg-0 text-center">
        <ds-button button-label="ELFOGADOM" @click="hideCookie" />
      </div>
    </div>
  </div>
</template>

<script>
  import DsButton from '~/components/DsButton';

  export default {
    name: 'Cookie',
    components: {
      DsButton
    },
    data () {
      return {
        hasCookie: true
      };
    },
    methods: {
      hideCookie () {
        return this.hasCookie = !this.hasCookie;
      }
    }
  }
</script>

<style lang="scss" scoped>
  .cookie {
    background: linear-gradient(259.11deg, #FFFFFF 7.94%, rgba(253, 224, 203, 0.4) 91.81%), #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    left: 0.625rem;
    right: 0.625rem;
    bottom: 0.625rem;
    z-index: 1000;
    transition: transform 0.6s ease-in-out;
    @include media-breakpoint-up(md) {
      left: 1.25rem;
      right: 1.25rem;
      bottom: 1.25rem;
    }

    &.hide {
      transform: translateY(100em);
    }

    &__image {
      width: 2.625rem;
      height: 2.625rem;
    }

    &__buttons {
      a, button {
        &:not(:last-child) {
          margin-right: 0.625rem;
          @include media-breakpoint-down(md) {
            margin-bottom: 0.625rem;
          }
        }
      }
    }
  }
</style>
