<template>
  <component :is="checkTag" :to="routerLink ? href : null" :href="href ? href : null" :type="type" class="btn" :class="{[`btn-${theme}`]: theme, [`btn-${size}`]: size, ['text-uppercase']: uppercase, ['rounded-4']: rounded, ['d-block w-100']: stretch, ['shadow']: shadow, [`text-${textAlign}`]: textAlign}" :disabled="disabled" v-on="$listeners" :target="blankTarget ? '_blank' : null">
    <span class="row align-items-center">
      <span v-if="icon" class="col-auto pe-0">
        <i class="icon" :class="{[`icon-${icon}`]: icon, [`fz-${iconSize}`]: iconSize}" />
      </span>
      <span v-if="img" class="col-auto pe-0">
        <img :src="img" alt="" width="32" class="img-fluid">
      </span>
      <span class="col">
        {{ buttonLabel }}
      </span>
    </span>
  </component>
</template>

<script>
  export default {
    name: 'DsButton',
    props: {
      buttonLabel: {
        type: String,
        required: true
      },
      uppercase: {
        type: Boolean,
        default: true
      },
      theme: {
        type: String,
        default: 'primary'
      },
      icon: {
        type: String,
        default: null
      },
      iconSize: {
        type: Number,
        default: null
      },
      rounded: {
        type: Boolean,
        default: false
      },
      size: {
        type: String,
        default: 'md'
      },
      href: {
        type: String,
        default: null
      },
      type: {
        type: String,
        default: 'button'
      },
      stretch: {
        type: Boolean,
        default: false
      },
      textAlign: {
        type: String,
        default: null
      },
      disabled: {
        type: Boolean,
        default: false
      },
      routerLink: {
        type: Boolean,
        default: false
      },
      blankTarget: {
        type: Boolean,
        default: false
      },
      shadow: {
        type: Boolean,
        default: false
      },
      img: {
        type: String,
        required: false
      }
    },
    computed: {
      checkTag () {
        return this.tag || (this.href ? (this.routerLink ? 'router-link' : 'a') : 'button');
      }
    }
  }
</script>

<style lang="scss" scoped>
  .btn {
    &.shadow {
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) !important;
    }
    img,
    .icon {
      margin: -1rem 0;
      display: inline-block;
      vertical-align: middle;
      &.fz-16 {
        margin: -1.2rem 0 -1rem;
      }
    }
  }
</style>
