<template>
  <ds-topics-task-card class="scrollSpy" hash="erzelmi-megterheles-es-borproblema-kapcsolata" title="Érzelmi megterhelés és bőrprobléma kapcsolata" component-name="T101" topic-id="T1" data-icon="pen-to-square" :hash-link="hashLink" :topic="topic">
    <template #content>
      <p><strong>Cél:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam beatae debitis deleniti dolore eveniet explicabo impedit nobis obcaecati officiis quae, quos temporibus ut velit. Distinctio obcaecati quisquam ratione sequi voluptatem.</p>

      <p>Quisque rhoncus ligula ut dui volutpat egestas. Nunc enim felis, varius eget tempor non, egestas sit amet purus. Ut augue ex, mollis nec pretium nec, tempor at nisi. Mauris nibh quam, dapibus in malesuada a, consectetur sit amet massa. Nullam sed condimentum lacus. Nam aliquet neque et turpis fringilla euismod.</p>

      <ds-pdf-download :image="require('~/assets/images/topics1/DS_feladatlap_look_BorPsziche_01.jpg')" />

      <ds-topic-badges :items="['Nyugodt helyen', 'Napi 5-10 perc']" />
    </template>
  </ds-topics-task-card>
</template>

<script>
  import DsShowMore from '~/components/Topics/Components/DsShowMore';
  import DsTopicBadges from '~/components/Topics/Components/Badges';
  import DsTopicsTaskCard from '~/components/Topics/Components/TaskCard';
  import DsPdfDownload from "~/components/Topics/Components/DsPdfDownload";

  export default {
    name: 'T101',
    components: {
      DsPdfDownload,
      DsShowMore,
      DsTopicsTaskCard,
      DsTopicBadges
    },
    props: {
      hashLink: {
        type: Boolean,
        default: false
      },
      topic: {
        type: String,
        required: false
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>
