<template>
  <ds-topics-task-card class="scrollSpy" hash="borproblemam-oka-muveszetterapias-kepi-kifejtes" title="Bőrproblémám oka: Művészetterápiás képi kifejtés" icon="paintbrush" data-icon="paintbrush" component-name="T103" topic-id="T1" :hash-link="hashLink" :topic="topic">
    <template #content>

      <ds-show-more padding-bottom>
        <template #default>
          <p><strong>Cél:</strong> <p><strong>Cél:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam beatae debitis deleniti dolore eveniet explicabo impedit nobis obcaecati officiis quae, quos temporibus ut velit. Distinctio obcaecati quisquam ratione sequi voluptatem.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod
            scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur
            nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo.
            Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae,
            interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras
            at orci vitae dolor facilisis convallis.</p>

          <p>Sed eleifend, sem interdum accumsan facilisis, urna ante rutrum elit, id volutpat ligula mauris
            pellentesque ex. Aliquam interdum dolor nec felis egestas, ut consectetur sem viverra. Sed ex lorem,
            eleifend vel mattis quis, gravida a sapien. Vivamus tristique arcu quis dapibus pellentesque. Cras egestas
            elit at dolor posuere, eget scelerisque sem euismod. Maecenas sed enim ac nisi venenatis porta. Suspendisse
            elementum libero sollicitudin, maximus risus nec, euismod turpis. Duis eleifend sit amet enim pretium
            cursus. Pellentesque id mauris a risus tristique eleifend. Aliquam consequat arcu quis sagittis tincidunt.
            Nulla arcu magna, fringilla non tempor vel, rutrum ac massa.</p>

          <p>Proin non efficitur nunc, eu viverra massa. Praesent sed nisl id dolor mattis dapibus. Proin tristique id
            ligula id placerat. Donec varius odio in nulla blandit tincidunt id at nisi. Curabitur risus enim, bibendum
            porttitor volutpat sed, hendrerit id mauris. Suspendisse laoreet scelerisque sollicitudin. Praesent a leo
            est. Aenean sodales leo elit, id mollis lorem dictum quis. Cras ullamcorper varius eros vitae mollis.
            Phasellus ultricies diam non neque malesuada, ut condimentum nibh luctus.</p>

          <ds-topics-card no-shadow>
            <template #content>
              Ha elkészült, beküldheti a DermaSoul anonim gyűjteményébe, az <a href="mailto:info@dermasoul.hu"><strong>info@dermasoul.hu</strong></a> - e-mail címre, (csak a nemét és az életkorát írja hozzá), hogy mások is okulhassanak belőle!
            </template>
          </ds-topics-card>

          <ds-topics-card theme="challenge" no-shadow>
            <template #content>
              A Művészetterápiás képi kifejezés van, akinek könnyebb van, akinek szokatlan, nehezebb, önkritikus hangok üthetik fel a fejüket bennünk. Ilyenkor fontos lehet tudatosítanunk, hogy nem cél, hogy kiállítási darabot alkossunk, lényeg maga a folyamat, a belső lelki tartalom külső, képi kifejezése, mely segíti az átdolgozást, önmegértést.
            </template>
          </ds-topics-card>

          <ds-topics-card theme="example" disable-bg>
            <template #content>
              <div class="text-center">
                <h5 class="fz-14 font-weight-black">Bőrprobléma okának művészetterápiás képi kifejezése:</h5>
                <ds-topics-image-slider :items="12">
                  <template #slide1>
                    <div class="text-center">
                      <figure>
                        <img src="~/assets/images/topics1/kep_04.jpg" alt="" class="img-fluid" width="300">
                      </figure>
                      <p><em>„A szeretetre is éhes bőröm és én.”</em> - 24 éves egyetemista, lichen planus bőrproblémával</p>
                    </div>
                  </template>
                  <template #slide2>
                    <div class="text-center">
                      <figure>
                        <img src="~/assets/images/topics1/kep_01.jpg" alt="" class="img-fluid" width="300">
                      </figure>
                      <p><em>„Ágyéktáji ekzemámon merengve, ha mélyen magamba nézek, ciki-nem ciki, a szexualitásom jut eszembe, ami kapcsán sok szorongást élek meg, s a párkapcsolatom problémái, melyeket jó lenne végre rendbe szedni!”</em> - 26 éves ekzemás nő</p>
                    </div>
                  </template>
                  <template #slide3>
                    <div class="text-center">
                      <figure>
                        <img src="~/assets/images/topics1/kep_02.jpg" alt="" class="img-fluid" width="300">
                      </figure>
                      <p><em>„A pikkelysömöröm kitörései arra emlékeztetnek, ahogyan alkotói válságomban dohányfüstbe burkolódzva merengek az élet nagy kérdésein.”</em> - 42 éves férfi, grafikus, pikkelysömörös</p>
                    </div>
                  </template>
                  <template #slide4>
                    <div class="text-center">
                      <figure>
                        <img src="~/assets/images/topics1/kep_03.jpg" alt="" class="img-fluid" width="300">
                      </figure>
                      <p><em>„Indulatok forrongása. Nem tudom eldönteni, ki akarok-e törni? Most igen, vagy nem?”</em> - 41 éves nő, irodai alkalmazott, krónikus pruritus (bőr viszketés)</p>
                    </div>
                  </template>
                  <template #slide5>
                    <div class="text-center">
                      <figure>
                        <img src="~/assets/images/topics1/kep_05.jpg" alt="" class="img-fluid" width="300">
                      </figure>
                      <p><em>„Egy legutóbbi rémálmomat rajzoltam meg, ahogy uszodában vagyok, nyitott papucsban... s el kell, hogy sétáljak az életem fontos ex-partnerei előtt... borzasztó kinos, szégyenteli érzés. Rárimmel arra, ahogy akkor érzem magamat, amikor valaki meglátja a pikkelysömörös lábamat.”</em> - Pikkelysömörös férfi (42)</p>
                    </div>
                  </template>
                  <template #slide6>
                    <div class="text-center">
                      <figure>
                        <img src="~/assets/images/topics1/kep_06.jpg" alt="" class="img-fluid" width="300">
                      </figure>
                      <p><em>„Vágy, titok, elhallgatás, szabad, belső erő, tusakodás, alárendelt engedelmesség, küzdelem, ablak, szédülés, zuhanás, félelem, befelé menekülés, érzetek felszippantása, ingerek feldolgozása.”</em> - 28 éves nő, irodavezető, ekzemás</p>
                    </div>
                  </template>
                  <template #slide7>
                    <div class="text-center">
                      <figure>
                        <img src="~/assets/images/topics1/kep_07.jpg" alt="" class="img-fluid" width="300">
                      </figure>
                      <p><em>„Engem nem várt az anyám, mikor kiderült, hogy terhes velem, 11 kilót fogyott. Ez a kép a magzatkorombeli élményeimre emlékeztet. De ez a burok azt is szimbolizálja, ahogyan a felnövekedésem során egy hamis képet festettem magamról a szüleim előtt, nem tudják ki vagyok, mit érzek valójában, néha én magam sem tudom.”</em> - 31 éves Réka, ügyvéd jelölt, krónikus csalánkiütéssel küzd</p>
                    </div>
                  </template>
                  <template #slide8>
                    <div class="text-center">
                      <figure>
                        <img src="~/assets/images/topics1/kep_08.jpg" alt="" class="img-fluid" width="300">
                      </figure>
                      <p><em>„A világ veszélyes…  védekeznem szükséges. A bőröm védekezése a sömör. Én vagyok ez a tüskés bogáncsvirág.”</em> - Pikkelysömörös férfi (42)</p>
                    </div>
                  </template>
                  <template #slide9>
                    <div class="text-center">
                      <figure>
                        <img src="~/assets/images/topics1/kep_09.jpg" alt="" class="img-fluid" width="300">
                      </figure>
                      <p><em>„A bőrproblémám, amire nehéz érzés rátekinteni és én, ahogy nélküle érezném magam.”</em> - 26 éves egyetemista nő, krónikus acne tünetekkel</p>
                    </div>
                  </template>
                  <template #slide10>
                    <div class="text-center">
                      <figure>
                        <img src="~/assets/images/topics1/kep_10.jpg" alt="" class="img-fluid" width="300">
                      </figure>
                      <p><em>„Összetört jégszív sikertelen összeillesztésének a kudarca. Nehéz gyerekkorom volt és most a házasságomra is kihatással van az, ahogyan a kapcsolataimban működöm, szeretném végre rendezni a múltam és boldogabban élni!”</em> - 43 éves férfi, grafikus, pikkelysömörös</p>
                    </div>
                  </template>
                  <template #slide11>
                    <div class="text-center">
                      <figure>
                        <img src="~/assets/images/topics1/kep_11.jpg" alt="" class="img-fluid" width="300">
                      </figure>
                      <p><em>„A bőröm szerintem arra vágyik, hogy szeretve legyen. Vágyteljesitő álmomat rajzoltam meg, ahogy apámmal gyermekkoromban játszunk és boldogan lubickolok a figyelmében, szeretetében. Mióta elvesztettem őt, nem találom a helyem.”</em> - Krónikus csalánkiütéstől szenvedő 23 éves férfi</p>
                    </div>
                  </template>
                  <template #slide12>
                    <div class="text-center">
                      <figure>
                        <img src="~/assets/images/topics1/kep_12.jpg" alt="" class="img-fluid" width="300">
                      </figure>
                      <p><em>„Bőröm kifejezi a munkahelyi és magánéleti teljesitményhelyzetekkel kapcsolatos szorongásaimat. Negativ hely - mély verem alján kuksolok. Nehéz a nyitás valami más felé.”</em> - 25 éves végzős egyetemista - pályakezdő, ekzema tünetekkel</p>
                    </div>
                  </template>
                </ds-topics-image-slider>
              </div>
            </template>
          </ds-topics-card>

          <ds-pdf-download :image="require('~/assets/images/topics1/DS_feladatlap_look_BorPsziche_03.jpg')" />

          <ds-topic-badges :items="['Nyugodt helyen', 'Napi 5-10 perc']" />
        </template>
      </ds-show-more>
    </template>
  </ds-topics-task-card>
</template>

<script>
  import DsShowMore from '~/components/Topics/Components/DsShowMore';
  import DsTopicBadges from '~/components/Topics/Components/Badges';
  import DsTopicsTaskCard from '~/components/Topics/Components/TaskCard';
  import DsTopicsCard from '~/components/Topics/Components/Card';
  import DsTopicsImageSlider from '~/components/Topics/Components/ImageSlider';
  import DsPdfDownload from "~/components/Topics/Components/DsPdfDownload";

  export default {
    name: 'T103',
    components: {
      DsPdfDownload,
      DsTopicsImageSlider,
      DsShowMore,
      DsTopicsTaskCard,
      DsTopicBadges,
      DsTopicsCard
    },
    props: {
      hashLink: {
        type: Boolean,
        default: false
      },
      topic: {
        type: String,
        required: false
      }
    }
  }
</script>

<style lang="scss" scoped>
.img-fluid {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
</style>
