<template>
  <ds-topics-task-card class="scrollSpy" hash="alomnaplo-vezetes" title="Álomnapló vezetés" component-name="T104" topic-id="T1" data-icon="pen-to-square" :hash-link="hashLink" :topic="topic">
    <template #content>
      <p><strong>Cél:</strong> <p><strong>Cél:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam beatae debitis deleniti dolore eveniet explicabo impedit nobis obcaecati officiis quae, quos temporibus ut velit. Distinctio obcaecati quisquam ratione sequi voluptatem.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod
        scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur
        nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo.
        Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae,
        interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras
        at orci vitae dolor facilisis convallis.</p>

      <ds-topics-card theme="tipp" no-shadow>
        <template #content>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad culpa delectus dicta dolore, dolores doloribus esse inventore ipsa maiores maxime minima nam, optio placeat praesentium reprehenderit saepe sequi tenetur vel?
        </template>
      </ds-topics-card>

      <ds-topics-card theme="challenge" no-shadow>
        <template #content>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam at, autem deleniti distinctio dolor, et laborum laudantium nemo odit possimus, tempora voluptatibus. At, enim perferendis quaerat tempora veritatis voluptate?
        </template>
      </ds-topics-card>

      <ds-topic-badges :items="['Nyugodt helyen', 'Napi 5-10 perc']" />
    </template>
  </ds-topics-task-card>
</template>

<script>
  import DsShowMore from '~/components/Topics/Components/DsShowMore';
  import DsTopicBadges from '~/components/Topics/Components/Badges';
  import DsTopicsTaskCard from '~/components/Topics/Components/TaskCard';
  import DsTopicsCard from '~/components/Topics/Components/Card';

  export default {
    name: 'T104',
    components: {
      DsShowMore,
      DsTopicsTaskCard,
      DsTopicBadges,
      DsTopicsCard
    },
    props: {
      hashLink: {
        type: Boolean,
        default: false
      },
      topic: {
        type: String,
        required: false
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>
