<template>
  <ds-topics-task-card hash="a-hatraltato-negativ-gondolatok-megkerdojelezese-gyakorlat" title="A hátráltató negatív gondolatok megkérdőjelezése gyakorlat" component-name="T203" topic-id="T2" data-icon="pen-to-square" :hash-link="hashLink" :topic="topic">
    <template #content>
      <ds-show-more>
        <template #default>
          <p><strong>Cél:</strong> <p><strong>Cél:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam beatae debitis deleniti dolore eveniet explicabo impedit nobis obcaecati officiis quae, quos temporibus ut velit. Distinctio obcaecati quisquam ratione sequi voluptatem.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod
            scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur
            nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo.
            Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae,
            interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras
            at orci vitae dolor facilisis convallis.</p>

          <ds-topics-card theme="tipp" no-shadow>
            <template #content>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequuntur delectus porro praesentium repellendus. Aperiam at culpa eaque eius eos, facilis illum in ipsam, libero maxime mollitia odit totam voluptatibus?
            </template>
          </ds-topics-card>

          <ds-topics-card theme="challenge" no-shadow>
            <template #content>
              Quisque rhoncus ligula ut dui volutpat egestas. Nunc enim felis, varius eget tempor non, egestas sit amet purus. Ut augue ex, mollis nec pretium nec, tempor at nisi. Mauris nibh quam, dapibus in malesuada a, consectetur sit amet massa.
            </template>
          </ds-topics-card>

          <ds-topic-badges :items="['Nyugodt helyen', 'Napi 5-10 perc']" />
        </template>
      </ds-show-more>
    </template>
  </ds-topics-task-card>
</template>

<script>
  import DsShowMore from '~/components/Topics/Components/DsShowMore';
  import DsTopicBadges from '~/components/Topics/Components/Badges';
  import DsTopicsTaskCard from '~/components/Topics/Components/TaskCard';
  import DsTopicsCard from '~/components/Topics/Components/Card';

  export default {
    name: 'T203',
    components: {
      DsShowMore,
      DsTopicsTaskCard,
      DsTopicBadges,
      DsTopicsCard
    },
    props: {
      hashLink: {
        type: Boolean,
        default: false
      },
      topic: {
        type: String,
        required: false
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>
