<template>
  <ds-topics-task-card class="scrollSpy" hash="sajat-gondolataink-kifejtese-A-T-E-M-E-modszer" title="Saját gondolataink kifejtése: A T.É.M.E. módszer" component-name="T302" topic-id="T3" data-icon="pen-to-square" :hash-link="hashLink" :topic="topic">
    <template #content>
      <p><strong>Cél:</strong> <p><strong>Cél:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam beatae debitis deleniti dolore eveniet explicabo impedit nobis obcaecati officiis quae, quos temporibus ut velit. Distinctio obcaecati quisquam ratione sequi voluptatem.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod
        scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur
        nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo.
        Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae,
        interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras
        at orci vitae dolor facilisis convallis.</p>

      <p><strong>T:</strong> &nbsp;&nbsp;&nbsp;	Mondjuk el pontosan a TÉNYEKET anélkül, hogy általánosítanánk, vagy érzelmeinket belekevernénk vagy         kritizálnánk a másikat.</p>

      <p><strong>É:</strong> &nbsp;&nbsp;&nbsp; Fejezzük ki ÉRZELMEINKET. Egyes szám első személyben fogalmazzunk.</p>

      <p><strong>M:</strong> &nbsp;&nbsp;&nbsp; Javasoljunk MEGOLDÁST, de vigyázat, semmit sem szabad ráerőltetni a másikra.</p>

      <p><strong>E:</strong> &nbsp;&nbsp;&nbsp; A pozitív következményeket, az ELŐNYÖKET hangsúlyozzuk. Mindenféleképpen kell keresnünk egy pozitív következményt, mind a másik félre, mind önmagunkra nézve.</p>

      <ds-topic-badges :items="['Nyugodt helyen', 'Napi 5-10 perc']" />
    </template>
  </ds-topics-task-card>
</template>

<script>
  import DsShowMore from '~/components/Topics/Components/DsShowMore';
  import DsTopicBadges from '~/components/Topics/Components/Badges';
  import DsTopicsTaskCard from '~/components/Topics/Components/TaskCard';

  export default {
    name: 'T302',
    components: {
      DsShowMore,
      DsTopicsTaskCard,
      DsTopicBadges
    },
    props: {
      hashLink: {
        type: Boolean,
        default: false
      },
      topic: {
        type: String,
        required: false
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>
