<template>
  <div class="footer pt-3 pt-md-5 text-white mt-auto">
    <div class="container-fluid px-md-4 pt-3 mb-3 mb-md-5 pb-md-0 pb-2">
      <div class="row gy-4">
        <div class="col-md-6 col-lg-4 pb-2">
          <h5 class="text-white mb-3">Footer title 1</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis deleniti deserunt dolor earum.</p>
          <ds-url-copy />
        </div>
        <div class="col-md-6 col-lg-4">
          <h5 class="text-white mb-3">Footer title 2</h5>
          <p>Írjon nekünk e-mailt az <a href="mailto:info@dermasoul.hu">info@dermasoul.hu</a> címre vagy üzenjen a
            <a href="">Facebookon</a>.</p>
          <p class="mb-2"><router-link :to="'/impresszum'">Impresszum</router-link></p>
          <p class="mb-2"><router-link :to="'/adatkezelesi-tajekoztato'">Adatkezelési tájékoztató</router-link></p>
          <p class="mb-2"><router-link :to="'/altalasnos-szerzodesi-feltetelek'">ÁSZF</router-link></p>
        </div>
        <div class="col-md-6 col-lg-4">
          <h5 class="text-white mb-3">Footer title 3</h5>
          <p>Klinikai szakembereknek és érdeklődőknek szóló oldalunk a pszichodermatologia.hu.</p>

          <ul>
            <li>Bőrgyógyász–kozmetológus-együttműködés</li>
            <li>Egészségkonzultáció</li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-4">
          <h5 class="text-white mb-3">Kövessen minket:</h5>
          <ul class="list-unstyled footer__socials">
            <li class="ps-0">
              <a href="" class="d-flex align-items-center text-decoration-none">
                <span class="d-flex align-items-center justify-content-center fz-20 rounded-circle me-3"><i class="icon-facebook-f" /></span>
                <span class="text-decoration-underline">Hírek, tippek, tréningek</span>
              </a>
            </li>
            <li class="ps-0">
              <a href="" class="d-flex align-items-center text-decoration-none">
                <span class="d-flex align-items-center justify-content-center fz-20 rounded-circle me-3"><i class="icon-youtube" /></span>
                <span class="text-decoration-underline">Beszélgetések szakemberekkel, páciensekkel</span>
              </a>
            </li>
            <li class="ps-0">
              <a href="" class="d-flex align-items-center text-decoration-none">
                <span class="d-flex align-items-center justify-content-center fz-20 rounded-circle me-3"><i class="icon-instagram" /></span>
                <span class="text-decoration-underline">Hírek, linkek, érdekességek</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-4">
          <h5 class="text-white mb-3 d-flex align-items-center"><i class="icon-newsletter fz-24 me-3"></i>Hírlevél:</h5>
          <p>A haladásának megfelelő értesítéseket, újdonságokat, kiegészítő anyagokat küldünk. </p>
          <p><ds-button button-label="Feliratkozás" /></p>
        </div>
        <div class="col-md-6 col-lg-4">
          <h5 class="text-white mb-3 d-flex align-items-center"><i class="icon-bell fz-24 me-3"></i>S.O.S. azonnali segítség!</h5>
          <p>Ha Ön vagy ismerőse veszélyben vagy válságban van, krízist él át, ha sürgősen beszélne valakivel, kérjük, keresse fel az alábbi címek egyikét.</p>
          <p data-bs-toggle="modal" data-bs-target="#sosModal"><ds-button uppercase button-label="Elérhetőségek" /></p>
        </div>
      </div>
    </div>
    <div class="footer__bottom text-white text-uppercase py-2 fz-1 font-montserrat">
      <div class="container-fluid px-md-4">
        <div class="row align-items-center justify-content-center justify-content-md-between text-center">
          <div class="col-auto">
            Made with 💚 in Budapest
          </div>
          <div class="col-auto">
            ©Copyright - Dermasoul - Minden jog fenntartva
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import DsButton from '~/components/DsButton';
  import DsUrlCopy from '~/components/Footer/UrlCopy';

  export default {
    name: 'DsFooter',
    components: {
      DsUrlCopy,
      DsButton
    }
  }
</script>

<style lang="scss" scoped>
  .footer {
    background-color: $default;
    font-size: 0.813rem;
    line-height: 1.5rem;

    a {
      color: $ds-footer-link;
      &:hover {
        color: $secondary;
      }
    }

    ul {
      li + li {
        margin-top: 0.75rem;
      }
    }

    &__socials {
      .rounded-circle {
        width: 2rem;
        min-width: 2rem;
        height: 2rem;
        background-color: $primary;
        color: $default;
      }
      a {
        &:hover {
          .rounded-circle {
            background-color: $secondary;
          }
          span {
            text-decoration: none !important;
          }
        }
      }
    }

    &__bottom {
      background-color: $ds-footer;
    }
  }
</style>
