<template>
  <div class="modal fade" id="sosModal" tabindex="-1" aria-labelledby="sosModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content rounded-4">
        <div class="modal-header p-30 text-white rounded-4 rounded-bottom-0">
          <div>
            <h2 class="fz-24 modal-title mb-10 text-white" id="sosModalLabel">S.O.S. Azonnali segítség!</h2>
            <p class="font-weight-black">Ha Ön vagy ismerőse veszélyben vagy válságban van, krízist él át, ha sürgősen beszélne valakivel, kérjük, keresse fel az alábbi címek egyikét:</p>
          </div>
          <button type="button" class="btn-close align-self-start" data-bs-dismiss="modal" aria-label="Close">
            <i class="icon-close fz-20"></i>
          </button>
        </div>
        <div class="modal-body p-30 rounded-4 rounded-top-0">
          <ul class="list-unstyled">
            <li class="row">
              <div class="col-auto">
                <i class="icon-phone fz-16 rounded-circle d-flex align-items-center justify-content-center"></i>
              </div>
              <div class="col">
                <h5 class="fz-14">Lelki Elsősegély Telefonszolgálatot:</h5>
                <p class="fz-13">116-123 (Éjjel-nappal, ingyenesen hívható.)</p>
              </div>
            </li>
          </ul>

          <h5 class="fz-14 mb-40">Vagy keresse fel az alábbi ellátóhelyek egyikét:</h5>

          <ul class="list-unstyled mb-0">
            <li class="row">
              <div class="col-auto">
                <i class="icon-pin fz-16 rounded-circle d-flex align-items-center justify-content-center"></i>
              </div>
              <div class="col">
                <h5 class="fz-14">Pszichiátriai és Pszichoterápiás Klinika Ambulancia</h5>
                <p class="fz-13">
                  Cím: Budapest, VIII.ker., Balassa utca 6.<br>
                  Tel.: 061-210-0330 / 51243 - munkaidőben
                </p>
              </div>
            </li>
            <li class="row">
              <div class="col-auto">
                <i class="icon-pin fz-16 rounded-circle d-flex align-items-center justify-content-center"></i>
              </div>
              <div class="col">
                <h5 class="fz-14">Erzsébet Kórház Krízis Intervenciós Osztály</h5>
                <p class="fz-13">
                  Cím: Budapest, VII.ker., Alsóerdősor utca 7.<br>
                  Tel.: 061-321-5215 - munkaidőben
                </p>
              </div>
            </li>
            <li class="row">
              <div class="col-auto">
                <i class="icon-pin fz-16 rounded-circle d-flex align-items-center justify-content-center"></i>
              </div>
              <div class="col">
                <h5 class="fz-14">Országos Orvosi Rehabilitációs Intézet Tündérhegyi Pszichoszomatikus és Pszichoterápiás-rehabilitációs Osztálya</h5>
                <p class="fz-13">
                  Cím: Budapest, XII. ker., Szanatórium utca 19.<br>
                  Felvételi diagnosztikus beszélgetés:<br>
                  szombat délelőttönként
                </p>
              </div>
            </li>
            <li class="row">
              <div class="col-auto">
                <i class="icon-pin fz-16 rounded-circle d-flex align-items-center justify-content-center"></i>
              </div>
              <div class="col">
                <h5 class="fz-14">A területileg illetékes pszichiátriai osztályon, vagy gondozóban</h5>
                <p class="fz-13">
                  Háziorvos ad erről bővebb tájékoztatást.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import DsButton from '~/components/DsButton';

  export default {
    name: 'DsSosModal',
    components: {
      DsButton
    }
  }
</script>

<style lang="scss" scoped>
  .modal {
    &-header {
      background: url('~/assets/images/sos_modal.jpg') no-repeat center / cover;
      min-height: 208px;
    }
    &-content {
      background-color: transparent;
    }
    &-body,
    &-footer {
      background-color: $white;
    }

    .icon-pin,
    .icon-phone {
      color: $ds-brown;
      width: 40px;
      height: 40px;
      background-color: $ds-light;
    }

    .btn-close {
      color: $white;
    }
  }
</style>
