<template>
  <div class="url-copy d-flex justify-content-center justify-content-md-start">
    <input ref="urlInput" v-on:focus="$event.target.select()" type="text" class="form-control white text-center text-md-start" value="http://www.dermasoul.hu">
    <div class="url-copy__button">
      <ds-button button-label="MÁSOLÁS" @click="urlCopy" />
    </div>
  </div>
</template>

<script>
  import DsButton from '~/components/DsButton';

  export default {
    name: 'DsUrlCopy',
    components: { DsButton },
    methods: {
      urlCopy() {
        this.$refs.urlInput.focus();
        navigator.clipboard.writeText(this.$refs.urlInput.value);
      }
    }
  }
</script>

<style lang="scss" scoped>
  .url-copy {
    @include media-breakpoint-down(xl) {
      flex-wrap: wrap;
    }
    .form-control {
      padding: 0.688rem 1rem;
      border-radius: 1.5rem;
      @include media-breakpoint-up(md) {
        max-width: 80%;
      }
    }
    &__button {
      position: relative;
      z-index: 1;
      margin-top: 0.625rem;

      .btn {
        min-width: 8rem;
      }

      @include media-breakpoint-up(xl) {
        margin-left: -7.5rem;
        margin-top: 0;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 30%;
          height: 100%;
          background-color: $white;
          z-index: -1;
        }
      }
    }
  }
</style>
