<template>
  <div class="profile">
    <ds-content-header>
      <template #title>
        Fiók beállítások
      </template>
    </ds-content-header>
    <div class="container pb-100">
      <div class="row">
        <div class="col-md-8 col-lg-7 col-xl-5">
          <form action="">
            <label class="form-group">
              <span class="label-text text-uppercase text-md-end mb-0 pe-md-3">Név:</span>
              <input type="text" class="form-control">
            </label>
            <label class="form-group">
              <span class="label-text text-uppercase text-md-end mb-0 pe-md-3">E-mail cím:</span>
              <input type="email" class="form-control">
            </label>
            <div class="mt-30">
              <ds-button button-label="Elmentem" />
            </div>
          </form>

          <h5 class="mt-5">Jelszó megváltoztatása</h5>

          <form action="">
            <label class="form-group">
              <span class="label-text text-uppercase text-md-end mb-0 pe-md-3">Új jelszó:</span>
              <input type="password" class="form-control">
            </label>
            <label class="form-group">
              <span class="label-text text-uppercase text-md-end mb-0 pe-md-3">Új jelszó még egyszer:</span>
              <input type="password" class="form-control">
            </label>
            <div class="mt-30">
              <ds-button button-label="Megváltoztatom" />
            </div>
          </form>

          <h5 class="mt-5">Számlázási adataim</h5>

          <form action="">
          <!--<div class="form-group d-flex fz-13 flex-row">
              <label class="radio-text-line">
                <input type="radio" name="type" value="1" checked>
                <span>Magánszemély</span>
              </label>
              <span class="mx-1 mx-md-3">|</span>
              <label class="radio-text-line">
                <input type="radio" name="type" value="2">
                <span>Cég</span>
              </label>
              <span class="mx-1 mx-md-3">|</span>
              <label class="radio-text-line">
                <input type="radio" name="type" value="3">
                <span>Állami vagy magán klinika</span>
              </label>
            </div>-->
            <label class="form-group">
              <span class="label-text text-uppercase text-md-end mb-0 pe-md-3">Név:</span>
              <input type="text" class="form-control">
            </label>
            <label class="form-group">
              <span class="label-text text-uppercase text-md-end mb-0 pe-md-3">Irányítószám, város:</span>
              <input type="text" class="form-control">
            </label>
            <label class="form-group">
              <span class="label-text text-uppercase text-md-end mb-0 pe-md-3">Utca, házszám:</span>
              <input type="text" class="form-control">
            </label>
            <label class="form-group">
              <span class="label-text text-uppercase text-md-end mb-0 pe-md-3">Email cím:</span>
              <input type="email" class="form-control">
            </label>
            <div class="mt-30">
              <ds-button button-label="Megváltoztatom" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import DsContentHeader from "~/components/StaticContents/DsContentHeader";

  export default {
    name: 'Profile',
    components: {
      DsContentHeader
    }
  }
</script>

<style lang="scss" scoped>
  .profile {
    .radio-text-line {
      input {
        display: none;
        & + span {
          color: $primary;
          text-decoration: underline;
          cursor: pointer;
        }
        &:checked + span {
          color: $default;
          text-decoration: none;
          cursor: auto;
        }
      }
    }
  }
</style>
