<template>
  <div class="d-flex w-100 h-100 flex-column">
    <ds-header/>
    <Nuxt/>
    <ds-footer/>

    <ds-sos-modal/>
    <login-modal/>
    <register-modal/>
    <lost-password-modal/>
    <ds-custom-amount/>
    <cookie/>
  </div>
</template>

<script>
import DsHeader from '~/components/Header/Header';
import DsFooter from '~/components/Footer/Footer';
import DsSosModal from '~/components/Footer/SosModal';
import LoginModal from '~/components/Login/LoginModal';
import RegisterModal from '~/components/Register/RegisterModal';
import LostPasswordModal from '~/components/Login/LostPasswordModal';
import Cookie from '~/components/Cookie/Cookie';
import DsCustomAmount from '~/components/Subscribe/CustomPayment';

export default {
  components: {
    DsCustomAmount,
    Cookie,
    LostPasswordModal,
    RegisterModal,
    LoginModal,
    DsFooter,
    DsHeader,
    DsSosModal
  }
};
</script>
