<template>
  <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content rounded-4">
        <div class="modal-header p-30 rounded-4 rounded-bottom-0">
          <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-md-between w-100">
            <h2 class="fz-24 modal-title mb-10" id="registerModalLabel">Új fiók létrehozása</h2>
            <p class="font-weight-black mb-0 p-md-3"><a href="" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#loginModal">Bejelentkezés</a></p>
          </div>
          <button type="button" class="btn-close align-self-start" data-bs-dismiss="modal" aria-label="Close">
            <i class="icon-close fz-20"></i>
          </button>
        </div>
        <div class="modal-body p-30 pt-0">
          <p>Az első témakör ingyenes eléréséhez, a teljes anyag előfizetéséhez és munkánk támogatásához is saját fiókra van szüksége. A fiók létrehozásához, kérjük, adja meg e-mail címét és válasszon jelszót!</p>
          <form action="">
            <label class="form-group">
              <span class="label-text text-uppercase">E-mail cím:</span>
              <input type="email" class="form-control">
            </label>
            <label class="form-group">
              <span class="label-text text-uppercase">Jelszó:</span>
              <input type="password" class="form-control">
            </label>
            <label class="form-group">
              <span class="label-text text-uppercase">Jelszó még egyszer:</span>
              <input type="password" class="form-control">
            </label>
            <div class="form-group form-check mt-30">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
              <label class="form-check-label" for="flexCheckDefault1">
                <span class="h5 fz-14 mb-1 d-block">Elfogadom az <a href="" target="_blank">adatkezelési tájékoztatót</a></span>
                Az adatait minden körülmények között bizalmasan kezeljük. Harmadik félnek nem adjuk ki és csak a szükséges kommunikációra használjuk.
              </label>
            </div>
            <div class="form-group form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
              <label class="form-check-label" for="flexCheckDefault2">
                <span class="h5 fz-14 mb-1">Feliratozás hírlevélre</span>
                Szeretnék a témához szorosan kapcsolódó ötleteket, cikkeket, újdonságokat olvasni a hírlev
              </label>
            </div>
            <div class="d-flex mt-30 justify-content-between">
              <ds-button theme="primary-border" button-label="Mégsem" data-bs-dismiss="modal" aria-label="Close" />
              <div data-bs-dismiss="modal"><ds-button :href="'/topics'" router-link button-label="Létrehozom a fiókom" /></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import DsButton from '~/components/DsButton';

  export default {
    name: 'RegisterModal',
    components: {
      DsButton
    }
  }
</script>

<style lang="scss" scoped>
  .modal {
    .label-text {
      min-width: 6.25rem;
    }
    .lst-pwd {
      white-space: nowrap;
    }
    a {
      color: $primary;
      &:hover {
        color: $secondary;
      }
    }
    .form-group {
      a {
        color: $default;
      }
    }
  }
</style>
