<template>
  <div>
    <div id="dermasoulrol" class="scrollSpyHome main__header position-relative">
      <div class="container position-relative">
        <h2 class="h1 mb-0">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur cum dolor iure magnam molestias perspiciatis quasi rerum sapiente velit.
        </h2>
      </div>
    </div>
    <div class="main__why py-5">
      <div class="container">
        <h2 class="h6 text-uppercase mb-4 font-montserrat">Lorem ipsum dolor?</h2>
        <div class="row justify-content-between">
          <div class="col-md-6">
            <h3 class="mb-4 mb-md-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <p>Aspernatur cum dolor iure magnam molestias perspiciatis quasi rerum sapiente velit. Beatae, consequatur, magnam? Alias, consequuntur cupiditate dolorem eos inventore minus recusandae. Aspernatur cum dolor iure magnam molestias perspiciatis quasi rerum sapiente velit. Beatae, consequatur, magnam? Alias, consequuntur cupiditate dolorem eos inventore minus recusandae.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur dolorem fugit ipsam itaque labore molestiae molestias pariatur quod saepe tempora. Commodi dicta eligendi nisi odit quas quis tempore veniam vitae?</p>
          </div>
          <div class="col-md-5">
            <div class="ratio ratio-16x9 overflow-hidden rounded-4 mb-4">
              <iframe src="https://www.youtube.com/embed/IOC_JZG_Fz4?rel=0" title="YouTube video" allowfullscreen></iframe>
            </div>
            <h6 class="text-uppercase mb-0 font-montserrat mb-1">További szakember-páciens beszélgetések:</h6>
            <a href="https://www.youtube.com/channel/UC2cTFRP5RTOjwcHCNeCrUhQ" target="_blank" class="font-weight-black">Dermasoul Youtube</a>
          </div>
        </div>
      </div>
    </div>
    <div class="main__results text-white py-5">
      <div class="container">
        <h2 class="h6 text-uppercase mb-4 text-white font-montserrat">Kutatási eredmények:</h2>
        <h3 class="mb-4 mb-md-5 text-white">Architecto error exercitationem iusto, magnam maiores maxime molestiae nobis, omnis placeat possimus quaerat quas!</h3>
        <div class="row mb-3 mb-md-5">
          <div class="col-lg-4 mb-3">
            <div class="main__results--box h-100">
              <div class="row align-items-center mb-3">
                <div class="col-auto">
                  <img src="~/assets/images/pie-1.svg" alt="">
                </div>
                <div class="col">
                  <h3 class="mb-0 text-white">85%</h3>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam animi cumque dolore dolores facilis illum laboriosam libero magnam molestiae qui, quisquam totam veniam? Corporis est neque quidem sed unde?</p>
            </div>
          </div>
          <div class="col-lg-4 mb-3">
            <div class="main__results--box h-100">
              <div class="row align-items-center mb-3">
                <div class="col-auto">
                  <img src="~/assets/images/pie-2.svg" alt="">
                </div>
                <div class="col">
                  <h3 class="mb-0 text-white">30%</h3>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam animi cumque dolore dolores facilis illum laboriosam libero magnam molestiae qui, quisquam totam veniam? Corporis est neque quidem sed unde?</p>
            </div>
          </div>
          <div class="col-lg-4 mb-3">
            <div class="main__results--box h-100">
              <div class="row align-items-center mb-3">
                <div class="col-auto">
                  <img src="~/assets/images/pie-3.svg" alt="">
                </div>
                <div class="col">
                  <h3 class="mb-0 text-white">17%</h3>
                </div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam animi cumque dolore dolores facilis illum laboriosam libero magnam molestiae qui, quisquam totam veniam? Corporis est neque quidem sed unde?</p>
            </div>
          </div>
        </div>

        <h6 class="text-uppercase mb-0 text-white font-montserrat mb-1">Szakirodalmi háttér:</h6>
        <a href="" class="font-weight-black">Skin and Psyché, K. Nordlind, A. Z. – Janowska, 2016</a>
      </div>
    </div>
    <div class="main__info-block overflow-hidden position-relative">
      <parallax :image="require('@/assets/images/main__info-block.jpg')" :parallax-ratio="2.5">
        <div class="container text-center py-5">
          <h2 class="h5 mb-4 lh-26">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aut dolorem ipsa natus sapiente? Aliquid at cum doloribus expedita maxime nam nostrum placeat quas quis reiciendis reprehenderit soluta, vel voluptatem!</h2>
          <ds-button button-label="Kitöltöm a kérdőívet" />
        </div>
      </parallax>
    </div>
    <div class="main__advantages pt-5 pb-3 bg-white overflow-hidden">
      <div class="container">
        <h2 class="h6 text-uppercase mb-4 mb-md-5 font-montserrat">A DERMASOUL ELŐNYEI:</h2>
        <div class="main__advantages--row row flex-wrap">
          <div class="main__advantages--item col-12 col-md-6 mb-4 mb-md-6">
            <div class="row align-items-center">
              <div class="col-12 col-lg-auto">
                <img src="~/assets/images/main__advantages-1.png" alt="" class="main__advantages--image img-fluid rounded-circle mb-3 mb-lg-0">
              </div>
              <div class="col">
                <h5 class="lh-26">Megfizethető ár</h5>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequuntur eveniet laboriosam maiores nesciunt nihil odit repellat similique tenetur vitae! Consequuntur cum dolore eaque impedit iusto minus nemo perspiciatis voluptates.</p>
              </div>
            </div>
          </div>
          <div class="main__advantages--item col-12 col-md-6 mb-4 mb-md-6">
            <div class="row align-items-center">
              <div class="col-12 col-lg-auto">
                <img src="~/assets/images/main__advantages-2.png" alt="" class="main__advantages--image img-fluid rounded-circle mb-3 mb-lg-0">
              </div>
              <div class="col">
                <h5 class="lh-26">Bármikor, bárhonnan, akár otthona kényelméből </h5>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, praesentium vel. Dolorem illum voluptatibus voluptatum. A accusamus accusantium aperiam aut delectus doloremque ipsa, ipsum placeat praesentium quis repellendus soluta vel.</p>
              </div>
            </div>
          </div>
          <div class="main__advantages--item col-12 col-md-6 mb-4 mb-md-6">
            <div class="row align-items-center">
              <div class="col-12 col-lg-auto">
                <img src="~/assets/images/main__advantages-3.png" alt="" class="main__advantages--image img-fluid rounded-circle mb-3 mb-lg-0">
              </div>
              <div class="col">
                <h5 class="lh-26">Professzionális útmutatás az önálló haladáshoz</h5>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolorem dolorum expedita fugit harum laborum nisi officiis saepe sunt. A aliquam, assumenda cum exercitationem molestias porro reprehenderit soluta tenetur voluptatem.</p>
              </div>
            </div>
          </div>
          <div class="main__advantages--item col-12 col-md-6 mb-4 mb-md-6">
            <div class="row align-items-center">
              <div class="col-12 col-lg-auto">
                <img src="~/assets/images/main__advantages-4.png" alt="" class="main__advantages--image img-fluid rounded-circle mb-3 mb-lg-0">
              </div>
              <div class="col">
                <h5 class="lh-26">Tegyen önmagáért!</h5>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores atque dicta distinctio, doloremque expedita iste minus, modi natus neque pariatur, quo quos sequi soluta sunt tempore tenetur totam veritatis voluptate!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="hogyan_mukodik" class="scrollSpyHome main__works py-5">
      <div class="container">
        <h2 class="h6 text-uppercase mb-4 text-white font-montserrat">Hogyan működik?</h2>
        <h3 class="mb-4 mb-md-5 text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </h3>
        <div class="row mb-4 mb-md-5 text-white">
          <div class="col-lg-6">
            <ul class="main__works--list list-unstyled mb-0 font-weight-black">
              <li class="d-flex align-items-center"><i class="icon-check fz-24 me-3"></i>10 Lorem ipsum dolor sit amet,,</li>
              <li class="d-flex align-items-center"><i class="icon-check fz-24 me-3"></i>55 consectetur adipisicing elit,</li>
              <li class="d-flex align-items-center"><i class="icon-check fz-24 me-3"></i>aut cum expedita molestias ,</li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul class="main__works--list list-unstyled mb-0 font-weight-black">
              <li class="d-flex align-items-center"><i class="icon-check fz-24 me-3"></i>Lorem ipsum dolor sit amet, consectetur,</li>
              <li class="d-flex align-items-center"><i class="icon-check fz-24 me-3"></i>adipisicing elit adipisci animi aperiam ,</li>
              <li class="d-flex align-items-center"><i class="icon-check fz-24 me-3"></i>commodi consequuntur distinctio dolore et eveniet.</li>
            </ul>
          </div>
        </div>

        <div class="main__works--themes pt-4 position-relative">
          <h6 class="text-uppercase mb-4 mb-md-5 text-white font-montserrat">Témakörök</h6>

          <div class="main__works--carousel__outer">
            <hooper ref="carousel" class="main__works--carousel" :settings="hooperSettings">
              <slide v-for="(item, index) in topics" :key="index">
                <div class="main__works--carousel__item h-100 rounded-4 bg-white overflow-hidden">
                  <figure class="mb-0">
                    <img :src="require(`~/assets/images/${item.image}`)" alt="" class="main__works--carousel__image img-fluid w-100">
                  </figure>
                  <div class="p-3">
                    <h5 class="lh-26">{{ item.title }}</h5>
                    <p>{{ item.description }}</p>
                  </div>
                </div>
              </slide>

              <hooper-pagination slot="hooper-addons" />
              <hooper-navigation slot="hooper-addons" />
            </hooper>
          </div>
        </div>
      </div>
    </div>
    <div id="mennyibe_kerul" class="scrollSpyHome main__cost">
      <parallax :image="require('@/assets/images/main__cost.jpg')" bg-height="100vh" :parallax-ratio="0.4" :animation-ratio="2" bg-position="right">
        <div class="container position-relative py-5">
          <h2 class="h6 text-uppercase mb-4 text-white font-montserrat">Mennyibe kerül?</h2>
          <h3 class="mb-4 text-white">Hozzon létre saját fiókot néhány perc alatt és nézzen körül, vagy kezdjen bele az ingyenesen elérhető első témakörbe!</h3>
          <ds-button size="lg" button-label="Létrehozom a fiókomat" data-bs-toggle="modal" :data-bs-target="!registered ? '#registerModal' : '#loginModal'" />
        </div>
      </parallax>
    </div>
    <div class="main__cost--list py-3 py-md-5 overflow-hidden">
      <div class="container">
        <div class="row gx-md-6">
          <div class="col-lg-4 py-4">
            <div class="row h-100">
              <div class="col-12 pb-md-4">
                <img src="~/assets/images/icon_elsotemakor.svg" alt="" class="fz-32 mb-3">
                <h3 class="h5 mb-3 lh-26">Próbálja ki a Teszt témakört a fiók létrehozás után ingyenesen.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut deleniti id provident quas saepe similique suscipit voluptate. Ab ad, adipisci aliquam aliquid amet, aspernatur dolorum est exercitationem expedita officia, velit?</p>
              </div>
              <div class="col-12 mt-auto">
                <ds-button theme="primary-border" button-label="Kipróbálom" data-bs-toggle="modal" :data-bs-target="!registered ? '#registerModal' : '#loginModal'" />
              </div>
            </div>
          </div>
          <div class="col-lg-4 py-4">
            <div class="row h-100">
              <div class="col-12 pb-md-4">
                <img src="~/assets/images/icon_tovabbitemakorok.svg" alt="" class="fz-32 mb-3">
                <h3 class="h5 mb-3 lh-26">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                <p>Delectus eveniet inventore ipsa molestiae natus necessitatibus odio officia possimus, quas sapiente. Ducimus et facilis perspiciatis quidem reiciendis tempora temporibus voluptas voluptatum.</p>
              </div>
              <div class="col-12 mt-auto">
                <ds-button theme="primary-border" button-label="Előfizetek" data-bs-toggle="modal" :data-bs-target="!registered ? '#registerModal' : '#loginModal'" />
              </div>
            </div>
          </div>
          <div class="col-lg-4 py-4">
            <div class="row h-100">
              <div class="col-12 pb-md-4">
                <img src="~/assets/images/icon_tamogatas.svg" alt="" class="fz-32 mb-3">
                <h3 class="h5 mb-3 lh-26">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                <p>A alias architecto assumenda atque deleniti dolor odit quis quisquam vero voluptatem! Amet autem commodi corporis maxime odit saepe ullam vel voluptatum.</p>
              </div>
              <div class="col-12 mt-auto">
                <ds-button theme="primary-border" button-label="Támogatok" data-bs-toggle="modal" :data-bs-target="!registered ? '#registerModal' : '#loginModal'" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main__info-block overflow-hidden position-relative">
      <parallax :image="require('@/assets/images/main__info-block.jpg')" bg-height="1330px">
        <div class="container text-center py-5">
          <h2 class="h5 mb-4 lh-26">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur beatae corporis cumque delectus earum ex facere, fuga id impedit inventore iste iure, iusto nisi odio perspiciatis repellendus tenetur totam.</h2>
          <ds-button button-label="Tovább a facebookra" />
        </div>
      </parallax>
    </div>
    <div class="main__partners overflow-hidden py-5">
      <div class="container text-center">
        <h2 class="h3 mb-4">Partnereink</h2>
        <p>Ad animi aut cum dolorum earum eos error facere illo ipsam obcaecati perspiciatis placeat.</p>

        <div class="row gy-3 gx-5 align-items-center justify-content-center flex-wrap mt-md-4">
          <div class="col-auto">
            <img src="~/assets/images/DS_Partner_LOGO_01_300x300px.jpg" alt="" width="150">
          </div>
          <div class="col-auto">
            <img src="~/assets/images/DS_Partner_LOGO_02_300x300px.jpg" alt="" width="150">
          </div>
          <div class="col-auto">
            <img src="~/assets/images/DS_Partner_LOGO_03_300x300px.jpg" alt="" width="150">
          </div>
          <div class="col-auto">
            <img src="~/assets/images/DS_Partner_LOGO_04_300x300px.jpg" alt="" width="150">
          </div>
          <div class="w-100"></div>
          <div class="col-auto">
            <img src="~/assets/images/DS_Partner_LOGO_05_700x150px.jpg" alt="" width="350">
          </div>
        </div>
      </div>
    </div>
    <div id="gyakori_kerdesek" class="scrollSpyHome main__faq py-5">
      <div class="container px-lg-6">
        <h2 class="mb-4 text-center mb-4 pb-2">Gyakori kérdések</h2>

        <div ref="accordion" class="accordion" id="faqAccordion">
          <div ref="accordion-item-1" class="accordion-item mb-1">
            <h2 class="accordion-header" id="heading0">
              <button class="accordion-button d-flex justify-content-between font-weight-black collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse0" aria-expanded="true" aria-controls="collapse0">
                Hogyan működik, mit kell tudnom a használatról?
                <i class="icon-chevron-up fz-16 ms-2"></i>
              </button>
            </h2>
            <div id="collapse0" class="accordion-collapse collapse" aria-labelledby="heading0" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo. Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae, interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras at orci vitae dolor facilisis convallis.</p>
                <p>Sed eleifend, sem interdum accumsan facilisis, urna ante rutrum elit, id volutpat ligula mauris pellentesque ex. Aliquam interdum dolor nec felis egestas, ut consectetur sem viverra. Sed ex lorem, eleifend vel mattis quis, gravida a sapien. Vivamus tristique arcu quis dapibus pellentesque. Cras egestas elit at dolor posuere, eget scelerisque sem euismod. Maecenas sed enim ac nisi venenatis porta. Suspendisse elementum libero sollicitudin, maximus risus nec, euismod turpis. Duis eleifend sit amet enim pretium cursus. Pellentesque id mauris a risus tristique eleifend. Aliquam consequat arcu quis sagittis tincidunt. Nulla arcu magna, fringilla non tempor vel, rutrum ac massa.</p>
                <p>Proin non efficitur nunc, eu viverra massa. Praesent sed nisl id dolor mattis dapibus. Proin tristique id ligula id placerat. Donec varius odio in nulla blandit tincidunt id at nisi. Curabitur risus enim, bibendum porttitor volutpat sed, hendrerit id mauris. Suspendisse laoreet scelerisque sollicitudin. Praesent a leo est. Aenean sodales leo elit, id mollis lorem dictum quis. Cras ullamcorper varius eros vitae mollis. Phasellus ultricies diam non neque malesuada, ut condimentum nibh luctus.</p>
              </div>
            </div>
          </div>
          <div ref="accordion-item-1" class="accordion-item mb-1">
            <h2 class="accordion-header" id="heading1">
              <button class="accordion-button d-flex justify-content-between font-weight-black collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                Milyen tényezők befolyásolják leginkább a bőrproblémával élők életminőségét?
                <i class="icon-chevron-up fz-16 ms-2"></i>
              </button>
            </h2>
            <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo. Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae, interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras at orci vitae dolor facilisis convallis.</p>
                <p>Sed eleifend, sem interdum accumsan facilisis, urna ante rutrum elit, id volutpat ligula mauris pellentesque ex. Aliquam interdum dolor nec felis egestas, ut consectetur sem viverra. Sed ex lorem, eleifend vel mattis quis, gravida a sapien. Vivamus tristique arcu quis dapibus pellentesque. Cras egestas elit at dolor posuere, eget scelerisque sem euismod. Maecenas sed enim ac nisi venenatis porta. Suspendisse elementum libero sollicitudin, maximus risus nec, euismod turpis. Duis eleifend sit amet enim pretium cursus. Pellentesque id mauris a risus tristique eleifend. Aliquam consequat arcu quis sagittis tincidunt. Nulla arcu magna, fringilla non tempor vel, rutrum ac massa.</p>
                <p>Proin non efficitur nunc, eu viverra massa. Praesent sed nisl id dolor mattis dapibus. Proin tristique id ligula id placerat. Donec varius odio in nulla blandit tincidunt id at nisi. Curabitur risus enim, bibendum porttitor volutpat sed, hendrerit id mauris. Suspendisse laoreet scelerisque sollicitudin. Praesent a leo est. Aenean sodales leo elit, id mollis lorem dictum quis. Cras ullamcorper varius eros vitae mollis. Phasellus ultricies diam non neque malesuada, ut condimentum nibh luctus.</p>
              </div>
            </div>
          </div>
          <div ref="accordion-item-2" class="accordion-item mb-1">
            <h2 class="accordion-header" id="heading2">
              <button class="accordion-button d-flex justify-content-between font-weight-black collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                Milyen jellegű stresszhatások vagy megterhelő élethelyzetek hatnak leginkább a bőrtünetek kiújulására?
                <i class="icon-chevron-up fz-16 ms-2"></i>
              </button>
            </h2>
            <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo. Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae, interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras at orci vitae dolor facilisis convallis.</p>
                <p>Sed eleifend, sem interdum accumsan facilisis, urna ante rutrum elit, id volutpat ligula mauris pellentesque ex. Aliquam interdum dolor nec felis egestas, ut consectetur sem viverra. Sed ex lorem, eleifend vel mattis quis, gravida a sapien. Vivamus tristique arcu quis dapibus pellentesque. Cras egestas elit at dolor posuere, eget scelerisque sem euismod. Maecenas sed enim ac nisi venenatis porta. Suspendisse elementum libero sollicitudin, maximus risus nec, euismod turpis. Duis eleifend sit amet enim pretium cursus. Pellentesque id mauris a risus tristique eleifend. Aliquam consequat arcu quis sagittis tincidunt. Nulla arcu magna, fringilla non tempor vel, rutrum ac massa.</p>
                <p>Proin non efficitur nunc, eu viverra massa. Praesent sed nisl id dolor mattis dapibus. Proin tristique id ligula id placerat. Donec varius odio in nulla blandit tincidunt id at nisi. Curabitur risus enim, bibendum porttitor volutpat sed, hendrerit id mauris. Suspendisse laoreet scelerisque sollicitudin. Praesent a leo est. Aenean sodales leo elit, id mollis lorem dictum quis. Cras ullamcorper varius eros vitae mollis. Phasellus ultricies diam non neque malesuada, ut condimentum nibh luctus.</p>
              </div>
            </div>
          </div>
          <div ref="accordion-item-3" class="accordion-item mb-1">
            <h2 class="accordion-header" id="heading3">
              <button class="accordion-button d-flex justify-content-between font-weight-black collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                Honnan tudom, hogy a DermaSoul majd segít, hiszen már annyi mindent kipróbáltam?
                <i class="icon-chevron-up fz-16 ms-2"></i>
              </button>
            </h2>
            <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo. Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae, interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras at orci vitae dolor facilisis convallis.</p>
                <p>Sed eleifend, sem interdum accumsan facilisis, urna ante rutrum elit, id volutpat ligula mauris pellentesque ex. Aliquam interdum dolor nec felis egestas, ut consectetur sem viverra. Sed ex lorem, eleifend vel mattis quis, gravida a sapien. Vivamus tristique arcu quis dapibus pellentesque. Cras egestas elit at dolor posuere, eget scelerisque sem euismod. Maecenas sed enim ac nisi venenatis porta. Suspendisse elementum libero sollicitudin, maximus risus nec, euismod turpis. Duis eleifend sit amet enim pretium cursus. Pellentesque id mauris a risus tristique eleifend. Aliquam consequat arcu quis sagittis tincidunt. Nulla arcu magna, fringilla non tempor vel, rutrum ac massa.</p>
                <p>Proin non efficitur nunc, eu viverra massa. Praesent sed nisl id dolor mattis dapibus. Proin tristique id ligula id placerat. Donec varius odio in nulla blandit tincidunt id at nisi. Curabitur risus enim, bibendum porttitor volutpat sed, hendrerit id mauris. Suspendisse laoreet scelerisque sollicitudin. Praesent a leo est. Aenean sodales leo elit, id mollis lorem dictum quis. Cras ullamcorper varius eros vitae mollis. Phasellus ultricies diam non neque malesuada, ut condimentum nibh luctus.</p>
              </div>
            </div>
          </div>
          <div ref="accordion-item-4" class="accordion-item mb-1">
            <h2 class="accordion-header" id="heading4">
              <button class="accordion-button d-flex justify-content-between font-weight-black collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                Hogyan segíthet nekem az Önsegítő Eszköz?
                <i class="icon-chevron-up fz-16 ms-2"></i>
              </button>
            </h2>
            <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo. Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae, interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras at orci vitae dolor facilisis convallis.</p>
                <p>Sed eleifend, sem interdum accumsan facilisis, urna ante rutrum elit, id volutpat ligula mauris pellentesque ex. Aliquam interdum dolor nec felis egestas, ut consectetur sem viverra. Sed ex lorem, eleifend vel mattis quis, gravida a sapien. Vivamus tristique arcu quis dapibus pellentesque. Cras egestas elit at dolor posuere, eget scelerisque sem euismod. Maecenas sed enim ac nisi venenatis porta. Suspendisse elementum libero sollicitudin, maximus risus nec, euismod turpis. Duis eleifend sit amet enim pretium cursus. Pellentesque id mauris a risus tristique eleifend. Aliquam consequat arcu quis sagittis tincidunt. Nulla arcu magna, fringilla non tempor vel, rutrum ac massa.</p>
                <p>Proin non efficitur nunc, eu viverra massa. Praesent sed nisl id dolor mattis dapibus. Proin tristique id ligula id placerat. Donec varius odio in nulla blandit tincidunt id at nisi. Curabitur risus enim, bibendum porttitor volutpat sed, hendrerit id mauris. Suspendisse laoreet scelerisque sollicitudin. Praesent a leo est. Aenean sodales leo elit, id mollis lorem dictum quis. Cras ullamcorper varius eros vitae mollis. Phasellus ultricies diam non neque malesuada, ut condimentum nibh luctus.</p>
              </div>
            </div>
          </div>
          <div ref="accordion-item-4" class="accordion-item mb-1">
            <h2 class="accordion-header" id="heading14">
              <button class="accordion-button d-flex justify-content-between font-weight-black collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
                Az Önsegítő Eszköz 10 témaköréről
                <i class="icon-chevron-up fz-16 ms-2"></i>
              </button>
            </h2>
            <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading14" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo. Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae, interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras at orci vitae dolor facilisis convallis.</p>
                <p>Sed eleifend, sem interdum accumsan facilisis, urna ante rutrum elit, id volutpat ligula mauris pellentesque ex. Aliquam interdum dolor nec felis egestas, ut consectetur sem viverra. Sed ex lorem, eleifend vel mattis quis, gravida a sapien. Vivamus tristique arcu quis dapibus pellentesque. Cras egestas elit at dolor posuere, eget scelerisque sem euismod. Maecenas sed enim ac nisi venenatis porta. Suspendisse elementum libero sollicitudin, maximus risus nec, euismod turpis. Duis eleifend sit amet enim pretium cursus. Pellentesque id mauris a risus tristique eleifend. Aliquam consequat arcu quis sagittis tincidunt. Nulla arcu magna, fringilla non tempor vel, rutrum ac massa.</p>
                <p>Proin non efficitur nunc, eu viverra massa. Praesent sed nisl id dolor mattis dapibus. Proin tristique id ligula id placerat. Donec varius odio in nulla blandit tincidunt id at nisi. Curabitur risus enim, bibendum porttitor volutpat sed, hendrerit id mauris. Suspendisse laoreet scelerisque sollicitudin. Praesent a leo est. Aenean sodales leo elit, id mollis lorem dictum quis. Cras ullamcorper varius eros vitae mollis. Phasellus ultricies diam non neque malesuada, ut condimentum nibh luctus.</p>
              </div>
            </div>
          </div>
          <div ref="accordion-item-4" class="accordion-item mb-1">
            <h2 class="accordion-header" id="heading15">
              <button class="accordion-button d-flex justify-content-between font-weight-black collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
                Hogyan érdemes a témakörökben haladnom? Mit kell tudnom a 10 hetes előfizetésről?
                <i class="icon-chevron-up fz-16 ms-2"></i>
              </button>
            </h2>
            <div id="collapse15" class="accordion-collapse collapse" aria-labelledby="heading15" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo. Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae, interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras at orci vitae dolor facilisis convallis.</p>
                <p>Sed eleifend, sem interdum accumsan facilisis, urna ante rutrum elit, id volutpat ligula mauris pellentesque ex. Aliquam interdum dolor nec felis egestas, ut consectetur sem viverra. Sed ex lorem, eleifend vel mattis quis, gravida a sapien. Vivamus tristique arcu quis dapibus pellentesque. Cras egestas elit at dolor posuere, eget scelerisque sem euismod. Maecenas sed enim ac nisi venenatis porta. Suspendisse elementum libero sollicitudin, maximus risus nec, euismod turpis. Duis eleifend sit amet enim pretium cursus. Pellentesque id mauris a risus tristique eleifend. Aliquam consequat arcu quis sagittis tincidunt. Nulla arcu magna, fringilla non tempor vel, rutrum ac massa.</p>
                <p>Proin non efficitur nunc, eu viverra massa. Praesent sed nisl id dolor mattis dapibus. Proin tristique id ligula id placerat. Donec varius odio in nulla blandit tincidunt id at nisi. Curabitur risus enim, bibendum porttitor volutpat sed, hendrerit id mauris. Suspendisse laoreet scelerisque sollicitudin. Praesent a leo est. Aenean sodales leo elit, id mollis lorem dictum quis. Cras ullamcorper varius eros vitae mollis. Phasellus ultricies diam non neque malesuada, ut condimentum nibh luctus.</p>
              </div>
            </div>
          </div>
          <div ref="accordion-item-5" class="accordion-item mb-1">
            <h2 class="accordion-header" id="heading5">
              <button class="accordion-button d-flex justify-content-between font-weight-black collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                Honnan tudom, hogy pszichés, illetve stresszfaktorok befolyásolják bőrproblémám felerősödését?
                <i class="icon-chevron-up fz-16 ms-2"></i>
              </button>
            </h2>
            <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo. Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae, interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras at orci vitae dolor facilisis convallis.</p>
                <p>Sed eleifend, sem interdum accumsan facilisis, urna ante rutrum elit, id volutpat ligula mauris pellentesque ex. Aliquam interdum dolor nec felis egestas, ut consectetur sem viverra. Sed ex lorem, eleifend vel mattis quis, gravida a sapien. Vivamus tristique arcu quis dapibus pellentesque. Cras egestas elit at dolor posuere, eget scelerisque sem euismod. Maecenas sed enim ac nisi venenatis porta. Suspendisse elementum libero sollicitudin, maximus risus nec, euismod turpis. Duis eleifend sit amet enim pretium cursus. Pellentesque id mauris a risus tristique eleifend. Aliquam consequat arcu quis sagittis tincidunt. Nulla arcu magna, fringilla non tempor vel, rutrum ac massa.</p>
                <p>Proin non efficitur nunc, eu viverra massa. Praesent sed nisl id dolor mattis dapibus. Proin tristique id ligula id placerat. Donec varius odio in nulla blandit tincidunt id at nisi. Curabitur risus enim, bibendum porttitor volutpat sed, hendrerit id mauris. Suspendisse laoreet scelerisque sollicitudin. Praesent a leo est. Aenean sodales leo elit, id mollis lorem dictum quis. Cras ullamcorper varius eros vitae mollis. Phasellus ultricies diam non neque malesuada, ut condimentum nibh luctus.</p>
              </div>
            </div>
          </div>
          <div ref="accordion-item-6" class="accordion-item mb-1">
            <h2 class="accordion-header" id="heading6">
              <button class="accordion-button d-flex justify-content-between font-weight-black collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                Mi az a pszichodermatológia?
                <i class="icon-chevron-up fz-16 ms-2"></i>
              </button>
            </h2>
            <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo. Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae, interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras at orci vitae dolor facilisis convallis.</p>
                <p>Sed eleifend, sem interdum accumsan facilisis, urna ante rutrum elit, id volutpat ligula mauris pellentesque ex. Aliquam interdum dolor nec felis egestas, ut consectetur sem viverra. Sed ex lorem, eleifend vel mattis quis, gravida a sapien. Vivamus tristique arcu quis dapibus pellentesque. Cras egestas elit at dolor posuere, eget scelerisque sem euismod. Maecenas sed enim ac nisi venenatis porta. Suspendisse elementum libero sollicitudin, maximus risus nec, euismod turpis. Duis eleifend sit amet enim pretium cursus. Pellentesque id mauris a risus tristique eleifend. Aliquam consequat arcu quis sagittis tincidunt. Nulla arcu magna, fringilla non tempor vel, rutrum ac massa.</p>
                <p>Proin non efficitur nunc, eu viverra massa. Praesent sed nisl id dolor mattis dapibus. Proin tristique id ligula id placerat. Donec varius odio in nulla blandit tincidunt id at nisi. Curabitur risus enim, bibendum porttitor volutpat sed, hendrerit id mauris. Suspendisse laoreet scelerisque sollicitudin. Praesent a leo est. Aenean sodales leo elit, id mollis lorem dictum quis. Cras ullamcorper varius eros vitae mollis. Phasellus ultricies diam non neque malesuada, ut condimentum nibh luctus.</p>
              </div>
            </div>
          </div>
          <div ref="accordion-item-7" class="accordion-item mb-1">
            <h2 class="accordion-header" id="heading7">
              <button class="accordion-button d-flex justify-content-between font-weight-black collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                Orvosi kivizsgáláson és kezelésen is részt kell-e vennem, ha a DermaSoul Önsegítő Eszközét akarom használni?
                <i class="icon-chevron-up fz-16 ms-2"></i>
              </button>
            </h2>
            <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo. Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae, interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras at orci vitae dolor facilisis convallis.</p>
                <p>Sed eleifend, sem interdum accumsan facilisis, urna ante rutrum elit, id volutpat ligula mauris pellentesque ex. Aliquam interdum dolor nec felis egestas, ut consectetur sem viverra. Sed ex lorem, eleifend vel mattis quis, gravida a sapien. Vivamus tristique arcu quis dapibus pellentesque. Cras egestas elit at dolor posuere, eget scelerisque sem euismod. Maecenas sed enim ac nisi venenatis porta. Suspendisse elementum libero sollicitudin, maximus risus nec, euismod turpis. Duis eleifend sit amet enim pretium cursus. Pellentesque id mauris a risus tristique eleifend. Aliquam consequat arcu quis sagittis tincidunt. Nulla arcu magna, fringilla non tempor vel, rutrum ac massa.</p>
                <p>Proin non efficitur nunc, eu viverra massa. Praesent sed nisl id dolor mattis dapibus. Proin tristique id ligula id placerat. Donec varius odio in nulla blandit tincidunt id at nisi. Curabitur risus enim, bibendum porttitor volutpat sed, hendrerit id mauris. Suspendisse laoreet scelerisque sollicitudin. Praesent a leo est. Aenean sodales leo elit, id mollis lorem dictum quis. Cras ullamcorper varius eros vitae mollis. Phasellus ultricies diam non neque malesuada, ut condimentum nibh luctus.</p>
              </div>
            </div>
          </div>
          <div ref="accordion-item-10" class="accordion-item mb-1">
            <h2 class="accordion-header" id="heading10">
              <button class="accordion-button d-flex justify-content-between font-weight-black collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
                Személyesen is fordulhatok a DermaSoul szakembereihez?
                <i class="icon-chevron-up fz-16 ms-2"></i>
              </button>
            </h2>
            <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo. Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae, interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras at orci vitae dolor facilisis convallis.</p>
                <p>Sed eleifend, sem interdum accumsan facilisis, urna ante rutrum elit, id volutpat ligula mauris pellentesque ex. Aliquam interdum dolor nec felis egestas, ut consectetur sem viverra. Sed ex lorem, eleifend vel mattis quis, gravida a sapien. Vivamus tristique arcu quis dapibus pellentesque. Cras egestas elit at dolor posuere, eget scelerisque sem euismod. Maecenas sed enim ac nisi venenatis porta. Suspendisse elementum libero sollicitudin, maximus risus nec, euismod turpis. Duis eleifend sit amet enim pretium cursus. Pellentesque id mauris a risus tristique eleifend. Aliquam consequat arcu quis sagittis tincidunt. Nulla arcu magna, fringilla non tempor vel, rutrum ac massa.</p>
                <p>Proin non efficitur nunc, eu viverra massa. Praesent sed nisl id dolor mattis dapibus. Proin tristique id ligula id placerat. Donec varius odio in nulla blandit tincidunt id at nisi. Curabitur risus enim, bibendum porttitor volutpat sed, hendrerit id mauris. Suspendisse laoreet scelerisque sollicitudin. Praesent a leo est. Aenean sodales leo elit, id mollis lorem dictum quis. Cras ullamcorper varius eros vitae mollis. Phasellus ultricies diam non neque malesuada, ut condimentum nibh luctus.</p>
              </div>
            </div>
          </div>
          <div ref="accordion-item-13" class="accordion-item mb-1">
            <h2 class="accordion-header" id="heading13">
              <button class="accordion-button d-flex justify-content-between font-weight-black collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
                Mikor érdemes szakemberhez fordulni?
                <i class="icon-chevron-up fz-16 ms-2"></i>
              </button>
            </h2>
            <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="heading13" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo. Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae, interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras at orci vitae dolor facilisis convallis.</p>
                <p>Sed eleifend, sem interdum accumsan facilisis, urna ante rutrum elit, id volutpat ligula mauris pellentesque ex. Aliquam interdum dolor nec felis egestas, ut consectetur sem viverra. Sed ex lorem, eleifend vel mattis quis, gravida a sapien. Vivamus tristique arcu quis dapibus pellentesque. Cras egestas elit at dolor posuere, eget scelerisque sem euismod. Maecenas sed enim ac nisi venenatis porta. Suspendisse elementum libero sollicitudin, maximus risus nec, euismod turpis. Duis eleifend sit amet enim pretium cursus. Pellentesque id mauris a risus tristique eleifend. Aliquam consequat arcu quis sagittis tincidunt. Nulla arcu magna, fringilla non tempor vel, rutrum ac massa.</p>
                <p>Proin non efficitur nunc, eu viverra massa. Praesent sed nisl id dolor mattis dapibus. Proin tristique id ligula id placerat. Donec varius odio in nulla blandit tincidunt id at nisi. Curabitur risus enim, bibendum porttitor volutpat sed, hendrerit id mauris. Suspendisse laoreet scelerisque sollicitudin. Praesent a leo est. Aenean sodales leo elit, id mollis lorem dictum quis. Cras ullamcorper varius eros vitae mollis. Phasellus ultricies diam non neque malesuada, ut condimentum nibh luctus.</p>
              </div>
            </div>
          </div>
          <div ref="accordion-item-8" class="accordion-item mb-1">
            <h2 class="accordion-header" id="heading8">
              <button class="accordion-button d-flex justify-content-between font-weight-black collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                Tudok-e a DermaSoulhoz fordulni, ha sürgősen segítségre van szükségem?
                <i class="icon-chevron-up fz-16 ms-2"></i>
              </button>
            </h2>
            <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget pellentesque mauris, euismod scelerisque mauris. Proin efficitur libero nec ligula dictum molestie non non ante. Donec viverra efficitur nibh, ac porttitor velit molestie ac. Sed consequat arcu tempor, convallis tellus nec, ultrices leo. Suspendisse potenti. Curabitur viverra ut turpis sed congue. Aliquam eu dolor bibendum, ornare dui vitae, interdum elit. Quisque pretium felis lectus, sed sodales lacus posuere eu. Nunc non pellentesque neque. Cras at orci vitae dolor facilisis convallis.</p>
                <p>Sed eleifend, sem interdum accumsan facilisis, urna ante rutrum elit, id volutpat ligula mauris pellentesque ex. Aliquam interdum dolor nec felis egestas, ut consectetur sem viverra. Sed ex lorem, eleifend vel mattis quis, gravida a sapien. Vivamus tristique arcu quis dapibus pellentesque. Cras egestas elit at dolor posuere, eget scelerisque sem euismod. Maecenas sed enim ac nisi venenatis porta. Suspendisse elementum libero sollicitudin, maximus risus nec, euismod turpis. Duis eleifend sit amet enim pretium cursus. Pellentesque id mauris a risus tristique eleifend. Aliquam consequat arcu quis sagittis tincidunt. Nulla arcu magna, fringilla non tempor vel, rutrum ac massa.</p>
                <p>Proin non efficitur nunc, eu viverra massa. Praesent sed nisl id dolor mattis dapibus. Proin tristique id ligula id placerat. Donec varius odio in nulla blandit tincidunt id at nisi. Curabitur risus enim, bibendum porttitor volutpat sed, hendrerit id mauris. Suspendisse laoreet scelerisque sollicitudin. Praesent a leo est. Aenean sodales leo elit, id mollis lorem dictum quis. Cras ullamcorper varius eros vitae mollis. Phasellus ultricies diam non neque malesuada, ut condimentum nibh luctus.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="text-center my-4 py-2">
          <ds-button :button-label="showMoreButton ? 'Mutass kevesebbet!' : 'Mutasd mindet!'" @click="showMoreFaqItems" />
        </div>

        <div class="main__faq--gradient p-4 py-md-5 text-white text-center">
          <h5 class="text-white mb-3 lh-26">Van még megválaszolandó kérdése? Írjon nekünk!</h5>
          <a href="" class="text-white">info@domain.hu</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {
    Hooper,
    Slide,
    Pagination as HooperPagination,
    Navigation as HooperNavigation,
  } from 'hooper';
  import Parallax from '@/components/Parallax/Parallax';
  import topicsItems from '~/contents/topicsItems.json';

  export default {
    name: 'Index',
    components: {
      Hooper,
      Slide,
      HooperPagination,
      HooperNavigation,
      Parallax
    },
    data() {
      return {
        registered: false,
        topics: topicsItems,
        bgImg: 'main__info-block.jpg',
        friction: 1 / 1000,
        defaultFaqItems: 2,
        showMoreButton: false,
        hooperSettings: {
          itemsToShow: 3,
          infiniteScroll: true,
          wheelControl: false,
          centerMode: true,
          autoPlay: true,
          playSpeed: 7000,
          breakpoints: {
            640: {
              itemsToShow: 2
            },
            767: {
              itemsToShow: 3
            },
            991: {
              itemsToShow: 4
            },
            1199: {
              itemsToShow: 5,
            }
          }
        }
      };
    },
    computed: {
      faqItems () {
        return this.$refs['accordion'].children;
      }
    },
    methods: {
      slidePrev () {
        this.$refs.carousel.slidePrev();
      },
      slideNext () {
        this.$refs.carousel.slideNext();
      },
      toggleFaqItems (value) {
        for (let i = 0; i < this.faqItems.length; i++){
          const child = this.faqItems[i];
          if (i > value) {
            child.style.display = 'none';
          } else {
            child.style.display = 'block';
          }
        }
      },
      showMoreFaqItems () {
        const faqItemsLength = this.faqItems.length;
        if (this.showMoreButton) {
          this.toggleFaqItems(this.defaultFaqItems);
          this.showMoreButton = false;
        } else {
          this.toggleFaqItems(faqItemsLength);
          this.showMoreButton = true;
        }
      }
    },
    mounted() {
      this.toggleFaqItems(this.defaultFaqItems);
    }
  };
</script>

<style lang="scss" scoped>
  .main {
    &__header {
      @include media-breakpoint-up(lg) {
        background: url('~/assets/images/main__header.jpg') no-repeat center top / cover;
      }

      @include media-breakpoint-up(md) {
        height: 420px;
      }

      background: url('~/assets/images/main__header-m.jpg') no-repeat center top / cover;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 30%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FDE0CB 100%);
        pointer-events: none;
      }

      h2 {
        @include media-breakpoint-down(md) {
          font-size: 1.5rem;
        }
        @include media-breakpoint-up(md) {
          line-height: 3.25rem;
          max-width: 70%;
          padding-top: 13%;
        }

        padding-top: 33%;
      }
    }

    &__results {
      @include media-breakpoint-up(lg) {
        background: $body-color url('~/assets/images/main__results.jpg') no-repeat left top / cover;
      }

      background: $body-color url('~/assets/images/main__results-m.jpg') no-repeat left top / cover;

      h3 {
        @include media-breakpoint-up(lg) {
          max-width: 780px;
        }
      }

      &--box {
        @include media-breakpoint-up(xl) {
          padding: 2.5rem;
        }
        padding: 1.5rem;
        background: linear-gradient(90.27deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.04) 100.09%);
        border: 1px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(8px);
        border-radius: 10px;

        p {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &__info-block {
      z-index: 1;
      .container {
        max-width: 770px;
      }
    }

    &__advantages {
      @include media-breakpoint-up(md) {
        &--row {
          margin: 0 -3rem;
        }
        &--item {
          padding: 0 3rem;
        }
      }
      &--image {
        @include media-breakpoint-up(lg) {
          max-width: 140px;
        }
        max-width: 100px;
      }
    }

    &__works {
      background: $body-color;
      overflow: hidden;

      h3 {
        @include media-breakpoint-up(lg) {
          max-width: 650px;
        }
      }

      &--list {
        li {
          padding-bottom: 1.25rem;

          .icon-check {
            color: $ds-light;
          }
        }
      }

      &--themes {
        overflow: hidden;
        @include media-breakpoint-down(sm) {
          margin-left: -1rem;
          margin-right: -1rem;
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }

      &--carousel {
        height: auto;

        &__outer {
          padding-bottom: 4rem;
          @include media-breakpoint-down(sm) {
            margin-left: -13rem;
            margin-right: -13rem;
          }
          @include media-breakpoint-up(lg) {
            margin-left: -8%;
            margin-right: -8%;
            position: relative;

            &:before,
            &:after {
              content: '';
              position: absolute;
              top: 0;
              bottom: 4rem;
              width: 10%;
              z-index: 10;
              pointer-events: none;
            }
            &:before {
              left: 6%;
              background: linear-gradient(90deg, $body-color 30%, rgba(255,255,255, 0%) 100%);
            }
            &:after {
              right: 6%;
              background: linear-gradient(-90deg, $body-color 30%, rgba(255,255,255, 0%) 100%);
            }
          }
        }

        &__item {
          margin: 0 0.625rem;
        }

        &__image {
          object-fit: cover;
          height: 120px;
        }
      }
    }

    &__cost {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
        background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
      }

      .container {
        @include media-breakpoint-up(md) {
          padding-top: 170px !important;
          padding-bottom: 170px !important;
        }
      }

      h3 {
        max-width: 600px;
      }

      .btn-lg {
        width: 100%;
        max-width: 276px;
      }

      &--list {
        background-color: $white;
      }
    }

    &__partners {
      background-color: $white;
    }

    &__faq {
      &--gradient {
        background: linear-gradient(270deg, $primary 0%, $default 100%);
        border-radius: 10px;
      }
    }
  }
</style>

<style lang="scss">
.main__works--carousel {
  .hooper-navigation {
    position: absolute;
    left: 50%;
    bottom: -2.625rem;
    transform: translateX(-50%);
    width: 16rem;

    button {
      padding: .625rem 1rem;
      color: $primary;
      transition: color 0.15s ease-in-out;
      &:hover {
        color: $secondary;
      }
      svg {
        display: none;
      }
      &::before {
        content: "";
        font-family: 'ds-icon';
        font-size: 1.5rem;
        line-height: 1;
      }

      &.hooper-prev {
        &:before {
          content: "\e92f";
        }
      }
      &.hooper-next {
        &:before {
          content: "\e930";
        }
      }
    }
  }
}
</style>
