@if index($hamburger-types, spin-r) {
  /*
   * Spin Reverse
   */
  .hamburger--spin-r {
    .hamburger-inner {
      transition-duration: 0.3s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

      &::before {
        transition: top 0.1s 0.34s ease-in,
                    opacity 0.1s ease-in,
                    background .14s;
      }

      &::after {
        transition: bottom 0.1s 0.34s ease-in,
                    background .14s,
                    transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
    }

    &:not(.collapsed) {
      .hamburger-inner {
        transform: rotate(-225deg);
        transition-delay: 0.14s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

        &::before {
          top: 0;
          opacity: 0;
          transition: top 0.1s ease-out,
                    background .14s,
                      opacity 0.1s 0.14s ease-out;
        }

        &::after {
          bottom: 0;
          transform: rotate(90deg);
          transition: bottom 0.1s ease-out,
                    background .14s,
                      transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
      }
    }
  }
}
